[2018-09-21 07:45] stanstrup commented on #82
To update this. Newer versions of Proteowizard should work. It is unclear if the lockmassrefiner needs to be used. It apparently depends on the version of masslynx installed and what was used to generate the data. it is a big mess.

[2018-09-24 07:04] tsufz opened #206 "Conditional creation of MassBank records"
Add a structure to the record parser to parse only filled tags. Some tags such as publication and project may be not filled and thus doen't need to be parsed into the final record in order avoid post-processing.

[2018-09-24 08:11] schymane commented on #206
Can you please clarify … do you mean that you want to exclude empty record fields during record creation? I.e. the PUBLICATION: field is taken from the settings but if empty, is currently included in the final MassBank records anyway? Is that what you mean?
https://github.com/MassBank/RMassBank/blob/master/inst/RMB_options.ini#L41

We do not yet have a project tag implemented, as far as I know. Ar

[2018-09-24 14:57] tsufz commented on #206
I work on the implemenation and also of implemantion of the project tag #194

[2018-09-27 10:45] sneumann opened #207 "Round-trip for MassBank reading/writing"
Hi, it would be great if we could test (and ensure) that RMB can round-trip MassBank-data:
using `parseMassBank()` to read them into a `mbWorkspace`, and then `exportMassbank()`
them to disk, without any processing. Input and output should be identical.
Yours, Steffen

[2018-10-08 15:28] tsufz opened #208 "Unknown SSL protocol error in connections with RCurl under Windows"
RCurl derives an unknown SSL protocol error during queries with [Cactus](https://cactus.nci.nih.gov)

`library(RCurl)`
Loading required package: bitops

`getURLContent("https://cactus.nci.nih.gov/chemical/structure/7529-22-8/stdinchikey")`
error in function (type, msg, asError = TRUE)  :
  Unknown SSL protocol error in connection to cactus.nci.nih.gov:443

`sessionInfo()`
R version 3.5.1 (2018-07-

[2018-10-08 15:34] tsufz commented on #208
I suggest to replace the RCurl routines with [`httr`](https://cran.r-project.org/web/packages/httr/vignettes/quickstart.html) which may be less sensitive to missconfigurations:

`library(httr)`

Attaching package: ‘httr’

The following object is masked from ‘package:curl’:
    handle_reset

`x <- GET("https://cactus.nci.nih.gov:443/chemical/structure/7529-22-8/stdinchikey")`

`content(x)`

[1] "In

[2018-10-18 06:04] sneumann opened #209 "Build error due to "Error in fromJSON(data) : no data to parse""
Hi, on BioC we currently get a build error on all platforms due to
[code]
resulting in `Error in fromJSON(data) : no data to parse`.

=> Is that RMB or an issue on CTS side ?

Yours, Steffen

[2018-10-18 06:17] schymane commented on #209
CTS seems to be working but looks different … have they changed their services?
https://cts.fiehnlab.ucdavis.edu/services

[2018-10-18 06:48] #204 closed

[2018-10-18 06:56] schymane commented on #209
I just reinstalled but have the same error:

Error in fromJSON(data) : no data to parse

[2018-10-18 07:00] schymane commented on #209
But the URL created in the code should work:
![image](https://user-images.githubusercontent.com/4070141/47136476-0daa2200-d2b4-11e8-9210-9cf35492f41d.png)

SessionInfo()
R version 3.4.2 (2017-09-28)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=English_Australia.1252  LC_CTYPE=English_Australia.1252    LC_MO

[2018-10-18 07:04] tsufz commented on #209
Same for me:

`library(RMassBank)`
`data <- getCtsRecord("UHOVQNZJYSORNB-UHFFFAOYSA-N")`
Error in fromJSON(data) : no data to parse

`sessionInfo()`
R version 3.5.1 (2018-07-02)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=English_United Kingdom.1252  LC_CTYPE=English_United Kingdom.1252    LC_MONETARY=Engl

[2018-10-18 07:09] tsufz commented on #209
I just started a conversation with Duncan, the maintainer of RCurl, but this stuced somehow. We checked some things, but it did not change. I dunno if something happens with RCurl... I wrote a workaround using `httr`:

`get_cactus <- function(identifier,representation){
        ret <- tryCatch(GET(paste("https://cactus.nci.nih.gov/chemical/structure/",
                                            U

[2018-10-18 07:12] schymane commented on #209
I don’t get it … is this a load library problem? Do we have to change something in DESCRIPTION or somewhere else?
If I explicitly call library(RCurl) and library(rjson) it works and if not it doesn’t.
Here’s things working fine from “abgespekte” getCtsRecord code:
https://github.com/MassBank/RMassBank/blob/master/R/webAccess.R#L187

Restarting R session...

Warning messages:

1: In fun(libname, pk

[2018-10-18 07:42] tsufz commented on #209
In a pure R command line `R --vanilla`, I get the following:

`library(RCurl)`
`getURL("http://cts.fiehnlab.ucdavis.edu/service/compound/UHOVQNZJYSORNB-UHFF`
[1] ""

If I use the https URL, all seems to be fine:
`getURL("https://cts.fiehnlab.ucdavis.edu/service/compound/UHOVQNZJYSORNB-UHFF`
[1] ....

Here, the change to https may resolve the problem. The problem with CACTUS still persists:

Error

[2018-10-18 08:04] schymane commented on #209
Indeed ... this works:
https://cactus.nci.nih.gov/chemical/structure/UHOVQNZJYSORNB-UHFFFAOYSA-N/smiles
![image](https://user-images.githubusercontent.com/4070141/47139782-f3287680-d2bc-11e8-87f6-e88ce5ce0ebe.png)

but not in R:

Error in function (type, msg, asError = TRUE)  :
  Unknown SSL protocol error in connection to cactus.nci.nih.gov:443

[2018-10-18 11:01] schymane commented on #208
Maybe related? I have just had a report of a failure downstream with our test data ... with our standard workflow (default settings) Babeldir is not set and CACTUS should be the back-up, it appears this now fails too...

![image](https://user-images.githubusercontent.com/4070141/47150093-cdf43200-d2d5-11e8-9384-9915b39380af.png)

[2018-10-18 12:38] schymane commented on #192
See: https://github.com/ropensci/webchem/issues/149#issuecomment-430987606
@meowcat  was right :-)
https://github.com/NIVANorge/chemspideR

[2018-10-18 13:16] tsufz commented on #192
Hmm, time to skip? You need to supply your token to reveive data from the new API... so far I understood correctly. With this policy they will get unlinked in future...

[2018-10-18 13:29] tsufz commented on #192
One can send 1000 per month per free, but needs efforts on all sides (except for CS, they already implemented), the user needs an account and we need to refactorise our code :-(

[2018-10-18 13:32] tsufz commented on #192
should process remaining records soon...

[2018-10-22 08:41] sneumann commented on #209
The issue started here was in particular on the CTS issue. Unfortunately
my patch #210  (merged by Emma, thanks!) fixed only one occurrence
of the baseURL , so I committed https://github.com/MassBank/RMassBank/commit/1ce4d1620e0ba892d42c7afa02770ced5c61d5da to fix the rest.

We still need someone (@meowcat ?) to push to BioC.

The `Unknown SSL protocol error` is a separate Windows / RCurl issue,
p

[2018-10-23 08:45] schymane commented on #199
I'm setting this to high priority as it still seems an issue with latest rcdk and I again had to retrofix to 3.4.3 to get RMB to work properly. I have not yet had time to look into it in greater detail.

[2018-10-23 09:38] schymane commented on #199
Pasting input from @sneumann

I have one Linux R here that works:
R (devil version :-)
rcdklibs_2.0
rcdk_3.4.7.1 (newest on CRAN)

and one that does not:
R (version 3.4.4)
rcdklibs_2.2
rcdk_3.4.9

BioC machines have

malbec1:                                            Version Built
rcdk                                                3.4.7.1 3.5.1
rcdklibs

[2018-10-23 09:49] schymane commented on #209
I can confirm that https://github.com/MassBank/RMassBank/commit/1ce4d1620e0ba892d42c7afa02770ced5c61d5da fixed this issue for me too, but I guess we can only resolve this once pushed to BioC @meowcat ?

[2018-10-24 08:04] meowcat commented on #209
So. I now shipped the thing to Bioc, hoping for the best, but will also build locally just to make sure...

[2018-10-24 12:05] meowcat commented on #209
Builds apparently without warning on Windows, R 3.5.1, Bioc 3.8 devel. Keeping issue open until Bioc build confirms this.

[2018-10-24 12:08] meowcat commented on #208
@tsufz thanks for the work, I have provisionally added the workaround (slightly adapted) in 0c82f3b7df06f127ff367462b9afb458649b16be. It is building successfully on Windows. I am waiting for a successful Bioc build in order to close the issue.

RCurl should probably be removed completely at this point; up to now it's only a minimal workaround.

[2018-10-24 14:52] meowcat commented on #196
No, I don't think we highlight that anywhere specifically.

[2018-10-24 14:52] #196 closed

[2018-10-25 19:29] sneumann commented on #209
BioC build passes with 2.9.2 (0c82f3b) all green ! Thanks everyone for fixing this just in time ;-) Yours, Steffen

[2018-10-25 19:29] #209 closed

[2018-10-28 19:07] rajarshi commented on #199
The excessively verbose output issue is now resolved.

The `get.exact.mass` problem remains and I don't have a good fix for that (it seems like an issue on the CDK side)

[2018-10-28 20:43] schymane commented on #199
I can confirm that the verbose output seems to have improved recently.
Do you happen to know if get.exact.mass has been replaced by a new function in CDK, or has it just changed behaviour somehow?
We'll have to debug and add a backwards compatible fix ASAP.

[2018-10-29 07:30] schymane commented on #202
This is an rcdk issue and is resolved in latest versions - you can get around this by using either earlier or newer versions of rcdk. Closing this for now as it is resolved, but we have another issue with rcdk upgrades going in another issue.

[2018-10-29 07:30] #202 closed

[2018-10-29 07:39] schymane commented on #199
Documenting email conversation outside github for the record:
Zach:
- the `get.exact.mass` function is a breaking change in the CDK library.  Therefore an update of rCDKlibs (independent of rcdk) to version 2.2 will break that function

Actions suggested by Zach:
1. fixing the `get.exact.mass` issue  - ideally to be backward compatible [rcdk/RMassBank].
2. updating master with a few other small fi

[2018-10-29 07:54] schymane commented on #195
I suggest to close this for now as it would add an extra dependency and require additional changes and future maintanence - I think we should consider the option of enhancing metadata on the MassBank-data side?

[2018-10-29 07:54] #195 closed

[2018-10-29 08:02] schymane commented on #192
I suggest the way forward here is to modify our getCSID function to return NA (or similar) and a warning message once the old API is shut down; we can still use e.g. CTS as a source of CSIDs in RMB as we had this from the beginning. getCSID was a relatively late addition. Agreed @meowcat ?
I use getCSID in my packages so we still need the function present to avoid downstream breakages.

The better

[2018-10-29 08:29] meier-rene commented on #192
Yes, we preparing a tool which should augments existing records with additional information(atm. for INCHIKEY and PUBCHEM ID ). This could be applied routinely to update to new accessions/IDS and so on and im pretty sure could be extended to other sources as well.

[2018-10-29 16:48] schymane commented on #192
I have just checked our code and we should be covered:
https://github.com/MassBank/RMassBank/blob/master/R/createMassBank.R#L523
and
https://github.com/MassBank/RMassBank/blob/master/R/webAccess.R#L376

The latter already checks if ChemSpider is offline and returns a warning and NA, the former tries cactus second if the first function fails. I guess we will see for sure end of November and can clo

[2018-11-06 07:18] schymane commented on #199
Update from Zach (rcdk side) following latest commit with todos that hit the RMassBank team - I have calculations to run today before I can start so if anyone else has a moment ... we need to check that the masses we get out are correct ... and still need to find the get.exact.mass issue

2.	An issue in the '.cdkFormula.createObject' function related to isotope weight calculation that was causing

[2018-11-10 19:47] sneumann commented on #199
Step 2 still not working. Upgraded to github rcdk `3.4.9.1` version.
[code]
The `childPeaks <- as.data.frame(do.call(rbind, peakmatrix))` is only where the issue manifests, the problem must be earlier. Digging into the error, the peakmatrix seems to look like:
[code]
I don't know the narcotics dataset enough to guess 1) what the cpds with the failling mass are,
2) what the entries with the empty l

[2018-11-10 22:48] schymane commented on #199
It's not the same errors I was getting today (the last one overlaps a little) but basically it seems to indicate to me that the latest rcdks still don't quite reproduce the functionality that we rely on fully and I'm not sure it's a problem our side yet as I saw no issues with the masses today with the latest rcdk. It doesn't make sense that our masses are suddenly out of range?
You can find the c

[2018-11-11 17:03] schymane commented on #199
I don't get quite the same error or traceback at @sneumann - I just installed the latest rcdk and get the following at step 2:
[code]
and with traceback()
[code]

and sessionInfo()
[code]

Everything works fine with rcdk 3.4.3 ...

[2018-11-14 16:35] schymane commented on #208
It might be building on BioC but I am only getting NAs for all our test data and everything else?

[code]

[2018-11-14 16:42] schymane commented on #208
OK our bad ... fresh install of BioC for Loulou didn't pull the latest RMB for some reason ... httr cactus is working...

[2018-11-14 16:42] #208 closed

[2018-11-19 08:35] sneumann commented on #208
Hi, remember that BioC/RMB package versions are tied to the R version.
So "old" (as in not-brand-new) R will fetch old RMBs. Installing cutting-edge RMB
in "normal" (as in not-brand-new) R requires manual `install_guthub()` action. Yours, Steffen

[2018-11-27 19:51] sneumann commented on #199
The error message I get above in https://github.com/MassBank/RMassBank/issues/199#issuecomment-408120144
is coming from https://github.com/cdk/cdk/blob/master/legacy/src/main/java/org/openscience/cdk/formula/MassToFormulaTool.java#L258
Still no idea what changed in the last CDKs relevant to us. Yours, Steffen

[2018-11-27 23:59] rajarshi commented on #199
I think returning an empty list, plus a `warning()` would be more appropriate than throwing an error (which is a pain to handle). Also, this should probably be documented better on the `rcdk` side

[2018-11-28 06:03] sneumann opened #212 "Re-enable unitTests"
Hi, apparently unit tests are disabled via a check for a (non-existing) RMassBankData version in
https://github.com/MassBank/RMassBank/blob/master/tests/doRUnit.R#L8
Should be re-enabled, but currently increasing build time quite a bit. Yours, Steffen

[2018-11-29 23:34] sneumann commented on #199
So, with RMB fixes in https://github.com/sneumann/RMassBank/commit/93cb1608669dcc659d267e6a28fbd689b07b8587 we get as far as
[code]
in the vignette, which will likely vanish if rcdk gets the NPEs fixed.
Yours, Steffen

[2019-02-15 19:23] kg737 commented on #104
Any update? I am having a same issue

[2019-02-15 20:17] schymane commented on #104
As mentioned in the issue trace, without data or more information, we cannot debug or recommend what to do. This is the first report since the original message...
If you are having issues, please provide more information as to your exact problem, thanks.

----------------------------------------------
PI: EnvCheminf @ LCSB
FNR ATTRACT Fellow
emma.schymanski@uni.lu

On Fri, Feb 15, 2019 at 8:23 PM

[2019-04-03 18:47] #199 closed

[2019-05-07 07:00] schymane opened #215 "Add DTXSIDs into RMassBank identifiers"
The EPA have preliminary webservices now available to retrieve DTXSIDs by InChIKey, we should add this into RMassBank to retrieve these for new records (and note that this may change again in the future)

https://github.com/MassBank/RMassBank/blob/master/R/webAccess.R

https://actorws.epa.gov/actorws/chemIdentifier/v01/resolve?identifier=IKHGUXGNUITLKF-UHFFFAOYSA-N
https://actorws.epa.gov/actorws/

[2019-05-08 10:59] adelenelai commented on #215
working on it

[2019-05-14 07:08] meier-rene commented on #215
We have added this in MassBank. If you like you can skip this because its easy to post process records in MassBank.

[2019-05-14 07:31] tsufz commented on #215
@meier-rene I don't agree to progress everything with MassBank only. MassBank records should be applicable on a private repository with parsing tools without MassBank in game. DTXSID is an important identifier and thus it should be processed with RMassBank.

[2019-05-16 12:27] adelenelai commented on #215
Hi, EPA webservices seem to be down now, the links in @schymane 's original post don't work @ChemConnector
Are there new URLs which work?

[2019-05-16 12:31] ChemConnector commented on #215
The services are down because they ran an update overnight and one of the
certificates expired and broke things. They are working on it in production
(NOT our team) and hopefully things will come up soon. Apologies for the
inconvenience.

Tony Williams

Phone: +1 (919) 201-1516
Email: tony27587@gmail.com
Skype: tony27587
My Blog: www.chemconnector.com
Twitter: http://twitter.com/ChemConnector

On

[2019-05-17 07:10] schymane commented on #215
The services should be up again @adelenelai can you check if they work for you now?
See also https://github.com/MassBank/MassBank-data/issues/68 for updates

[2019-05-24 07:59] he-ob opened #216 "Include scan range in RMassBank workflow"
See https://github.com/MassBank/MassBank-web/issues/138

@schymane will follow up.

[2019-05-27 14:08] adelenelai commented on #215
Note (mostly to self, also for documentation):

It is possible for a DTXSID to not exist for a particular compound, because not all stereochemistries of a compound exist in the CompTox Dashboard.

Assuming webservices and Dashboard are in sync, (see MassBank/MassBank-data#68) any attempts to manually curate infolists in Step 2 of mbWorkflow for DTXSID will not be successful either - the DTXSID jus

[2019-06-03 09:53] schymane commented on #215
Yes, it is common that identifiers are missing, so modelling this on the way that ChEBI identifiers are handled is the right way to go ... I don't think we need an explicit declaration because the fact that it is missing is implicitly clear in the absence of a corresponding entry in the infolist. Some of the identifiers like KEGG, ChEBI and LipidMaps have very few matches and explicit statements w

[2019-07-01 06:46] schymane opened #218 "Include scan number in output spectra/MassBank records"
See discussion
https://github.com/MassBank/MassBank-data/issues/79

- PSI identifier
- GNPS example

Including the scan number will allow users to extract also the raw data - this will require also that we cross-link our records to the raw data (same discussion)

[2019-07-01 07:07] schymane commented on #218
We (@tsufz and I) would propose to have a new field to do this:
MS$DATA_PROCESSING: SCAN_NUMBER 1234
and we will post an issue in MassBank-web
@meier-rene @Treutler

@MaliRemorker @adelenelai the scan number is already used/available in the RMassBank workflow, do you want to investigate further? Will help debugging if it's in the records not just the failpeaks list.

[2019-07-02 12:33] meowcat commented on #218
Hmm... On what time scale is this important? I'm asking because in the best of cases, I would like to substitute the actual record generation step by simply casting into a template using github.com/MSnio. It can easily be hacked in already, of course.

[2019-07-02 13:20] schymane commented on #218
I would prefer a quick hack for now so that we can start playing around with linking raw data

[2019-07-02 13:48] meier-rene commented on #218
I would appreciate it if you could create a minimal example for me.

[2019-07-02 13:49] schymane commented on #218
Do you need a minimal example for RMassBank? Or MassBank-data?

[2019-07-02 13:50] meier-rene commented on #218
Just an example record file.

[2019-07-02 13:51] schymane commented on #218
Basically, the scan number is already stored internally in RMassBank, we just need to print it out - but haven't yet actually done this. There also isn't the accepted tag yet - do you agree with MS$DATA_PROCESSING: SCAN_NUMBER 1234 ?

[2019-07-02 13:55] meier-rene commented on #218
For me this is fine. I could include this into the record spec file. But if I understand it correctly this is related to the raw data file linking. Is it directly connected or does it make sense without the raw data linking?

[2019-07-02 13:59] schymane commented on #218
It makes less sense without the raw data linking, but would still be useful. For instance, we are now doing a prescreening workflow internally and if we can actually print the scan number into the record, it helps us debug our results in the vendor file. Eventually our plans are that when we upload the records, we will also deposit the raw data with the records and add those respective fields as w

[2019-07-02 14:01] meier-rene commented on #218
Ok, then I will implement this two items independently, which makes it easier.

[2019-07-02 14:03] schymane commented on #218
Makes sense. Then people will be able to link raw data without specifying the scan, and specify scan without linking raw data. I see that both cases will happen, even if the ideal is that they are coupled, we do not want to eliminate one because the other is missing.

[2019-07-02 14:37] meowcat commented on #218
Is DATA_PROCESSING the right tag for this? Shouldn't DATA_PROCESSING say which steps were taken to process the data?

Retention time, which is analogous to scan number, is in CHROMATOGRAPHY. (But I understand that here the important thing is the link to the raw data and not so much the "time" dimension of the scan #.)

By the way, how would you deal with spectra that are derived from multiple scan

[2019-07-02 14:39] meowcat commented on #218
Maybe we shouldn't be too shy to implement a new `MS$` tag for provenance, but I don't know how hard this is on the database side.

[2019-07-02 14:44] schymane commented on #218
@tsufz and I iterated through a few options and ended up at DATA_PROCESSING as the best but not perfect solution. A new MS$ tag would be an idea too. So something like this?

MS$RAW: SCAN_NUMBER 1234

or MS$SCAN: 1234 1235 1236 1237
(space separated in the case of multiple? other suggestions?)

[the rest for the record were]
MS$RAW: DOI ...
MS$RAW: GNPS ....
MS$RAW: METABOLIGHTS ...
MS$RAW: METABO

[2019-07-03 10:50] sneumann commented on #218
Hi, I would like to keep this not too far from the mzML specification http://www.psidev.info/mzML
where spectrum references have been discussed in-depth. There are two flavours in
http://www.peptideatlas.org/tmp/mzML1.1.0.html#spectrum:
1) The `index`, which is `The zero-based, consecutive index of the spectrum in the SpectrumList.`
2) The `id` which is `The native identifier for a spectrum.` whic

[2019-07-05 12:35] meowcat opened #219 "Consistency and correctness in filterMultiplicity"
Hi,

because I am bringing my s4power branch up to date, I have noticed a possible inconsistency in how `filterMultiplicity` handles masses with multiple possible formulas. I will try to make a minimal reproducible example, but it's a bit tedious.

When there are multiple formulas with the same multiplicity (which is also the highest multiplicity for that mass), and `recalcBest` is active, the bes

[2019-07-11 10:43] tsufz commented on #218
@sneumann, This is quite different in the Thermo export:
`<spectrum index="0" id="controllerType=0 controllerNumber=1 scan=1" defaultArrayLength="234" dataProcessingRef="pwiz_Reader_Thermo_conversion">`

In the original data, there is no index, just a scan number. I suggest to go with:
`MS$RAW: SCAN 1234`

I also suggest to separate different scans with a `SPACE` in a vector, which is MB record fo

[2019-07-11 11:12] tsufz commented on #218
`MS$RAW: SCAN 1234` was a mistake, but I like the idea to reduce the number of main tags and to work with subtags to avoid main tag inflation...

[2019-08-01 10:17] tsufz opened #221 "mbWorkflow creates wrong record file names in mode pNH4"
The workflow always writes out "character(0).txt" and thus only one record is generated because the records are overwritten.

[2019-08-01 10:18] tsufz commented on #221
R version 3.6.1 (2019-07-05)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 17763)

Matrix products: default

locale:
[1] LC_COLLATE=English_United Kingdom.1252  LC_CTYPE=English_United Kingdom.1252    LC_MONETARY=English_United Kingdom.1252
[4] LC_NUMERIC=C                            LC_TIME=English_United Kingdom.1252

attached base packages:
[1] grid      stats

[2019-10-22 07:46] stanstrup opened #222 "msmsRead looses files"
I ran the code from the XCMS vignette and noticed that you input two files but after `msmsRead` only one file is left in the object.
I assume that is a bug?

[code]

[code]

[code]

[code]

[code]

[2019-12-09 11:47] sneumann opened #224 "Documentation how to keep all input peaks"
Hi, when using existing peak lists as input, it might be desirable
to skip any filtering of peaks (Yes, related to #186)
In particular, I seem to loose peaks in step6 (reanalyse peaks).
Seems I can't just skip step 6, so do I need to set `ppmFine` to some
insanely high value to match (and hence keep) any peak in my peaklist ?
Or is there something more obvious that I missed ?
Yours, Steffen

[2019-12-09 12:25] meowcat commented on #224
Hi,
as per email, here for general knowledge:
* set `@good` to `TRUE` in `RmbSpectrum2` objects
* I am sure this works in the `s4power` branch - I am not sure anymore about the current live branch. Please try `install_github("MassBank/RMassBank@s4power")` or I can look into a reproducible example with the live branch
* See an example of directly selecting OK peaks (with `s4power` branch):
https://

[2019-12-09 12:30] meowcat commented on #186
Looking at the output of `getData(RmbSpectrum2)` should list you everything that was calculated - it does not specifically tell you why a peak is out, but you can usually see. I would welcome if people tried `s4power` branch, since this allows for the addition of arbitrary additional attributes (internally stored as columns of a data frame) to `RmbSpectrum2` objects.

[2019-12-13 11:19] schymane opened #225 "CTS retrieving non-live CIDs"
We should make our default source of CIDs PubChem, and not CTS. There are too many discrepancies/error cropping up.
@meier-rene we may have to check the "status" of CIDs during validation, to catch and fix.

Example from freshly-created infolist:
https://pubchem.ncbi.nlm.nih.gov/compound/4644

[2019-12-13 13:07] tsufz commented on #225
Hi Emma,
This is a great enhancement. Using the source data source is always the
best option.

Have a nice weekend,
Tobi

[2019-12-16 10:46] michaelwitting opened #226 "Three letter Prefix for MB records"
Hi,
maybe I didn't find it, but is there already a support for three letter prefixes in RMassBank?
We change our prefixes at the BGC to differentiate between the same measurements on three different Q-ToFs (Bruker, Agilent, Sciex)
Best,
Michael

[2019-12-17 10:21] sneumann opened #227 "Merge and upstream S4Power branch"
Hi, I think it is important to merge the S4power branch as soon as possible.
Currently it is slightly hidden in a branch, but needs more testing and at the same time
it fixes several irks people have, and is mentioned in e.g.  #224 #219 #186 #171 #153 #143 #138 #42.
I heard several people (including me) saying they don't use it
because they use stock BioC installs of RMB. It should not be merged t

[2019-12-18 16:20] meowcat commented on #227
Hi,
yes, I fully support this; the reason this hasn't been done is because I haven't been able to keep track with the updates in the base(master) branch and there might be things fixed in the current version that I haven't fixed in s4power. It would be great if we could agree on a path forward! Dagstuhl too late?

[2019-12-18 16:58] #215 closed

[2020-02-11 09:28] sneumann commented on #227
Hi, have you seen https://github.com/MassBank/RMassBank/pull/231
which tries to pull some of the changes into `master` ? Unfortunately there are
several more merge conflicts, so the rest needs more manual intervention. Yours, Steffen

[2020-03-09 13:13] tsufz opened #232 "Compare precursor intensity vs. sum of fragments intensities"
In general, the sum of intensitites of the fragments of the MS2 spectrum should not be too different from the MS1 precursor intensity. Martin and I had the idea to implement this feature for smarter quality control of the resulting records.

We could also include some of the quality checks implemented in the validator. The earlier the problems are unraveled, the better.

The output could be a list

[2020-04-11 12:14] raalizadeh opened #233 "Inclusion of additional adducts"
Hello guys.
I am wondering if RMassBank can be updated/used in a way to include additional adducts info (for instance acetate adduct for neg mode) for processing. I am also attaching an R script which includes these adducts info and calculations.
[checkall_adducts.zip](https://github.com/MassBank/RMassBank/files/4464556/checkall_adducts.zip)
Thanks,
Reza

[2020-04-16 11:47] schymane commented on #225
getPcId will also return non-live CIDs for non-standard tautomeric forms. We can fix this using a function in RChemMass, but we should make sure we upgrade the getPcId function to automatically do this. On the "todo" list ...
[code]

[2020-04-17 06:06] schymane commented on #225
@meowcat I will need to upgrade getPcId to make sure it returns "live" CIDs, this is fine - but where can I check whether we grab PubChem CIDs from PubChem vs CTS? If we already use getPcId (not CTS), then all I will need to do is fix that function, then this issue is solved. Thanks.

[2020-04-17 08:28] meowcat commented on #225
So:
https://github.com/MassBank/RMassBank/createMassBank.R
Line 577 is where we call `gatherPubChem` to get data off PubChem.
https://github.com/MassBank/RMassBank/blob/611b78578b54156119080b57569c09586a18fe84/R/createMassBank.R#L577

Lines 602..608 is where we get CTS data. **To do:** what do we still need from CTS at this point?

https://github.com/MassBank/RMassBank/blob/611b78578b54156119080b5

[2020-04-18 15:14] schymane commented on #225
@meowcat I've created a new branch:
https://github.com/MassBank/RMassBank/tree/preferredPCIDs

I've added getPCIDs.CIDtype, adjusted getPcId and createMassBank.R (and updated my old email address). I'm stuck on the documentation - see emails.

[2020-04-20 08:03] schymane commented on #225
Just pushed https://github.com/MassBank/RMassBank/commit/445b43243036b18aad3c5343260652eb4945f9cf thanks to @MaliRemorker for docs tips.
@meowcat pls let me know if I should do a pull request (this results in a *lot* of changes), or if you want me to change anything?

[2020-07-06 15:21] meowcat commented on #233
Hi Reza,

sorry for answering late. Somehow went under.
Have you checked the current github master? (`install_github("MassBank/RMassBank")`) It has a large number of adducts available. It also has other modifications, and if you could test that your workflows still work with it, it would help me tremendously :)
[code]

[2020-07-27 08:43] tsufz opened #234 "Abandon master and move to main"
The new GitHub policy demands to abandon 'master' and to move the 'master' to 'main' repository. The background is clear, to get rid of the master/slave in information science.

See for example:

https://www.theregister.com/2020/06/15/github_replaces_master_with_main/
https://dev.to/afrodevgirl/replacing-master-with-main-in-github-2fjf

[2020-07-29 07:41] MaliRemorker opened #235 "Hash substitution incomplete in getCactus"
https://github.com/MassBank/RMassBank/blob/611b78578b54156119080b57569c09586a18fe84/R/webAccess.R#L75

... because `sub` is used instead of `gsub`.

An example:

This dies,
[code]

This works,
[code]
This also works ;) ,

[code]

Our master student, Anjana Elapavalore (@anjuraj15), bumped into the problem while trying to generate records for the SMILES above. She narrowed down to `getCactus` as th

[2020-07-29 09:37] #235 closed

[2020-07-29 09:55] tsufz commented on #234
Done

[2020-07-29 09:55] #234 closed

[2020-07-29 10:08] tsufz opened #238 "Adoption of a release process"
In MassBank-dev, @meier-rene implemented a release model. In my opinion, we should do the same for RMassBank.

[2020-08-04 09:05] korseby opened #239 "unable to find an inherited method for function `cleanElnoise`"
Hi,

(also referring @sneumann @meier-rene here)

I am currently trying to convert MSP spectra to MassBank records.

In the repo `https://github.com/korseby/RMassBank_mFam` running the script `msp2massbank.r` [probably in the function `runContributorToMassBankWorkflow` the call](https://github.com/korseby/RMassBank_mFam/blob/e4f36ccb2b08bfc50b0952087b364b883a4a89fa/galaxy/msp2massbank.r#L2191)

[c

[2020-08-05 21:14] Salonigupta3 opened #240 "Error using msmsRead and msmsWorkflow"
Hey contributors,

Can you please explain why I'm getting these errors? I followed the exact RMassBank Workflow given on site.
[code]
**Error in validObject(.Object) :
  invalid class “RmbSpectrum2List” object: undefined class for slot "elementMetadata" ("DataTable_OR_NULL")**

And then
[code]
**msmsWorkflow: Step 2. First analysis pre recalibration
  |                                  |   0%Error

[2020-08-06 06:44] meowcat commented on #240
Hi,

no idea. Looks like an issue with the SimpleList class? (Then of course step 2 will not work if step 1 failed...)

I could look at it if you provide me with a reproducible example. Have you also tried readMethod = "mzR" (which I consider standard) and do you need "xcms"? Are you using the version from BioConductor or the master from github?

[2020-08-06 06:49] meowcat commented on #239
Hi,

I am not overly familiar with the MetFamily usage of RMassBank, but it seems strange to skip steps there. It seems like you want to skip recalibration. For this you could just set
[code]
in the settings file.
On the other hand, the workflow probably works for the original mFam repo, so I could look into it if that doesn't resolve the problem...

[2020-08-06 08:06] korseby commented on #239
More particularly, it works with the [treutler-merge branch](https://github.com/MassBank/RMassBank/tree/treutler-merge). I reverted to that branch temporarily. The latest main branch also throws some errors like masses like 613 are too high. Any other checks that I need to be aware of?

[2020-08-06 10:01] Salonigupta3 commented on #240
The steps that I followed are of this file:
[https://www.bioconductor.org/packages/release/bioc/vignettes/RMassBank/inst/doc/RMassBankXCMS.R](url)

No, I have used readmethod="xcms".
I'm using th version from BioConductor page (2.16.0).

[2020-08-07 18:30] Salonigupta3 commented on #240
@meowcat can you please tell me where it might have gone wrong?

Thanks in advance!

[2020-08-10 14:36] Salonigupta3 commented on #240
This is the different code that I used but it is also giving same error:
[code]

[2020-08-10 16:13] meowcat commented on #240
Hi,
I have verified that this problem exists in the main BioC version, which is interesting because this is a vignette error and the build report doesn't indicate a problem.
However can you for now use the version from Github?
[code]

[2020-08-10 19:45] Salonigupta3 commented on #240
Yes it sorted the problem.

Thank you!

[2020-08-10 19:45] #240 closed

[2020-08-19 12:54] ermueller commented on #160
This has been fixed, I just checked by grepping the main and the s4power branches

[2020-08-19 12:54] #160 closed

[2020-08-19 13:56] tsufz opened #241 "Refactorise the vignette to markdown"
The vignette is still in old format. Refactorise to new markdown format. See https://www.bioconductor.org/developers/package-guidelines/#vignettes

[2020-08-19 14:05] tsufz opened #242 "Catch up and suppress the JAVA CDK error message"
During formula assignment with [RCDK](https://cran.r-project.org/web/packages/rcdk/vignettes/using-rcdk.html) / [CKD-R](https://github.com/CDK-R/cdkr), the interface to [CDK](https://github.com/cdk/cdk), JAVA produces the following error:

`org.openscience.cdk.formula.MassToFormulaTool ERROR: Proposed mass is out of the range: 343.1788691352724`

The JAVA should be suppressed.

The related functio

[2020-08-19 14:13] tsufz opened #243 "Add dev branch for development and main for submission to BioC / Releases?"
The content of the main branch should be even to the BioC code. Thus a new dev branch will be added to the repository which is the stable development branch. @meowcat would  be also happy with a release process. @schymane mentioned that we have already releases, DOI, etc. on BioC and thus this no pressing issue.

[2020-08-25 12:42] meowcat commented on #51
@schymane Do you still experience this issue?

[2020-08-25 12:43] meowcat commented on #227
s4 is merged. Push to Bioc awaiting

[2020-08-25 12:43] #227 closed

[2020-08-25 12:43] meowcat commented on #193
@schymane: could you trace this back?

[2020-08-25 12:45] meowcat commented on #197
@schymane Is this to be followed up on? Can you post a test case where this is an issue?

[2020-08-25 12:54] meowcat commented on #58
@tsufz @schymane If I am not mistaken, this is in the current version. Is this in use? Does this need a change?

[2020-08-25 12:57] meowcat commented on #42
@schymane @tsufz Vignette for processing of unknowns?

[2020-08-25 13:01] meowcat commented on #53
@schymane @tsufz Any reports of this still happening? Test case? - Other than that, it would be useful to highlight when the recalibration curve has problems, e.g. NA in the return values, huge steps, not enough data points, and to tell the user to use identity or use more data.

[2020-08-25 13:04] meowcat commented on #52
This gives warnings in the current version, so seems OK

[2020-08-25 13:04] #52 closed

[2020-08-25 13:07] #143 closed

[2020-08-25 13:08] meowcat commented on #141
@tsufz @schymane Is this still relevant?

[2020-08-25 13:17] meowcat commented on #41
Doesn't make sense to me for now, I also don't see use cases. Agree @schymane @tsufz ?

[2020-08-25 13:18] meowcat commented on #135
Will be done elsewhere

[2020-08-25 13:18] #135 closed

[2020-08-25 13:29] meowcat commented on #200
SP$SAMPLE is added from the Treutler workflow.

[2020-08-25 13:29] #200 closed

[2020-08-25 13:36] meowcat commented on #175
@schymane Can you check up on this? Is this still the case?

[2020-08-25 13:45] meowcat commented on #187
`RMassBank:::getAdductInformation("")` has doubly charged ions. Does anyone have any idea if this works? @schymane @tsufz

[2020-08-25 14:00] meowcat opened #244 "Use the new adduct table everywhere, drop old definitions"
New adducts defined by @Treutler in leCsvAccess.R:
https://github.com/MassBank/RMassBank/blob/1d078a8f9d5625e1a4000329d78ddb1c9c4445b6/R/leCsvAccess.R#L359

However, old definitions still exist in formulaCalculator.R.
https://github.com/MassBank/RMassBank/blob/1d078a8f9d5625e1a4000329d78ddb1c9c4445b6/R/formulaCalculator.R#L363

`.polarity` is still in wide use: `git grep \\.polarity`, and therefor

[2020-08-25 14:09] #192 closed

[2020-08-25 14:32] #186 closed

[2020-08-25 14:37] meowcat commented on #159
Is done

[2020-08-25 14:37] #159 closed

[2020-08-25 14:38] #154 closed

[2020-08-25 14:38] #156 closed

[2020-08-25 14:42] meowcat commented on #168
@schymane Followup or close?

[2020-08-25 14:42] #152 closed

[2020-08-25 14:43] #161 closed

[2020-08-25 14:45] meowcat commented on #233
I believe all of this is in the treutler branch, so closing. Still cf. #244

[2020-08-25 14:45] #233 closed

[2020-08-25 14:47] meowcat commented on #174
Seems to be fixed

[2020-08-25 14:47] #174 closed

[2020-08-25 15:11] meowcat commented on #221
Please add test case @tsufz

[2020-08-25 15:27] meowcat commented on #153
This is in fact realized

[2020-08-25 15:27] #153 closed

[2020-08-25 15:55] #149 closed

[2020-08-25 15:56] meowcat commented on #124
@schymane @tsufz Still of interest? It can be done, but it's not urgently needed IMO

[2020-08-25 15:58] #119 closed

[2020-08-25 16:00] meowcat commented on #123
@schymane still of interest?

[2020-08-25 16:01] #115 closed

[2020-08-25 16:02] meowcat commented on #110
@tsufz @schymane I guess this is not a consideration anymore?

[2020-08-25 16:03] #125 closed

[2020-08-25 16:06] meowcat commented on #122
@schymane Is this still relevant? Imputing `fillPrecursorScan` I would consider. Any extended magic I am against.

[2020-08-25 16:09] #72 closed

[2020-08-25 16:10] #74 closed

[2020-08-25 16:11] meowcat commented on #65
I believe this stuff is now in your own packages...

[2020-08-25 16:11] #65 closed

[2020-08-25 16:12] meowcat commented on #39
@schymane @sneumann Do we have data? Does it work?

[2020-08-25 16:20] meowcat commented on #146
@tsufz What's the status? Still relevant?

[2020-08-25 16:23] meowcat commented on #144
If this ever shows up again, we will post a new issue.

[2020-08-25 16:23] #144 closed

[2020-08-25 16:26] #134 closed

[2020-08-25 16:26] #133 closed

[2020-08-25 16:27] #132 closed

[2020-08-25 16:30] meowcat commented on #130
Seems to be done now

[2020-08-25 16:30] #130 closed

[2020-08-26 07:19] meowcat commented on #127
The correct solution seems to be that `seqNum` is needed to find the correct scan to extract with `mzR::peaks`, but `acquisitionNum` is needed to find the correct precursor scan. This is also in the code now.

[2020-08-26 07:19] #127 closed

[2020-08-26 07:32] meowcat commented on #226
Undocumented and buggy:

https://github.com/MassBank/RMassBank/blob/17c69e1cc69ef80d18fc0e45f02a3a2ff43549b6/R/buildRecord.R#L351-L356

@pstahlhofen:
* fix the `ACCESSSION` typo
* change it such that `accessionBuilder` takes `cpd, spectrum, subscan` because this gives the user much more freedom
* If you feel fancy, you can try to make the built-in `.getAccession` work directly on the collision ene

[2020-08-26 07:51] meowcat commented on #206
I believe that the better solution is to modularize the `annotations` tag in the settings. Cf.

https://github.com/MassBank/RMassBank/blob/1d078a8f9d5625e1a4000329d78ddb1c9c4445b6/R/buildRecord.R#L130-L182

Here, we should instead just do
[code]
plus fill in the retention time and mode. Note that we could move anything compound-specific to  `.buildRecord.RmbSpectrum2` and pull only settings data h

[2020-08-26 07:54] meowcat commented on #206
We don't really need to. Hendrik already used dollars in the settings file and it's fine.

[2020-08-26 08:07] meowcat commented on #206
Then in `.buildRecord.RmbSpectrum2`:
* there will be only `annotations` passed, not `ac_lc, ac_ms`
* drop support for MassBank format 1.0
* fill mbdata with whatever is in `annotations`, fill in compound-specific data
* Either here or in  [`toMassbank`](https://github.com/MassBank/RMassBank/blob/1d078a8f9d5625e1a4000329d78ddb1c9c4445b6/R/createMassBank.R#L1495): Make sure the order of tags is corr

[2020-08-27 11:42] tsufz commented on #41
I think this was related to the old question if we could also add low res data. Let's close it.

[2020-08-27 11:42] #41 closed

[2020-08-27 11:45] tsufz commented on #110
I don't think so.

[2020-08-27 11:45] #110 closed

[2020-08-27 11:46] tsufz commented on #146
No

[2020-08-27 11:46] #146 closed

[2020-08-28 07:19] #243 closed

[2020-09-22 09:49] schymane commented on #39
Maybe we had data back in 2015 ... I don't have any available now and this comment is so old things have moved on. We're testing out ABSciex data elsewhere atm - I think we can close this for now and reopen a new one if relevant.

[2020-09-22 09:49] #39 closed

[2020-09-22 09:51] schymane commented on #122
I think things have moved on. Athens are contributing data successfully ... closing for now.

[2020-09-22 09:51] #122 closed

[2020-09-22 09:52] schymane commented on #123
Let's close for now, can reopen if interest rekindles ...

[2020-09-22 09:52] #123 closed

[2020-09-22 10:05] schymane commented on #124
We looked at this extensively with Christoph over the and there are fundamental issues on how to save the substructures in a useable way with text formatted MassBank records. There's a separate conversation with Michael W going on ... let's keep this one open

[2020-09-22 10:43] schymane commented on #168
The latter ...

[2020-09-22 10:43] #168 closed

[2020-09-22 10:45] schymane commented on #187
Not aware of anyone who tried it our side ... but we could if desired? @maliremorker

[2020-09-24 18:18] schymane commented on #141
I think this can be achieved in other ways with the same structure ... suggest to close. This would require a lot of maintenance to remain current/up-to-date.

[2020-09-24 18:18] #141 closed

[2020-09-24 18:21] schymane commented on #53
No test case available easily at this stage but I agree that this:

would be very useful... Hiba encountered terrible recalibration issues. CCing @anjuraj15 as maybe they can provide some examples.
Maybe we should open a new issue for that @meowcat ?

[2020-09-24 18:42] schymane commented on #42
Sounds like a good idea ... do we not have it in the nonstandard vignette?

[2020-09-24 18:45] schymane commented on #58
Athens are submitting with isotope annotation ... I think we can close this ... and reopen a new issue if issues are encountered.

[2020-09-24 18:45] #58 closed

[2020-09-24 18:46] schymane commented on #197
I didn't have a test case but let's leave this open as it needs to be clarified ... sometime ...

[2020-09-24 18:55] schymane commented on #51
Seems a catch has been added validator side ... ?

[2020-10-05 17:19] schymane opened #250 "Build Error on release and devel => maybe PubChem & CACTUS issues (win only?)"
http://bioconductor.org/checkResults/devel/bioc-LATEST/RMassBank/

http://bioconductor.org/checkResults/release/bioc-LATEST/RMassBank/

Although the fail is in the XCMSvignette on the (I thought now deprecated?!) molfiles:

... the cause may in fact be more related to an updated TLS protocol... all PubChem functions currently return NAs for me, and this appears also in the build report - NCBI prot

[2020-10-06 06:31] schymane commented on #250
My session info, for the record. We have several users who can confirm these functions work fine on mac/linux but fail on win seemingly irrespective of the R / package version - which supports what is observed in the build reports. All my RChemMass and functions related to getPcId fail similarly (returning NA on win, but functioning perfectly on mac/linux).
Any tips to solve most welcome as this i

[2020-10-06 09:52] schymane commented on #250
We had discussed transitioning to webchem, for instance the following works:

[code]

So the question is ... do we patch the current issue or speed up the transition - if the latter, what else would need to change?

[code]

[2020-10-17 17:35] sneumann commented on #198
Hi, on macOS we have again this issue, and a check ERROR.
I found that I get that error in the console, but it vanishes
when loading RCurl.
[code]

I also found that while the above indeed happened,
I can't reproduce 10 Minutes later. Closing again.
Yours, Steffen

[2020-10-17 17:54] schymane commented on #198
We probably need a better error handling for this. This uninformative error comes when the function returns "NA", i.e. when the web retrieval fails for any reason.
This is currently failing permanently in windows and causing build errors ... see #250

[2020-10-17 19:34] sneumann commented on #183
Hi, while debugging #250 I am getting locally the following error:
[code]
so first thing after the next BioC build should be to drop molfile creation.
Yours, Steffen

[2020-10-19 08:37] sneumann opened #252 "Travis config broken"
update Travis config needed. Yours, Steffen

[2020-10-19 15:12] tsufz commented on #216
@pstahlhofen, you can find the scan range in the mzML (Thermo at least):
                <scanWindow>
                  <cvParam cvRef="MS" accession="MS:1000501" name="scan window lower limit" value="100.0" unitCvRef="MS" unitAccession="MS:1000040" unitName="m/z"/>
                  <cvParam cvRef="MS" accession="MS:1000500" name="scan window upper limit" value="1500.0" unitCvRef="MS" unitAccessi

[2020-10-19 15:14] tsufz commented on #216
and @he-ob?

[2020-10-19 15:23] tsufz opened #255 "QA/QC: Masses in peak list should be checked if in scan range"
As soon the scan range is known (#216), we could make use of it to enhance data quality. Peaks below or above scan range limits should no be end up in the final peak list.

[2020-10-19 15:39] schymane commented on #255
This is _usually_ but not always valid, we have seen occasions where adducts were formed in the MS/MS and there are also cases of 2+ charged precursors (z=2) losing part of the charge and resulting in peaks above the precursor mass (m/z with z=1). Thus, care should be taken here, otherwise one might remove valuable information.

[2020-10-20 06:01] tsufz commented on #255
Yes, I did not say that we remove them automatically, but give the user the chance to decide similar to the failed peak list. We may develop some filtering rules to check the plausibility of peaks and it could be a starting point for a more in deep search on possible adducts as a side product.

[2020-10-21 18:55] sneumann commented on #252
Fixed by @pstahlhofen in #253  and #254 . Thanks ! Yours, Steffen

[2020-10-21 18:55] #252 closed

[2020-10-21 18:56] sneumann commented on #198
We still / again have this in 2.99.2. Yours, Steffen

[2020-10-21 19:04] schymane commented on #198
Strange .. it works for me with the install from github yesterday.
Indeed  ... build reports show (different) errors to previous ones now. Not sure what to do about this?

[code]

[code]

[2020-10-21 19:09] sneumann commented on #198
In 00101559ae3ab1c841c8026366216abde278d07b I added a check to catch status codes.
CTS was failling with `500` errors. Pushed to main, dev and upstream master. Yours, Steffen

[2020-10-21 19:35] schymane commented on #198
Great, thanks! Hopefully this will help diagnose, we may need to do a better test here:
https://github.com/MassBank/RMassBank/blob/main/R/webAccess.R#L280

 as this is where the atomic vector error comes from:
https://github.com/MassBank/RMassBank/blob/main/R/webAccess.R#L285

So it was just bad luck / bad timing that CTS was down only on the win builds?

[2020-10-21 20:01] sneumann commented on #198
Indeed. The correct approach is to think 1) what can go wrong and 2) what do we return in that case. Yours, Steffen

[2020-10-21 20:04] schymane commented on #198
Is this something @pstahlhofen can look into? It's likely just a minor tweak, I assume we can take care of `NULL` downstream but we just need to catch this atomic vector error better (and return NULL not an error...)

[2020-10-22 09:10] sneumann commented on #198
For the cleanup / harmonisation I want to start with the documentation of the wanted behaviour first,
so if Paul creates an overview of which functions have something like `GET()` in them that'd be a start.
We'll have to work with 1) Correct results, i.e. some valid response. 2) Nothing found (e.g. InchiKey ABCDEF-GHIJKLM-N)
and 3) remote end broken. Different services might indicate these three s

[2020-10-22 12:01] tsufz commented on #198
Well, I do an update to BioC 3.12 and test it later.

[2020-10-22 13:54] pstahlhofen commented on #198
Sure, I can look into it :)
@sneumann does this have priority before #216 ?
Cause this is what I started to do now. Also, do I correctly assume that this is about 'GET' functions in the API? So what are the main scripts I should look into?

[2020-10-22 16:05] tsufz opened #257 "Missing last line in mysettings.ini template"
###################################################
### code chunk number 5: RMassBank.Rnw:140-141
###################################################
RmbSettingsTemplate("mysettings.ini")

###################################################
### code chunk number 6: RMassBank.Rnw:268-269
###################################################
loadRmbSettings("mysettings.ini")

Warning message:
In read

[2020-10-22 16:16] tsufz commented on #257
Fixed in 22be6df

[2020-10-22 17:43] sneumann commented on #198
Just for the record, `2.99.3` didn't make it into todays Build report, but today `2.99.2` erred (errored ?) on two different architectures. .

[2020-10-22 17:47] schymane commented on #198
...so in today's report now win is good ... and 1*linux and mac not. So it's a random CTS unavailability... why always twice I wonder...

[2020-10-22 17:51] tsufz commented on #257
Closed with #258.

[2020-10-22 17:51] #257 closed

[2020-10-22 18:29] tsufz opened #259 "Update of test data"
While running the vignette, I got this warnings (I installed the latest from Michele's repo:

+                                                    package="RMassBankData"))
Warning messages:
1: In .updateObject.RmbWorkspace.1to2(w, ..., verbose) :
  You are loading an archive from an old RMassBank version. The aggregate tables are not loaded from the original object, but recomputed.
2: In .updateO

[2020-10-22 18:31] tsufz commented on #198
On my Win R 4.0.3 with BioC 3.12 all run through, except the warning in #259.

[2020-10-23 10:49] pstahlhofen commented on #198
@sneumann if `2.99.2` is 9033bc4cfdca40df5c47524c8c31e98aa then it indeed fails in macOS (at least on my architecture) due to the getCtsKey error, but on `2.99.3` it works fine, so your changes fixed it for me. Thanks!
For the `2.99.3` version, I don't get the same warnings as @tsufz described in #259
The warnings I get are mainly related to documentation

[2020-10-23 14:48] pstahlhofen commented on #216
@sneumann can `mzR` be used to parse the scan range from `.mzML` files?
I already checked out the reference manual and made trials using the `.mzML` files in `RMassBankData`. I Ran the following:
[code]
which yielded
[code]
In the reference manual it says:
"`runInfo` will show a summary of the experiment as a named list, including `scanCount`, `lowMz`, `highMz`, `startMz`, `endMz`, `dStartTime` an

[2020-10-23 16:37] sneumann commented on #198
Very good evening indeed, only warnings left.
However, we need to certainly adress the warnings. Yours, Steffen

[2020-10-23 16:37] #198 closed

[2020-10-23 17:02] schymane commented on #198
Hooray!!!

[2020-10-23 17:43] sneumann commented on #250
Fixed with 00101559ae3ab1c841c8026366216abde278d07b. Yours, Steffen

[2020-10-23 17:43] #250 closed

[2020-10-23 17:44] sneumann opened #260 "he argument of a replacement function which corresponds to the right hand side must be named ‘value’."
[code]

[2020-10-23 17:45] sneumann opened #261 "Rd files with duplicated alias 'parseMassBank':"
[code]

[2020-10-23 17:46] sneumann opened #262 "Missing link or links in documentation objects"
[code]

[2020-10-23 17:47] sneumann opened #263 "Undocumented code objects"
[code]

[2020-10-23 17:48] sneumann opened #264 "Functions or methods with usage in documentation"
[code]

[2020-10-23 17:49] sneumann opened #265 "Codoc mismatches from documentation"
[code]

[2020-10-23 17:50] sneumann opened #266 "Undocumented arguments in documentation"
[code]

[2020-10-23 17:50] sneumann opened #267 "Argument items with no description"
[code]

[2020-10-27 09:36] sneumann commented on #226
Hi,
one thing I stumbled across recently is that the regular expression(s)
for MassBank accessions to already appear in some places, e.g. @schymane and @egonw
got MassBank added to Wikidata, including the definition for the accession.
See https://www.wikidata.org/wiki/Property:P6689 `format as a regular expression`,
which defines two or three letters, but not Arbitrary number.
Other definitions ar

[2020-10-27 10:38] tsufz commented on #226
Hi,
I agree with Steffen. This was not my intention. My intention was to get a more flexible generation of the number part of the Accession building, but not to scrutinise the format itself.

Best,
Tobias

[2020-11-05 10:20] meowcat commented on #259
So, on one hand, I think it is a good thing having the old test data, because it shows that the update path is working (and I left it in on purpose). On the other hand, I don't know how important that still is... Another idea would be to leave the old one in, in a unit test but not the vignette, and to add a new-format one for standard use.

[2020-11-12 13:29] tsufz opened #270 "Raw file processing of Thermo data"
Hi,
Someone wrote a wrapper for ThermoRawFileReader. Maybe worth to test and implemend in order to avoid the pwiz pipeline for Thermo data  of the pwiz pipeline.

https://www.biorxiv.org/content/10.1101/2020.10.30.362533v1.full

Just to keep in mind.

Best wishes,
Tobias

[2020-11-16 10:18] pstahlhofen opened #271 "Travis build error due to R version"
The travis checks failed for latest merges into `dev` because `BioConductor` requires R version 4.1 now

[2020-11-16 14:35] pstahlhofen commented on #271
The same problem seems to be documented by members of the Travis community [here](https://travis-ci.community/t/r-bioc-devel-is-broken-bioconductor-version-3-11-requires-r-version-4-0/5745). I am watching this thread now, in order to apply any proposed fix to our `.travis.yml`.

[2020-11-16 16:03] pstahlhofen commented on #216
For `.mzML` files, the scan range is included now since 2d0aaa491bad427751e16a469c32bbecf8303def

[2020-11-16 16:05] #216 closed

[2020-11-16 16:12] pstahlhofen commented on #226
Three letter prefixes for internal use are now allowed since 87617ed731b32d18c1e376280bf9c820e9ccfce6 so I'll close this

[2020-11-16 16:13] #226 closed

[2020-11-17 10:49] tsufz commented on #185
Hi, during the NORMAN cross-working group meeting, this topic was mentioned again. We have a potential contributor who wants to submit in msp format and thus we should go ahead with implementation. He promised to provide test data.

Best,
Tobias

[2020-11-17 10:50] tsufz commented on #185
@pstahlhofen, could you keep care on it, please?

[2020-11-17 10:57] pstahlhofen commented on #185
Sure, I will

[2020-11-17 15:53] meowcat commented on #185
Question: is the processing from mbWorkflow still desired and useful in this case, or are these already curated spectra? Or rather, in two parts:
* are the peaks already filtered, curated, annotated?
* is the metadata already the way it should finally be?
* is there a separate compound list, or is that info to be taken from the MSP?

The work to be done is quite different for the two cases I think

[2020-11-17 16:05] sneumann commented on #185
Hi, I'd like to introduce @achimmiri working in my group and picking up some of the work by Hendrik.
We still have *.msp files coming from e.g. MS-Dial for all features with MS/MS data, so we'd like
to still use the Workflow to read 'em in and select the most suitable MS/MS spectrum regarding precursor mz and RT from our compound list.
* So peaks are not yet filtered, curated, annotated.
* As meta

[2020-11-17 16:18] meowcat commented on #185
It could be actually useful to make a reader from `Spectra` instead of MSP, and then use your MsBackendMsp or my generalized text backend from https://github.com/meowcat/SpectraMapping (mine is stalled WIP for sure but does work at least for non-crazy cases, I think yours is also still WIP?)
This way we not only avoid writing another MSP parser in addition to our other WIP ones, but additionally g

[2020-11-22 21:24] sneumann opened #273 "Duplicated PK$PEAKS in output record in case of ambiguous PK$ANNOTATION"
Hi,
this is mainly a reminder that we (e.g. @achimmiri) are facing duplicated peaks in a record.
The `PK$ANNOTATION` might have multiple formulae, and then the `PK$PEAK`
are also duplicated. I think the `PK$PEAK` should be unique. This is with a fairly
old snapshot of RMB, so we'll report back if that is still the case in the recently merged
s4power branch.
Yours,
Steffen

[code]

Yours,
Steffen

[2020-11-23 07:12] schymane commented on #273
@sneumann @achimmiri those ppm values are huge ... can you try with a lower ppm setting (5 or 10?). Otherwise if this is TOF data with such large error margins maybe recal is not the best idea (you could set `recalibrate.identity`. RMassBank can deal with multiple formulas (see e.g. any fluorinated EA or EQ spectrum!) but indeed we did encounter this strange duplication in the past as a quite rare

[2020-11-23 07:52] meowcat commented on #273
Precisely - this is a worrying bug and it would be great if I could debug this with the original data; I have zero chance of reproducing this on my own.

[2020-11-30 11:01] sneumann opened #277 "Error in Step 8 when multiplicityFilter not set and previous steps skipped"
Could be related to #239 in the sense that this step is executed
and some previous steps were skipped.

[code]
likely from:
https://github.com/MassBank/RMassBank/blob/f23bce80beb20d4a6dfc30d851e467175256c8c7/R/leMsMs.r#L299
Yours, Steffen

[2020-11-30 11:04] schymane commented on #277
Why is `multiplicityFilter` not set? It is set by default in the settings file ...

[2020-11-30 12:06] sneumann commented on #277
True, 1) our `setting.ini` didn't have that, and 2) it was not supplanted by `default values` in the
[code]
Nevertheless the above line 299 relies on `w@aggregated$reanalyzed.formulaCount` being set (in our case it is `NULL`),
and should fail gracefully / with a decent error message.
Or I figure out what the correct result should be for `aggregated$filterOK` in the absence of `reanalyzed.formulaCo

[2020-11-30 15:22] schymane commented on #277
I would say you need to rerun with a default `multiplicityFilter` setting ... neither case (1) nor (2) should happen really... and case (2) needs to be fixed - then the rest would/should fix itself...

[2020-11-30 18:17] sneumann commented on #277
Yes, I found the place in the custom script where the `multiplicityFilter` was explicitly `NULL`ed. So while the issue here still exists,
it is unlikely to surface. Yours, Steffen

[2020-11-30 18:17] #277 closed

[2020-12-02 11:51] pstahlhofen commented on #271
Fixed in https://github.com/MassBank/RMassBank/commit/7485c61d3ada576b1942701b2313527810b4e611

[2020-12-02 11:53] #271 closed

[2020-12-02 12:03] pstahlhofen commented on #194
Fixed in https://github.com/MassBank/RMassBank/commit/323ec1025f2807270541d46ada9f5b68b6e2a067

[2020-12-02 12:03] #194 closed

[2020-12-06 23:09] Don86 opened #278 "RMassBank example workflow problems on a Mac"
Running the workflow and the example dataset from here: https://bioconductor.org/packages/release/bioc/vignettes/RMassBank/inst/doc/RMassBank.html completes, but unable to run `selectPeaks()` afterward. Full code:

[code]

Error message:
[code]

sessionInfo:
[code]

[2020-12-07 09:00] sneumann commented on #278
Hi, I can confirm the issue on linux, which is quite a relief as this is now reproducible and not operating system specific. Yours, Steffen
[code]

[2020-12-07 09:15] sneumann commented on #278
The `traceback()` is
[code]
and seems to come from
https://github.com/MassBank/RMassBank/blob/00101559ae3ab1c841c8026366216abde278d07b/R/AggregateMethods.R#L78

`o` looks OK:
[code]
`filter` is an environment with
[code]

`enclos` contains the `msmsWorkspace`:
[code]
@meowcat , I am a bit lost about the intended code logic here (I need to learn about `substitute()` and friends ...) but hope to hav

[2020-12-07 11:26] tsufz commented on #278
Hi all,
`Error in eval(f, o, enclos) & !is.na(eval(f, o, enclos)) : operations are possible only for numeric, logical or complex types`

IMHO, this links to a data conversion problem. The message says `operations are possible only for numeric, logical or complex types`. Thus, could it be that some of the data is provided as charater or factor or what else, but not as numeric, logical or complex?

[2021-03-05 07:27] trachtok opened #280 "OpenBabel and other issues"
Hi,

I would like to report few issues I came across when wrapping your great RMassBank package as a tool for [Galaxy](https://usegalaxy.org). Some of these issues, I presume, could be easily solved by changing the R code for RMassBank a bit so I am putting them here, although they are not actual errors in code but more ideas for improvement of the RMassBank code.

1. OpenBabel issue 1, right now

[2021-03-05 08:59] tsufz commented on #280
Dear Karolína,
Thanks a lot for your message. We will check the issues and try to release an update as soon as possible.

Best wishes,
Tobias

[2021-03-05 09:06] tsufz commented on #280
@trachtok could you text the version of your OpenBabel. ? The latest stable version is 2.4.1 from 2016 and thus your problems might be caused by a different issue.

Best,
Tobias

[2021-03-05 10:14] trachtok commented on #280
Hi @tsufz, thank you for looking into this! I am using OpenBabel 2.4.1 (installed via conda), but when I initially installed RMassBank (3.0.0 also via conda) and newest OpenBabel (3.1.1 on conda) there is no executable `babel`, there is only `obabel`. It seems that `obabel` is now preferred, see their documentation [here](https://openbabel.org/docs/dev/Command-line_tools/babel.html#babel-vs-obabel

[2021-03-05 11:32] tsufz commented on #280
Hi @trachtok, many thanks again for the hint. OpenBabel is quite relaxed to update their homepage. I was always wondering why there no new version was released, and I was not aware that they moved to GitHub. We will take care to properly update our code and the documentation.

Have a nice weekend,
Tobias

[2021-03-05 11:33] tsufz commented on #280
New OpenBabel repository: https://github.com/openbabel/openbabel

[2021-03-05 12:17] sneumann commented on #280
So we need 1) a unit test with something RMB would be doing with `babel`, and 2) then switch to `obabel` in the system calls. We don't need a fallback to non-o-babel, since `obabel` has been around for so long. Yours, Steffen

[2021-03-05 12:20] tsufz commented on #280
Yes, it was already available in the older versions, but for any reason we did not catch the problem so far.

[2021-03-05 12:21] schymane commented on #280
`babel` itself was only removed from the releases quite recently so it has probably only just become a problem. It should be quite a quick fix.

[2021-03-05 12:34] tsufz commented on #280
Okay, I talk to @pstahlhofen later this day anyway.

[2021-03-09 12:22] lauperbe opened #281 "Bug with Boron DBE value"
Hello

there is a bug when processing a boron containing compound.
During step 2 of the msmsWorkflow the DBE calculation crashes with the error below (see attached MWE for Triisopropanolamine borate; C9H18BNO3; https://www.tcichemicals.com/IE/en/p/T2943):

After checking the source code I found that the list used for DBE calculation does not contain an entry for boron:
(Function «analyzeTandemShot

[2021-03-09 12:52] sneumann commented on #281
Thanks for hunting this down !
We can either do that for you, or (much cooler!) you go to
https://github.com/MassBank/RMassBank/blob/dev/R/formulaCalculator.R#L168
hit the edit (Pencil) button in the upper right corner of the file content, add Boron as suggested above
and this way create a Pull Request (There are more complicated ways to create a PR,
but for such a smallish thing the direct edit i

[2021-03-09 13:29] lauperbe commented on #281
Hei Steffen

Thanks for the quick reply.
I did the pull request and included B, Al, Ga and Ca. The DBE values come from Thermo Qualbrowser and might need to be tested.
If I want to use the updated version for processing, can I somehow import the patch 1 directly into R? Sorry for the question but I am not used to GitHub.
Thanks
Benedikt

[2021-03-12 07:35] #281 closed

[2021-03-16 15:15] lauperbe opened #284 "[M-2H]2- Adduct bug"
I came across a bug for Spectra of Adducts [M-2H]2-.
MWE is attached.

The compound with ID 4339 has the formula: C8H4Cl2N2O7S2
The [M-2H]2- ion has a monoisotopic mass of 185.934572, which can be clearly seen in the raw file.

The error occurs during the msmsRead() function. The based on the list here:
https://github.com/MassBank/RMassBank/blob/1d078a8f9d5625e1a4000329d78ddb1c9c4445b6/R/leCsvAcce

[2021-03-16 16:12] sneumann commented on #284
Kudos for providing the MWE! The ZIP is missing 202101_023_4339_ChlorothalonilTPR419492.mzXML,
could you upload that as well somewhere ? Yours, Steffen

[2021-03-16 16:15] lauperbe commented on #284
The mzXML file are in the polyboxlink since they are to big to be directly uploaded.
https://polybox.ethz.ch/index.php/s/VTpjPDD43KAjbHU

[2021-03-16 16:42] sneumann commented on #284
Darn, hadn't realised that was two separate links and hit the wrong one :-(
I can confirm the error `class “NULL” is not valid for @‘polarity’`
and the warning `No precursor was detected for compound ...`
on `RMassBank_2.99.4` and `3.1.0`. Yours, Steffen

[2021-04-21 06:02] meowcat opened #286 "Build failing on Bioc"
Somehow our build has been failing for a while probably? We need to add rmarkdown to the dependencies.

http://bioconductor.org/checkResults/release/bioc-LATEST/RMassBank/malbec1-buildsrc.html

[2021-04-21 06:16] meowcat commented on #284
I have a parser that builds all data required for mz calculation directly from arbitrary adduct strings, and handles multiple charges correctly.

https://gist.github.com/meowcat/1df7c1b10002029d39bc2b8fd70e0b18

Should we eventually move to this? The only thing we still would need are a map from `mode` to `adductString`. We could think about dropping the "mode" and only using adductstrings directl

[2021-05-07 09:35] lauperbe commented on #244
Hei RMassBank team
I will soon get some spectra to process from Rebekka Gulde that include some special adducts, including mCl- adduccts that started this threat. Do you think it will be solved in ~1 month? Otherwise I will try to find an alternative solution.
Sorry for permanent workload that I cause :)

Cheers
Benedikt

[2021-05-07 09:41] meowcat commented on #244
Are mCl- not working yet?
(The other issue are the problematic doubly charged ones, which I am aware of.)

[2021-05-07 09:58] lauperbe commented on #244
The dev branch was updated but since there was no update in this threat I did not check if it is now working.

[2021-05-31 13:37] tsufz opened #287 "General log wrapper function"
Hi all,
It would be appreciated, if we start to develop a general log wrapper function. @pstahlhofen is now working on #232 and #255 and thus any kind of a logging needs to be implemented anyway.

I suggest a general wrapper function in the backend, which:

1. Generates a general log file in the project folder, e.g. RMassBank.log
2. Handles log requests by other functions
3. Appends the log to the

[2021-05-31 14:04] meowcat commented on #287
Hi,

Good idea. I would suggest reusing an existing system; I use `logger` (which is `glue`-based) in other projects. By default it logs to console, but there is `log_appender(appender_file('filename'))`. https://github.com/daroczig/logger There is also `futile.logger` and others also mentioned on `logger`s github page.

As for `label` I would suggest to use the classical levels: `TRACE, DEBUG, SU

[2021-05-31 15:28] tsufz commented on #287
I agree with the suggestions of @meowcat. Indeed, we should use the classical levels. Did not remind that. I would prefer the appender solution as logging is not required in all cases, and it should be informative rather than overwhelming the users :-).

[2021-06-01 07:40] tsufz commented on #280
Closed with #285.

[2021-06-01 07:40] #280 closed

[2021-06-01 07:43] tsufz commented on #128
Solved in a67f6f6c5bdbab12aa16aa33c7d23a164ef6cc15.

[2021-06-01 07:43] #128 closed

[2021-06-18 12:23] tsufz opened #289 "MS$FOCUSED_ION: PRECURSOR_INTENSITY"
The `MS$FOCUSED_ION: PRECURSOR_INTENSITY` results in a number with many digits. I suggest to round to 1 or maximal 2 digits.

[2021-07-07 14:18] #289 closed

[2021-08-03 11:43] meowcat commented on #244
In nz-enhancements branch commit bdf618d this is fixed, testing

[2021-08-03 12:47] meowcat commented on #244
Note: by "this" i meant dropping the ancient tables. If mCl- works I haven't tested yet (but there is one less barrier to it)

[2021-09-06 07:52] tsufz opened #293 "Mass Range decimals"
@pstahlhofen, the mass range is a long decimal number. The mass range can be an integer.

[2021-09-07 16:21] #293 closed

[2021-09-08 09:20] tsufz commented on #287
Close with #291

[2021-09-08 09:20] #287 closed

[2021-09-21 08:37] pstahlhofen commented on #286
The build is not failing anymore, so I'm going to close this. I will, however, try to resolve the remaining warnings.

[2021-09-21 08:38] #286 closed

[2021-09-21 15:56] #260 closed

[2021-09-29 08:55] tsufz commented on #241
Solved by @pstahlhofen.

[2021-09-29 08:55] #241 closed

[2021-11-04 16:59] tsufz opened #297 "Upgrade ini to parse GC-MS based information"
So far, the ini is only tailored to parse LC-MS based information. As more GC-MS submission could be expected, I suggest to prepare a new template for the upload of GC-MS based information.

[2021-11-04 17:01] tsufz opened #298 "Import of JCAMP files"
Write a parser for JCAMP format.

[2021-11-23 14:47] meowcat opened #299 "Modularization of annotation tags"
Related to #298, after discussion with @tsufz:

The current RMassBank is somewhat hardcoded as to
* what tags can be used
* what tags come from the infolist
* what tags come from the ini file.

We have some rather workaroundy code to add more comment fields and to add some extra tags from the ini file (but not from the infolist).

We are getting more cases where other tags are desired. For example

[2021-11-25 09:40] meowcat commented on #297
cf #299

[2021-12-22 15:50] pstahlhofen opened #301 "Replace OpenBabel dependencies with ChemmineR"
Since 4848405 we're using ChemmineR anyway, so we should replace remaining OpenBabel dependencies in our code.

[2021-12-22 17:46] pstahlhofen opened #303 "Replace calls to do.tpying"
The `rcdk`-function `do.typing`  is deprecated now. In the documentation it says: `'do.typing' now a synonym for 'set.atom.types'`. I'm not quite sure if this was recently **made** synonym with some potentially new side-effects or if this has been synonym for some time now and we can safely replace it with `set.atom.types`.

[2022-01-28 07:24] meowcat opened #304 "mzR dropped `mzData` format, drop or replace?"
https://github.com/sneumann/mzR/blob/master/NEWS
` o Removed RAMP backend, dropping ability to read mzData `
Leading to failure on bioc build, since we still have mzData files in the RMassBankXCMS vignette:

https://github.com/MassBank/RMassBank/blob/1ea06508d1736b11070dec945631a08cee57d079/vignettes/RMassBankXCMS.Rmd#L90-L92

https://master.bioconductor.org/checkResults/3.15/bioc-LATEST/RMassBank

[2022-01-28 08:12] #239 closed

[2022-01-28 12:09] sneumann commented on #304
Hi,
I converted the files in https://github.com/MassBank/RMassBankData/commit/0547193c48172c5006548f1ed425f9b2f0ca8719,
but I have the feeling I can't push to BioC upstream for permission reasons.

I also switched filenames in the vignette in https://github.com/MassBank/RMassBank/commit/e51aa6faa8b091c53272ee62dc53a3315133b25c
But I am not going to merge anything because I am confused about branch

[2022-03-03 13:55] tsufz commented on #222
@stanstrup can you add a test case anywhere, please?

[2022-03-08 14:01] meowcat commented on #304
Hi,
I had a strange error on pushing to Bioc upstream ("test-merge" hook even though it was only one commit without any strange features) but now it seems to have gone through regardless. Let's see in the build

[2022-03-09 08:59] meowcat commented on #303
In the docs it seems like it merely uses another call convention. I'll just substitute it
https://github.com/CDK-R/cdkr/commit/5a5ec549c71ffc1f2db72243b50193fcab414122#diff-a286238791a97e1f4861216e4132926ddf49011770c74e971740d68fdd972769

https://github.com/CDK-R/cdkr/commit/5a5ec549c71ffc1f2db72243b50193fcab414122#diff-6bd510a238cc4004153b382944f8298ef90c027ce608f88d597709dd6e5d51a9

[2022-03-09 09:44] #303 closed

[2022-03-16 09:55] tsufz opened #305 "MSP-workflow: outdate RMB_options.ini in example"
Warning messages:
1: In loadRmbSettings(system.file("msp_examples/RMB_options.ini", package = "RMassBankData")) :
  Your settings are outdated. Missing will be replaced by default values.
2: In updateSettings(o) :
  Your settings are outdated! The following fields were taken from default values: spectraList, electronicNoise

[2022-03-17 09:32] meowcat opened #306 "`findMz.formula` fails for multiple charges"
`findMz.formula` is actually incorrect, and will not work correctly when negative AND positive atom counts are present, or for multiple charges. My 6 year old code is wrong.

* "charge" argument only affects the addition or removal of an electron, it doesn't divide by z to get m/z.
* Negative formulas never worked because `split.formula.posneg` never multiplies by -1
* When having negative and pos

[2022-03-17 09:35] meowcat commented on #306
While negative atoms only really make sense for `charge=0` (to calculate mass shifts), I will now fix it such that it returns the formally correct result: "[C-1]+" will return the negative mass of a carbon (-12) minus one electron.

[2022-03-17 10:13] meowcat commented on #306
Fixed by [7b780e2](https://github.com/MassBank/RMassBank/commit/7b780e294a61152a5fc6c7f2cc4f7e1bf8b7d437)
Multiply-charged *fragments* probably still don't work

[2022-03-17 10:14] #306 closed

[2022-03-17 12:02] meowcat opened #307 "Fragment formula annotation is incorrect for multiply-charged ions"
For charges > 1 (e.g. `mode = "m2H_c2"`), fragment formula annotation is incorrect.
The m/z used as input for `generate.formula` is corrected by # electrons corresponding to the precursor charge, but not multiplied by z. This leads to masses that correspond to singly-charged fragments that are off by one electron (for the case of z=2).

 In reality, the observed fragments would be either singly or

[2022-03-18 08:14] meowcat commented on #304
Builds fine on Bioc, some Win builds have a problem but that's on Bioc's side and will resolve (checked with Lori)

[2022-03-18 08:14] #304 closed

[2022-03-18 08:21] meowcat commented on #307
Working on it in branch https://github.com/MassBank/RMassBank/tree/multiply_charged. Since this changes a core function, I am hesitant to push it into 3.15 release

[2022-04-26 06:21] meowcat opened #308 "Build fail on Bioc"
https://master.bioconductor.org/checkResults/3.15/bioc-LATEST/RMassBank/nebbiolo1-buildsrc.html

I don't know yet what it is, it spontaneously started without any change by our side. I thought it was intermittent and would disappear, but it's still here after a week. Will look at it.

(Ignore the install errors on Win and Mac as they are issues of dependencies ChemmineOB/ChemmineR and will resolve

[2022-04-26 06:40] sneumann commented on #308
Hi, on windows and Mac the complaint is on `ERROR: dependency 'ChemmineOB' is not available` and `check_built()` locally gives
[code]
Yours, Steffen

[2022-05-11 10:46] sneumann opened #309 "Example and Documentation for msmsRead MSP with FileList outdated"
Hi,
The `FileList` since last year has to include a column `"mode"`, to allow for "Processing mode per-entry from mode argument or filetable":

https://github.com/MassBank/RMassBank/blob/a39ac1105b6c87077419ddf7e3f58fb3a609a738/R/msmsRead.R#L87

https://github.com/MassBank/RMassBank/commit/72a735ab844793eb7273c3a1b05b67d3c815babb#diff-3a9229e7875e37ae3d495cff4b018b1cf8dd18bb83bf8710b58eea12101e531

[2022-05-11 10:57] sneumann opened #310 "getCompTox() not working anymore because EPA services were retired"
Hi,
when running `getCompTox("GWHJZXXIDMPWGX-UHFFFAOYSA-N")` I currently get an error
[code]
because https://actorws.epa.gov/index.html?identifier=GWHJZXXIDMPWGX-UHFFFAOYSA-N
tells us:
`ACToR and AcTORWS web services have been retired and are being replaced in the near future with new versions.`

Yours,
Steffen

[2022-05-11 11:00] sneumann opened #311 "Build failure on BioC due to disabled EPA services"
Hi, due to #310 we have in
http://bioconductor.org/checkResults/3.16/bioc-LATEST/RMassBank/
[code]
Yours, Steffen

[2022-05-11 11:10] schymane commented on #310
I guess that we should just deprecate this, since there is no concrete definition of `near future` at this stage.

[2022-05-11 11:19] tsufz commented on #310
I agree with @schymane to deprecate. This message is life for several weeks (months?) now.

[2022-05-11 15:09] sneumann commented on #309
@meowcat, was the change intended to still work with the "old" FileList ?
If so, one could do `if ( "mode" %in% colnames(tab) ) ...` and if not use the `mode` argument to the function.
Does that make sense ? Yours, Steffen

[2022-05-12 11:58] achimmiri opened #314 "param mode options for adducts like [M+HCOOH-H]-,[2M+H]+,[M+2H+Na]3+,[M+2ACN+2H]2+,[M+IsoProp+Na+H]+,etc"
Hi
I see the param mode has very limited adduct options. Is there a bigger mapping list that covers all possible Adducts?

{"pH", "pNa", "pM", "pNH4", "mH", "mM", "mFA"} for different ions
([M+H]+, [M+Na]+, [M]+, [M+NH4]+, [M-H]-, [M]-, [M+FA]-)}

[2022-05-13 12:05] meier-rene opened #315 "Please implement the new accession scheme in RMassBank"
Hi,
that's just a heads up, the new accession scheme as discussed in MassBank/MassBank-data#84 is implemented in a separate branch on MassBank-data and MassBank-web. The branches are called upload-rest: New record format description is available: https://github.com/MassBank/MassBank-web/blob/upload-rest/Documentation/MassBankRecordFormat.md#211-accession
I would appreciate if RMassBank could also

[2022-05-24 09:34] #309 closed

[2022-06-01 20:08] meowcat commented on #314
You can use the not at all cryptic and very well documented
`RMassBank:::getAdductInformation("")` (sic.)
(Yes we know documentation lags somewhat behind :) )

[2022-06-01 20:12] #311 closed

[2022-06-30 08:52] meowcat commented on #315
Right now, I am not enforcing the existence of `contributor_prefix` in the settings. In principle, when we require a `contributor_prefix` this will be a breaking change so we should update the main version number?

[2022-06-30 15:46] meowcat commented on #315
Hm, maybe for this case there could be a blanket "NFDI" contributor for users who think that they will only contribute a few records? Users who later realize they are bigger players could still migrate their records out to their own contributor ID.

[2022-08-11 15:44] sneumann opened #316 "Allow the Collision Energy from spectral Data to override CE from the INI file."
Hi,
The collision energy information is used in two places in a MassBank record, the `AC$MASS_SPECTROMETRY: COLLISION_ENERGY` and (optionally) in the Title. Hence, the INI file defines the `CE` long form for the former, and a `CES` short form that can be used in the title generator. This requires that all CEs are the same across all the input files.

I think it would be greatgood to use the collis

[2022-08-11 15:50] schymane commented on #316
It would be great ... but it is not always represented accurately iirc, hence the manual input option is still desirable to avoid errors / to maintain accuracy. Originally it was not available at all, but now some information is available in some cases in mzML I think. While I am not sure what the current status is wrt CE and mzML, last time I checked ramping was still displayed incorrectly (but a

[2022-08-24 08:00] meowcat commented on #316
* As @schymane said, the CE info in the mzML files is not perfect, e.g. stepped collision energies (say, 10, 30, 60) are represented by the mean (33.3)
* Further, there is the legacy problem that CEs were mapped to accession numbers. Somewhat less of an issue with the new customizable ACCESSIONs but we need a sensible default.

Probably something like the following should work:
* a new `spectraLis

[2022-09-19 15:19] sneumann opened #317 "WARNINGS in build/check: replacing previous import"
We are getting:
[code]
Always helpful Martin Morgen said: https://stat.ethz.ch/pipermail/bioc-devel/2017-June/011127.html

[2022-09-19 15:24] sneumann opened #318 "WARNINGS in build/check: documentation"
Hi, we have a number of documentation issues:
[code]

[2022-10-12 09:05] tsufz commented on #218
I talked with @meier-rene about the topic. We should pick this up again to enhance provenance of the records, also in relation to NFDI4Chem. Thus,

- [ ] Implement scan number readin and parsing to MassBank record
- [ ] Update Record Format
- [ ] Create an issue in massbank-web to implement in MassBank software

[2022-10-12 09:08] tsufz commented on #218
In this context, we spoke also about the better opportunity to link to external repositories (as mentioned by @schymane in https://github.com/MassBank/RMassBank/issues/218#issuecomment-507709057). This is also required for NFDI4Chem to link for example to a zenodo or radar4chem repository entry containing the raw data files.

[2022-10-12 13:09] tsufz commented on #218
We want also to include the ROR, for example [UFZ](https://ror.org/000h6jb29)

[2022-10-12 13:49] sneumann commented on #218
I would love to see `MS$RAW: USI ...` (see https://www.psidev.info/usi),
e.g. `mzspec:MTBLS2:MSpos-Ex1-Col0-48h-Ag-2_1-A,1_01_9820.mzML:scan:11850`

[2022-10-28 13:08] meowcat commented on #218
Do we need any `MS$RAW` that is not USI? I guess yes, for referencing "local" files that are not in a repo? How do we make that meaningful - just a filename is not saying anything about provenance, should we use an md5 or sha-something of the file?
Either way, I believe this issue is currently not an RMassBank issue but a record format issue.

[2022-11-29 13:23] meowcat opened #319 "Compound IDs >4 digits"
With the new ACCESSIONs, there is no reason to limit compound IDs to four digits. (#315) Therefore, I propose to simply emit a warning that info will be lost with a legacy ACCESSION scheme.

[2022-11-29 13:28] meowcat commented on #319
See the PR