[2014-01-27 15:29] meowcat opened #3 "Documentation fixes"
Found during check after merging:
- Argument MSe is undocumented in both msmsWorkflow() (leMsMs.R) and findMsMsHRperxcms.direct() (leMsMsRaw.R)
- createSpecsFromPeaklists() is undocumented (leMsMsRaw.R)
- findPeaksArgs default value mismatch (msmsWorkflow() leMsMs.R)

[2014-01-27 15:31] meowcat opened #4 "rjson as Import and Dependency"
In DESCRIPTION rjson is listed as both Import and Depends. I still can't figure out which is which and which one should be kept; what do you think?

[2014-01-27 15:34] meowcat opened #5 "msmsRead : <anonymous>: no visible global function definition for 'addpeaksmanually'"
ex R CMD check:
msmsRead : <anonymous>: no visible global function definition for
  'addpeaksmanually'

No idea what it means but it likely should be fixed?

[2014-01-27 15:36] meowcat opened #6 "findMsMsHRfromXCMS.direct(): use of print()"
leMsMsRaw.R line 321 uses print for output; Bioconductor encourages using message() for "progress messages". http://www.bioconductor.org/developers/package-guidelines/#messages

[2014-01-29 12:10] tsufz opened #7 "Integration of background peak database in peak list clean up"
This list might be useful to clean-up the spectra from background rubbish. http://www.maconda.bham.ac.uk/index.php. However, we must ensure that not the peaks of interest are deleted, if a listed compound is processed. :-D

Tobias

[2014-01-29 16:02] #7 closed, assigned to nobody

[2014-02-03 06:55] schymane opened #8 "getPcId issue (external report)"
"... rpubchem is no longer being maintained. It seemed that the culprit was getPcId() in RMassBank though, which apparently didn’t work for name queries – the rpubchem part I think is working OK…"
Is this an issue with our code and does it need to be fixed?
Code snippets in email dated 3/2/14 1:04 (fwded 7:55)

[2014-02-03 14:23] sneumann opened #9 "[CLOSED] New dependencies"
_Issue by **[meowcat](https://github.com/meowcat)** from Tuesday Mar 05, 2013 at 10:36 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/1_

---

RMassBank is now dependent on:
ontoCAT,RUnit,methods,CAMERA,MetShot

Two issues:
- MetShot is not on BioConductor. What is the dependency needed for? Will MetShot go on BioConductor soon?
- License. RMassBank was deliberately put un

[2014-02-03 14:23] sneumann opened #10 "[CLOSED] Medium-term: move the Helper to a vignette"
_Issue by **[meowcat](https://github.com/meowcat)** from Tuesday Mar 05, 2013 at 14:25 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/2_

---

Just as an idea: since the Helper illustrates an alternative method to use RMassBank (and in particular it illustrates the new functions), should it end up as a vignette? The example data should probably go into RMassBankData as wel

[2014-02-03 14:23] sneumann opened #11 "[CLOSED] Concerning skipping recalibration"
_Issue by **[meowcat](https://github.com/meowcat)** from Friday Mar 15, 2013 at 15:21 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/3_

---

Hi,
from the top of my head, I see 2 ways of circumventing recalibration.

One would be: write a substitute function for recalibrateSpectra and recalibrateSingleSpec that just does p$mzRecal <- p$mz instead of actually recalibrating.

[2014-02-03 14:23] sneumann opened #12 "[CLOSED] Changes made to createMassBank.R"
_Issue by **[tsufz](https://github.com/tsufz)** from Wednesday Mar 20, 2013 at 16:03 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/pull/4_

---

Hi Steffen, here are my first changes / suggestions.

---

_**[tsufz](https://github.com/tsufz)** included the following code: https://github.com/sneumann/RMassBank/pull/4/commits_

[2014-02-03 14:23] sneumann opened #13 "[CLOSED] Removed hard coded package version"
_Issue by **[sneumann](https://github.com/sneumann)** from Thursday Mar 21, 2013 at 07:57 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/pull/5_

---

automagically obtain the RMassBank version to write into a record.

---

_**[sneumann](https://github.com/sneumann)** included the following code: https://github.com/sneumann/RMassBank/pull/5/commits_

[2014-02-03 14:23] sneumann opened #14 "[CLOSED] Added automated version in WHOLE"
_Issue by **[tsufz](https://github.com/tsufz)** from Tuesday Mar 26, 2013 at 08:30 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/pull/6_

---

---

_**[tsufz](https://github.com/tsufz)** included the following code: https://github.com/sneumann/RMassBank/pull/6/commits_

[2014-02-03 14:23] sneumann opened #15 "[CLOSED] Added missing closing emphasis"
_Issue by **[tsufz](https://github.com/tsufz)** from Tuesday Mar 26, 2013 at 08:59 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/pull/7_

---

---

_**[tsufz](https://github.com/tsufz)** included the following code: https://github.com/sneumann/RMassBank/pull/7/commits_

[2014-02-03 14:23] sneumann opened #16 "[CLOSED] Pull new updates"
_Issue by **[tsufz](https://github.com/tsufz)** from Monday Apr 08, 2013 at 12:17 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/pull/8_

---

Update the forked repository

---

_**[tsufz](https://github.com/tsufz)** included the following code: https://github.com/sneumann/RMassBank/pull/8/commits_

[2014-02-03 14:23] sneumann opened #17 "[CLOSED] Excised the recalibration plots in separate function. Made RMassBankNons..."
_Issue by **[meowcat](https://github.com/meowcat)** from Thursday Apr 11, 2013 at 09:13 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/pull/9_

---

...tandard vignette nicer.

---

_**[meowcat](https://github.com/meowcat)** included the following code: https://github.com/sneumann/RMassBank/pull/9/commits_

[2014-02-03 14:23] sneumann opened #18 "[CLOSED] Authors"
_Issue by **[meowcat](https://github.com/meowcat)** from Thursday Apr 11, 2013 at 11:54 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/pull/10_

---

---

_**[meowcat](https://github.com/meowcat)** included the following code: https://github.com/sneumann/RMassBank/pull/10/commits_

[2014-02-03 14:23] sneumann opened #19 "[CLOSED] RMassBankXCMS.Rnw doesn't build"
_Issue by **[uchem-massbank](https://github.com/uchem-massbank)** from Thursday Jul 18, 2013 at 13:28 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/11_

---

msmsWorkflow: Step 3. Aggregate all spectra
msmsWorkflow: Step 4. Recalibrate m/z values in raw spectra

Error: processing vignette 'RMassBankXCMS.Rnw' failed with diagnostics:
 chunk 8
Error in spec$peaksMatched[spe

[2014-02-03 14:23] sneumann opened #20 "Improve marking formula annotation as "tentative" in MassBank records?"
_Issue by **[uchem-massbank](https://github.com/uchem-massbank)** from Wednesday Jul 31, 2013 at 12:04 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/12_

---

Possibly changing
PK$ANNOTATION: m/z num {formula mass error(ppm)}
to
PK$ANNOTATION: m/z num {tentative formula, mass, error(ppm)} ?

Why? question from external parties querying the validity of some annotations.
To

[2014-02-03 14:23] sneumann opened #21 "[CLOSED] rjson dependency not stated in the DESCRIPTION"
_Issue by **[sneumann](https://github.com/sneumann)** from Thursday Aug 29, 2013 at 06:55 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/13_

---

The NAMESPACE imports(rjson)
so it needs to be mentioned in DESCRIPTION

[2014-02-03 14:23] sneumann opened #22 "XCMS workflow: "spectrum cutting""
_Issue by **[meowcat](https://github.com/meowcat)** from Friday Sep 13, 2013 at 14:13 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/14_

---

The XCMS workflow currently detects less spectra than the corresponding mzR workflow. The obtained records always seem to have the first collision energy settings (e.g. 01-04, 01-03 etc.)
- What is the criterion for finding or not f

[2014-02-03 14:23] sneumann opened #23 "[CLOSED] pull new files"
_Issue by **[tsufz](https://github.com/tsufz)** from Friday Sep 27, 2013 at 15:46 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/pull/15_

---

---

_**[tsufz](https://github.com/tsufz)** included the following code: https://github.com/sneumann/RMassBank/pull/15/commits_

[2014-02-03 14:23] sneumann opened #24 "[CLOSED] Vignette did not compile with 1.3.2 from BioC SVN"
_Issue by **[tsufz](https://github.com/tsufz)** from Friday Oct 11, 2013 at 08:30 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/16_

---

The vignette did not compiled on my system. I tried to use another one, but had the old rJava issue back.... But I tried to compile RMB 1.1.1 and had no problems.

sessionInfo()
R version 3.0.2 (2013-09-25)
Platform: x86_64-w64-mingw32/

[2014-02-03 14:23] sneumann opened #25 "[CLOSED] loadRmbSettings() fails on scientific notation"
_Issue by **[sneumann](https://github.com/sneumann)** from Thursday Oct 17, 2013 at 07:17 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/17_

---

Hi,

RmbSettingsTemplate() will write the specOkLimit = 1e4 in scientific notation.
loadRmbSettings() will happily load that as character string, and subsequent
tests will do _lexicographic_ comparisons:

library(RMassBank)
RmbS

[2014-02-03 14:24] sneumann opened #26 "[CLOSED] mzR workflow currently fails with Qex Data"
_Issue by **[sneumann](https://github.com/sneumann)** from Thursday Oct 17, 2013 at 09:40 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/18_

---

msmsWorkflow: Step 8. Peak multiplicity filtering
Error in if (recalcBest == FALSE) return(peaks) :
  argument is of length zero

Enter a frame number, or 0 to exit

1: msmsWorkflow(msmsXCMS, steps = 1:8, mode = "pH", readMethod

[2014-02-03 14:24] sneumann opened #27 "Workspace print and summary methods"
_Issue by **[sneumann](https://github.com/sneumann)** from Tuesday Oct 22, 2013 at 07:14 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/19_

---

If I create/modify/enhance a workflow and the parameters, I want to have a look at the intermediate results. summary() and print() methods for the workspaces could give me the number of spectra, peaks explained/not explained, ave

[2014-02-03 14:24] sneumann opened #28 "workspace visualisation methods"
_Issue by **[sneumann](https://github.com/sneumann)** from Tuesday Oct 22, 2013 at 07:17 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/20_

----

It'd be great to have some basic visualisation methods for spectra in a Workspace. The next step after that would be to be able to compare two spectra (up-down plot) from different workspaces, to compare e.g. different workflows

[2014-02-03 14:24] sneumann opened #29 "[CLOSED] Error validate"
_Issue by **[tsufz](https://github.com/tsufz)** from Tuesday Oct 22, 2013 at 08:42 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/21_

---

WARN  uk.ac.ebi.ontocat.file.ReasonedFileOntologyService - The inverse object property has_part for part_of was not found in the ontology
Error in RMassBank.env$Instrument_List <- .getInstruments() :
  object 'RMassBank.env' not found

[2014-02-03 14:24] sneumann opened #30 "Accept alternative input without requiring compound ID to be in raw file name"
_Issue by **[schymane](https://github.com/schymane)** from Tuesday Oct 22, 2013 at 09:02 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/22_

---

Currently require compound ID in file name, which requires e.g. repeated files for multiple compounds in one raw file and is inflexible for users who could provide e.g. a list of file names and compound IDs as input

[2014-02-03 14:24] sneumann opened #31 "msmsWorkflow(..., progressbar=NULL) should just skip"
_Issue by **[sneumann](https://github.com/sneumann)** from Tuesday Oct 22, 2013 at 09:28 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/23_

---

The progressbar in logfiles and esp. BioC build reports is quite uninformative,
progressbar=NULL would be the intuitive way to disable it. Till then,
a hack to disable it is progressbar=function(object = NULL, value = 0, min = 0,

[2014-02-03 14:24] sneumann opened #32 "mbWorkflow error (missing IUPAC Name)"
_Issue by **[tsufz](https://github.com/tsufz)** from Tuesday Oct 22, 2013 at 16:30 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/24_

---

I get this error while fetching data from CTS. Some first idea? If not, I could upload files for analysis.

mbWorkflow: Step 1. Gather info from CTS
4172: smiles
4175: smiles
4177: smiles
4183: smiles
4187: smiles
4193: smiles
4204: sm

[2014-02-03 14:24] sneumann opened #33 "XCMS workflow always sets foundOK=TRUE"
_Issue by **[sneumann](https://github.com/sneumann)** from Thursday Oct 24, 2013 at 08:43 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/25_

---

Set to FALSE if 1) no peaks found or 2) if no CAMERA spec was found matching the precursor mass. Actually Erik is assigned, but github wouldn't let me assign him

[2014-02-03 14:24] sneumann opened #34 "Tidy up validation Suite"
_Issue by **[schymane](https://github.com/schymane)** from Monday Oct 28, 2013 at 12:04 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/26_

---

Mostly about documentation (e.g. vignette) and tidying up the reporting
Rename folder unitTests as validationTests

[2014-02-03 14:24] sneumann opened #35 "[CLOSED] Improved error message for (s == "-") s <- NA"
_Issue by **[sneumann](https://github.com/sneumann)** from Monday Oct 28, 2013 at 12:53 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/27_

---

Error in if (s == "-") s <- NA : missing value where TRUE/FALSE needed

Erik says this is if there is a problem with the compound list

[2014-02-03 14:24] sneumann opened #36 "Suppress 50 or more warnings message at end of msmsWorkflow"
_Issue by **[schymane](https://github.com/schymane)** from Monday Oct 28, 2013 at 13:01 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/28_

----

[2014-02-03 14:24] sneumann opened #37 "Error/warning messages for compoundList"
_Issue by **[schymane](https://github.com/schymane)** from Monday Oct 28, 2013 at 13:07 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/29_

---

Informative error when problem with compoundID / filenames relationship
Check existence of files
Improve smiles handling, e.g, smiles with '@' (causes the 3s in output)

[2014-02-03 14:24] sneumann opened #38 "Direct Infusion Data"
_Issue by **[schymane](https://github.com/schymane)** from Monday Oct 28, 2013 at 13:11 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/30_

----

adjust mzR to live without precursor scans (MS1). E.g. IPB or UJI MS/MS. Have to give exact RT, then should work

[2014-02-03 14:24] sneumann opened #39 "Test mzR on dynamic exclusion data (ABSciex)"
_Issue by **[schymane](https://github.com/schymane)** from Monday Oct 28, 2013 at 13:14 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/31_

---

Test mzR to cover data dependent with dynamic exclusion where no peak exists for xcms. E.g. BfG ABSciex data. Have possible additional problem of accuracy?

[2014-02-03 14:24] sneumann opened #40 "Add peak list functionality in methods to MsmsWorkflow"
_Issue by **[schymane](https://github.com/schymane)** from Monday Oct 28, 2013 at 13:17 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/32_

---

[2014-02-03 14:24] sneumann opened #41 "Test mzR and xcms workflows on low res data"
_Issue by **[schymane](https://github.com/schymane)** from Monday Oct 28, 2013 at 13:31 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/33_

---

[2014-02-03 14:24] sneumann opened #42 "Processing of tentatives/unknowns"
_Issue by **[schymane](https://github.com/schymane)** from Monday Oct 28, 2013 at 13:42 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/34_

---

This relies on other discussions to set the tagging. TBC.

[2014-02-03 14:24] sneumann opened #43 "Review talkativity of xcms / repress messages if necessary"
_Issue by **[schymane](https://github.com/schymane)** from Monday Oct 28, 2013 at 14:17 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/35_

---

[2014-02-03 14:24] sneumann opened #44 "XCMS workflow: report actual RT"
_Issue by **[sneumann](https://github.com/sneumann)** from Monday Oct 28, 2013 at 14:27 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/36_

---

Currently, the XCMS workflow places the RT from the compound list
into the record. Use the RT from the CAMERA spectrum instead.

[2014-02-03 14:24] sneumann opened #45 "[CLOSED] update forked repository from neumann to tsufz"
_Issue by **[tsufz](https://github.com/tsufz)** from Monday Oct 28, 2013 at 20:20 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/pull/37_

---

I hope it works....

---

_**[tsufz](https://github.com/tsufz)** included the following code: https://github.com/sneumann/RMassBank/pull/37/commits_

[2014-02-03 14:24] sneumann opened #46 "[CLOSED] Try again pull updates to fork"
_Issue by **[tsufz](https://github.com/tsufz)** from Monday Oct 28, 2013 at 20:22 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/pull/38_

---

---

_**[tsufz](https://github.com/tsufz)** included the following code: https://github.com/sneumann/RMassBank/pull/38/commits_

[2014-02-03 14:24] sneumann opened #47 "Simplify the data structure of msmsWorkspace?"
_Issue by **[meowcat](https://github.com/meowcat)** from Friday Nov 01, 2013 at 10:42 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/39_

----

One problem with RMassBank is that I feel I am probably the only person who actually understands the whole data structure in the msmsWorkspace object, which has become quite complex and branched. This happened because it grew "orga

[2014-02-03 14:24] sneumann opened #48 "[CLOSED] Fixed cpd-ID problems and showmethod closes #27"
_Issue by **[ermueller](https://github.com/ermueller)** from Thursday Nov 21, 2013 at 12:27 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/pull/40_

---

---

_**[ermueller](https://github.com/ermueller)** included the following code: https://github.com/sneumann/RMassBank/pull/40/commits_

[2014-02-03 14:24] sneumann opened #49 "Optimized collision energy spectra"
_Issue by **[schymane](https://github.com/schymane)** from Thursday Nov 21, 2013 at 12:28 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/41_

---

A new case at Eawag: standard spectra recorded with one MS/MS only with optimized collision energies in one run. This is then the CE used in our target methods.
- use current options and save "optimized CE" rather than e.g. HCD6

[2014-02-03 14:24] sneumann opened #50 "[CLOSED] Issue 25 + refactoring"
_Issue by **[ermueller](https://github.com/ermueller)** from Wednesday Dec 04, 2013 at 10:47 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/pull/42_

---

Just a little refactoring and fixing issue #25

---

_**[ermueller](https://github.com/ermueller)** included the following code: https://github.com/sneumann/RMassBank/pull/42/commits_

[2014-02-03 14:24] sneumann opened #51 "Restrict reanalyse peaks to peaks < precursor"
_Issue by **[schymane](https://github.com/schymane)** from Friday Jan 10, 2014 at 10:31 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/43_

---

A few spectra seem to have M+H(+2) labelled via reanalyse peaks. This shouldn't happen ;) Examples: 203 (pH_120108; 209.0114 C12H3NO3+), 657 (111116_pH; 427.1889 C17H34ClN3O5S+), 2676 (111116_pH; 258.0172 C8H8Cl2N6+).
All relative

[2014-02-03 14:24] sneumann opened #52 "Catch & fix case where scan acquisition & settings file mismatch"
_Issue by **[schymane](https://github.com/schymane)** from Friday Jan 10, 2014 at 10:34 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/44_

---

e.g. 14 scans in settings file, but only 13 scans recorded.
Examples 231, 2898. Michele is onto it.

[2014-02-03 14:24] sneumann opened #53 "Debug repeated peaks with no (yet) apparent cause"
_Issue by **[schymane](https://github.com/schymane)** from Friday Jan 10, 2014 at 10:37 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/45_

---

Examples 278 (pH_120120) - the spectra are a mess! Reacquisition needed??
This is currently excluded from all massbanks...
124 (pH_120220) - the spectra are a mess too, but pH_120108 worked fine.

[2014-02-03 14:24] sneumann opened #54 "Oversized zip files?"
_Issue by **[schymane](https://github.com/schymane)** from Friday Jan 10, 2014 at 10:40 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/46_

---

A zip with 4,478 records was repeatedly rejected for "possible timeout"; splitting into two halves worked. Repacked zip with 4,464 got through. Something to monitor; possibly add as a warning into repack if this is reproducible...

[2014-02-03 14:24] sneumann opened #55 "[CLOSED] Add in new CTS name scoring: chemify"
_Issue by **[schymane](https://github.com/schymane)** from Tuesday Jan 14, 2014 at 09:41 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/47_

---

New scoring implemented, e.g.:
http://cts.fiehnlab.ucdavis.edu/chemify/rest/identify/atrazine
returns:
"score": 1.0,
and exact configuration details here:
http://cts.fiehnlab.ucdavis.edu/chemify/rest/identify
But this doesn't app

[2014-02-03 14:24] sneumann opened #56 "[CLOSED] April2013hackfest"
_Issue by **[ermueller](https://github.com/ermueller)** from Tuesday Jan 14, 2014 at 16:45 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/pull/48_

---

These commits should fix 2 more requested problems

---

_**[ermueller](https://github.com/ermueller)** included the following code: https://github.com/sneumann/RMassBank/pull/48/commits_

[2014-02-03 14:24] sneumann opened #57 "Add check against peaks > precursor to validation suite"
_Issue by **[sneumann](https://github.com/sneumann)** from Wednesday Jan 15, 2014 at 09:46 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/49_

---

Emma requested in #43 to add another check,
we're just extracting that into a new issue.

"Also, add a feature in the validation Suite to catch
 this occurrence (peaks > precursor). "

We should then check against all of MassBa

[2014-02-03 14:24] sneumann opened #58 "Extend RMassBank to deal with isotopes in MS/MS"
_Issue by **[schymane](https://github.com/schymane)** from Wednesday Jan 15, 2014 at 13:04 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/50_

---

e.g. using enviPat?
Would require data with isolation width > 1.5 Da (=> IPB?).
Longer term issue, other issues should be addressed first, in my opinion.

[2014-02-03 14:25] sneumann opened #59 "Create additional test data packages"
_Issue by **[sneumann](https://github.com/sneumann)** from Monday Jan 27, 2014 at 13:17 GMT_
_Originally opened as https://github.com/sneumann/RMassBank/issues/51_

---

rmassbankrecords/Qex_Data
and
rmassbankrecords/IPBMM48

[2014-02-06 10:04] #18 closed, assigned to nobody

[2014-02-06 10:05] #56 closed, assigned to uchem-massbank

[2014-02-06 10:05] #29 closed, assigned to uchem-massbank

[2014-02-06 10:05] #11 closed, assigned to nobody

[2014-02-06 10:05] #12 closed, assigned to nobody

[2014-02-06 10:05] #50 closed, assigned to uchem-massbank

[2014-02-06 10:06] #23 closed, assigned to nobody

[2014-02-06 10:07] #19 closed, assigned to nobody

[2014-02-06 10:07] #16 closed, assigned to nobody

[2014-02-06 10:07] #9 closed, assigned to nobody

[2014-02-06 10:08] #25 closed, assigned to nobody

[2014-02-06 10:09] #15 closed, assigned to nobody

[2014-02-06 10:09] #14 closed, assigned to nobody

[2014-02-06 10:09] #21 closed, assigned to nobody

[2014-02-06 10:09] #55 closed, assigned to uchem-massbank

[2014-02-06 10:09] #46 closed, assigned to uchem-massbank

[2014-02-06 10:09] #26 closed, assigned to uchem-massbank

[2014-02-06 10:10] #10 closed, assigned to nobody

[2014-02-06 10:10] #45 closed, assigned to uchem-massbank

[2014-02-06 10:10] #35 closed, assigned to uchem-massbank

[2014-02-06 10:11] #13 closed, assigned to nobody

[2014-02-06 10:11] #48 closed, assigned to uchem-massbank

[2014-02-06 10:11] #24 closed, assigned to nobody

[2014-02-06 10:12] #17 closed, assigned to nobody

[2014-02-06 10:12] #44 closed, assigned to uchem-massbank

[2014-02-06 15:15] #4 closed, assigned to sneumann

[2014-02-06 15:17] #3 closed, assigned to sneumann

[2014-02-17 11:08] #5 closed, assigned to sneumann

[2014-02-17 11:09] #22 closed, assigned to nobody

[2014-02-17 14:17] #33 closed, assigned to uchem-massbank

[2014-02-17 14:18] #40 closed, assigned to uchem-massbank

[2014-02-18 09:45] #27 closed, assigned to uchem-massbank

[2014-02-18 15:13] sneumann opened #62 "Fix the RMassBankXCMS vignette"
Hi Erik, I grabbed an old copy of the XCMS vignette,
and added it under https://github.com/sneumann/RMassBank/blob/master/vignettes/RMassBankXCMS.Rnw-disabled

Please
1. suppress the warnings

[code]
1. please fix the error in

[code]

[2014-02-18 15:50] schymane opened #63 "Removing electronic noise doesn't appear to work anymore"
Settings:
electronicNoise:
- 189.825
- 201.725
- 196.875

electronicNoiseWidth: 0.3

And contents in Failpeaks.csv:
OK  name    cpdID   scan    mzFound formula mzCalc  dppm    dbe mz  int
    2781    2821    965 201.7013    NA  NA  NA  NA  201.7015228 103935.2656
    2814    2821    966 201.70319   NA  NA  NA  NA  201.7034149 105399.8203
....
18 occurrences with RMassBankData, all files, default s

[2014-02-19 06:39] sneumann opened #64 "Write a c() method for msmsWorkspace"
Hi, yesterday Erik and I discussed how to take care of multiple files
for one compound (e.g. different eV in separate files) and decided
to create a combine method c(msmsWs1, msmsWs2) to join to workspaces.
This is intended to only work after msmsRead(), aka step=1,
i.e. it will not combine the lists in the workspace that result from later steps.

[2014-02-25 13:27] schymane opened #65 "MS1, MS2 and Plotting functions into RMassBankExtras"
@meowcat: Should we get the MS1, MS2 and plotting functionality we seem to be using more and more actually into RMassBankExtras, rather than having scripts floating around?
My current input is only mz, RT, I do play with RT, mz error windows and the cut-off but not much else, the plotting may need a bit of playing with to work but not too dramatic.
What do you think?

[2014-03-11 07:04] #59 closed, assigned to uchem-massbank

[2014-03-11 09:24] #64 closed, assigned to uchem-massbank

[2014-03-11 09:58] #62 closed, assigned to uchem-massbank

[2014-03-11 13:21] sneumann opened #67 "msmsWorkflow(..., readMethod="peaklist") throwing an error"
Hi Erik,
The RMBXCMS vignette currently has the last section "commented out" via
`<<eval=FALSE>>=`

The code there fails with

[code]

Yours,
Steffen

[2014-03-27 08:36] #67 closed, assigned to uchem-massbank

[2014-03-27 10:18] schymane opened #69 "Adjust loadList to work with ;s in csv"
Current error message:
Error in loadList("C:/DATA/CG_HRMS/Compoundlist_CG_try2.csv") :
  Some columns are missing in the compound list. Needs at least ID, Name, SMILES, RT.

Firstly this isn't very informative for this exact problem and secondly, it should be easy to fix to accept either , or ; separators, right?
cmpdList <- read.csv2("C:/DATA/CG_HRMS/Compoundlist_CG_try2.csv")
write.csv(cmpdList,

[2014-03-27 10:24] #63 closed, assigned to uchem-massbank

[2014-03-27 13:01] schymane opened #70 "msmsRead doesn't seem to read peaklists?"
files <- "C:/DATA/R/RMassBankData/spectra.Glucolesquerellin/Glucolesquerellin_2184_1.csv"
cpdids <- c(46)
loadRmbSettings("CG_settings_ESIneg_incomplete.ini")
w <- newMsmsWorkspace()
loadList("C:/DATA/CG_HRMS/Compoundlist_CG_try3.csv")
w <- msmsRead(w, files=files, cpdids=cpdids, readMethod="peaklist",
         mode="mH")

Error in file(file, "rt") : cannot open the connection
In addition: Warning

[2014-03-27 13:56] sneumann opened #71 "show.msmsWorkspace() needs to cope with workspaces at all steps"
Emma:  Looks like it found nothing, but the error at the end should be caught better?

We: is a problem in show.msmsWorkspace(), which needs to cope
with workspaces that have not undergone all steps.

[code]

[2014-03-27 14:24] sneumann opened #72 "missing drop=FALSE somewhere"
If a spectrum contains only a single peak,
at step=8 in the workflow there is

[code]

[2014-04-02 13:53] schymane opened #73 "3-letter record prefix results in record IDs 1 digit too long"
entry_prefix: X => X001721.txt (not allowed)
entry_prefix: XX => XX001721.txt (OK)
entry_prefix: XXX => XXX001721.txt (too many digits)

All record IDs should be 8 digits only with either two or three letters and six or five digits, respectively. Can we enhance the workflow to only accept two or three letters in the prefix and create records with the correct number of digits for both cases?

[2014-04-07 07:45] #69 closed, assigned to uchem-massbank

[2014-04-07 07:59] schymane opened #74 "Adjust addPeaks to work with ;s in csv"
Parallel to the fix for loadList, thanks...

[2014-04-07 08:17] #32 closed, assigned to uchem-massbank

[2014-04-07 09:13] #6 closed, assigned to ermueller

[2014-04-07 09:28] #30 closed, assigned to uchem-massbank

[2014-04-07 09:36] #71 closed, assigned to uchem-massbank

[2014-04-07 13:13] #57 closed, assigned to uchem-massbank

[2014-04-07 13:16] #54 closed, assigned to uchem-massbank

[2014-04-07 13:32] #20 closed, assigned to nobody

[2014-04-07 13:53] #43 closed, assigned to uchem-massbank

[2014-04-07 14:10] #31 closed, assigned to uchem-massbank

[2014-04-08 14:27] schymane opened #75 "Progress bar for xcms"
and consider some kind of message for peak lists (not worth a progress bar)

[2014-04-24 11:30] #75 closed, assigned to ermueller

[2014-04-24 11:34] #73 closed, assigned to ermueller

[2014-04-24 11:37] #70 closed, assigned to ermueller

[2014-04-27 10:39] #37 closed, assigned to ermueller

[2014-04-28 07:25] schymane opened #77 "misleading error message in loadRmbSettings()"
If the user tries to load a settings file that doesn't exist (wrong name, or wrong dir etc) then the message given is:
Error in loadRmbSettings("settings_ESI_DI.ini") :
  Options incorrectly specified.

It would be more useful in this case to say that the path or file is wrong, rather than saying the settings are incorrectly specified - correcting a path/file name is much quicker than browsing the

[2014-04-28 07:52] schymane opened #78 "load packages with library(RMassBank)"
I still don't see a good reason for this behaviour, and library(RMassBank) not loading any of its dependencies is becoming very inconvenient. If there is no very good reason not to load packages apart from ideology, please fix. I have not yet come across a performance benefit.

[2014-04-28 08:08] schymane opened #79 "merging issues + unit test for Electronic Noise"
Latest versions from Steffen and Michele don't match. Only example found so far: missing electronic noise removal in latest 1.5.2.2 from Steffen (Friday April 25), which is present in last 1.5.2.1 from Michele one month earlier (27 March).
Please check if anything else is missing.

[2014-04-28 09:49] schymane opened #80 "msmsRead, record numbers and warn user for multiple compound IDs?"
I am not sure exactly what is going on here, so this issue is currently vague.
(1) RMassBank with only one scan results in really strange record numbering
If RMB is behaving as I would expect, we get the record numbering
XXXX01, XXXX02, XXXX03, … XXXX14 for 14 scans belonging to compound XXXX.
The behaviour for 1 scan would then be, for multiple compounds A to Z:  AAAA01, BBBB01, CCCC01, … ZZZZ01.

[2014-04-28 12:38] schymane opened #81 "RMB only partially supports M- mode?"
"The argument mode species the processing mode: pH
(positive H) species [M+H]+, pNa species [M+Na]+, pM species [M]+,
mH and mFA specify [M-H]- and [M+FA]-, respectively."
This is the only list I can find anywhere of what RMB does support...

mM isn't mentioned anywhere but doesn't fail elegently, I can enter it and just get:
msmsWorkflow: Step 2. First analysis pre recalibration
Error in add.

[2014-05-01 16:45] schymane opened #82 "Waters data"
Other updates to the XCMS Online are:
•	Waters Instrument users now have a reader for RAW data on XCMS Online
Follow-up?

[2014-05-19 11:32] schymane opened #83 "error: double-byte character included"
The compounds "N,N’-dimethyl-N,N’-diphenylurea" and "3,3’dichlorobenzidine" pass through the full RMassBank workflow but get an error "double-byte character included" during the record validation in MassBank.
Deleting the ' in each name works, as does replacing it with ` instead of '.
The latter is preferable and doesn't lead to any display issues - just deleting the ' means the name is incorrect.

[2014-05-23 06:52] schymane opened #84 "Peaklist processing without recalibration and annotation"
RMassBank is not yet capable of doing the conceptually trivial:
- read in X peaklists belonging to X compounds
- read in the settings
- skip annotation, calibration, ...
- retrieve compound information
- create corresponding MassBank records.
- Ideally, some way to read in flexible settings for the different X compounds, compatible with current settings (e.g. compound 1 has CE=HCD 90, compound 1 h

[2014-06-16 08:53] #78 closed, assigned to nobody

[2014-06-20 15:20] #81 closed, assigned to nobody

[2014-10-01 08:30] schymane opened #86 "Move RMassBank to new MB repository"
https://github.com/MassBank/
Related: add more info to github MassBank? Looks very empty, no people, just one converter at the moment.

[2014-10-01 09:07] schymane opened #87 "fix typo in file table for msmsRead"
Mixed capitalization somewhere (in manual?)

[2014-10-01 09:09] schymane opened #88 "catch CTS failures"
see Metabolights records

[2014-10-22 06:27] schymane opened #89 "match version number closer to BioC"
Github currently 1.5.2.5, bioc now 1.9.0

[2014-11-06 15:06] stanstrup opened #90 "ChemmineOB can replace calls to openbabel"
Hi. I am reading through the documentation for RMassBank and noticed that you use openbabel directly. I recently found that the package ChemmineOB gives access to openbabel conversions without direct system calls.
Thought you might like to use this instead of the direct calls.

[2014-11-06 15:25] stanstrup opened #91 "suggestion for safer filterPeakSatellites"
What about using the fact that the satellite peaks are always symmetric around the main peak? This should make it much safer I would assume. And would be great to have for raw data so you can filter data before xcms analysis.

[2014-11-07 12:40] stanstrup opened #92 "Building vignettes from github fail"
[code]

[code]

[code]

Same error if I build from sneumann/RMassBank.
`install_url('http://bioconductor.org/packages/3.0/bioc/src/contrib/RMassBank_1.8.0.tar.gz',build_vignettes=T)` works.

[2014-11-07 13:18] stanstrup opened #93 "vignette workflow results in warnings and an error in "w""
I don't know if this is still the case (see #92) but with the version on bioconductor I get some errors running through the vignette.

[code]

and

[code]

[2014-11-07 15:50] meowcat opened #94 "findMsMsHR: findMsMsHR.direct is not really needed.."
Currently there is findMsMsHR.mass (the low level version which starts from a mzR object and mass window) and findMsMsHR (the high level version which starts from a file name and a compound ID, as well as getting default settings from the RMassBank settings. The low level version only looks at the deprofile setting). Then in addition there is findMsMsHR.direct as a middle layer. However, all that

[2014-11-10 07:43] #93 closed, assigned to nobody

[2014-11-10 11:01] schymane opened #95 "Error in mbWorkflow if babel dir is incorrect"
If the Babel dir in the settings is incorrect, this currently results in an error at mbWorkflow Step 6 (generate molfiles) - whereas if *no* babel dir is given, we can still produce structures. We should be able to catch this error and go back to the default (ugly) structures.
In the end we should look into replacing our dependency on OpenBabel as mentioned in #90

![mbworkflow_error_step6](https:

[2014-11-10 15:50] meowcat opened #96 "Backwards compatibility for msmsWorkspace"
Hi,

I'm currently working on doing #47, i.e. reworking the data structure of msmsWorkspace. There is one issue, which is backwards compatibility when loading old data, since new msmsWorkspace won't have the same structure anymore.

It should be noted that the loadMsmsWorkspace *already does* backwards compatibility handling for the "old old" version where everything was loaded into global namespa

[2014-11-13 15:51] schymane opened #97 "Bizarre RMassBank.Rnw vignette gaffe with msmsRead"
So, it appears a rogue snippet (lucky marked as eval=FALSE) has snuck into our vignette. We're in the process of fixing BioC (devel fixed, 1.9.1 committed, current in progress), but instead of removing it from github, this material should be improved and incorporated into the vignette _properly, in the right place_ (we only noticed because a student just got very confused...).
Currently this does

[2014-11-13 15:56] schymane opened #98 "Suppress warnings in msmsWorkflow"
In is.na(headerCache) : is.na() applied to non-(list or vector) of type 'NULL'

In min(x, na.rm = na.rm) : no non-missing arguments to min; returning Inf
In max(x, na.rm = na.rm) : no non-missing arguments to max; returning -Inf

[2014-11-17 09:46] schymane opened #99 "Low mz real peaks occurring in fail peaks (on RMBData files)"
The fail peak list of RMassBankDemo has now acquired some additional entries which shouldn't be there, namely real peaks (low mz, i.e. 55 and 56) that are present in our original MassBank records with valid formulas and were never in the original fail peak files. Any ideas where this might come from? Using the settings generated by RmbSettingsTemplate(), reproducible across github (1.5.2.5) and Bi

[2014-11-21 13:06] schymane opened #100 "Compoundlist.csv"
So, the vignette explains that the Compoundlist.csv needs
The CSV file is required to have at least the following columns, which are used for
further processing and must be named correctly (but present in any order): \Rvar{ID, Name, SMILES, RT, CAS}. The columns \Rvar{ID} and \Rvar{SMILES} must be filled, the other columns
must be present in the file but do not need to be filled.

But, if you get

[2014-11-26 22:58] ermueller opened #101 "gatherData not working properly"
So, gatherData in createMassBank.R has some major issues as of right now. I noticed this when playing around with the glucolesquerellin data in the GUI. By extension, the mbWorkflow is broken for certain compounds.

I figure this issue is for Michele and me to solve.

I guess this happened because of CTS reworking everything?

The problems:
line 401:
[code]

`infos` should technically be a list of

[2014-11-27 07:25] schymane opened #102 "UAthens data & mzR"
readMethod = "mzR", mode="pH", useRtLimit=TRUE)
  |                                                                                               |                                                                                       |   0%
Error in `colnames<-`(`*tmp*`, value = c("mz", "int")) :
  'names' attribute [2] must be the same length as the vector [0]
In addition: Warning message:
In is.

[2014-11-27 07:47] schymane opened #103 "UAthens data & xcms - missing peaks & too many peaks"
Examples:
AU000101 (Ranitidine)
Peaks at 176.0485 (C5H10N3O2S+), 224.0978 (C11H16N2OS+), 270.0905 (C11H16N3O3S+) missing
[Question: is this xcms at fault, or the rcdk bug?]

AU000401 (Dapsone)
Isotope pattern appearing with valid formulas:
  156.0121 C6H6NO2S+ 1 156.0114 4.45
  157.0192 C6H7NO2S+ 1 157.0192 0.06
  158.0118 C8H2N2O2+ 1 158.0111 4.44
[the fact that it's getting a valid formula just

[2014-12-16 23:28] dwalke04 opened #104 "High resolution data and findMsMsHR.mass"
Attempting to extract data from mzXML file containing ms1 and ms2 scan (two total).
Read file in using mzR:
ms_file<- openMSfile("141208-GG-01.mzXML")
Completed successfully

Attempted to extract spectra for the given precursor mass:
l1<- findMsMsHR.mass(ms_file, mz= 180.8937, limit.coarse= 50, limit.fine=5, rtLimits= NA, maxCount= NA, headerCache= header(ms_file), fillPrecursorScan= TRUE, deprofi

[2014-12-18 11:43] #97 closed, assigned to ermueller

[2014-12-18 11:44] #92 closed, assigned to ermueller

[2014-12-18 11:45] #87 closed, assigned to ermueller

[2014-12-18 11:45] #89 closed, assigned to meowcat

[2014-12-18 11:50] #80 closed, assigned to ermueller

[2014-12-18 11:52] #77 closed, assigned to ermueller

[2014-12-18 11:57] #83 closed, assigned to nobody

[2014-12-18 12:08] #91 closed, assigned to nobody

[2014-12-18 12:18] #103 closed, assigned to nobody

[2015-01-19 14:47] ermueller commented on #102
Rminder for me to ask about this

[2015-01-20 18:23] ermueller commented on #72
Error message in 38cab82908345d764e402e827670fd113c058bd0
Made message more understandable in 19e356bb53e4692e3296cd19c79ec8c92c303c07

[2015-01-20 18:23] ermueller commented on #88
Tentatively added timeout error message in dde318f5b3a22fa4d38e4a1ecc2d808e391abf72

[2015-01-20 18:24] ermueller commented on #101
Possible fix added in a comment in 1c3ba7b041e5e806140e0cd79759dd733eeb1aa5

[2015-01-20 18:26] ermueller commented on #34
Tidied up reporting a bit, looks a bit nicer. Still took a lot of time, so I don't know how how long it'll take to finish, considering that this is rather low-priority.
Happened in these three commits:
b2a3b21766b0685670060069cb3618066a03fd3d
6d1589371f45112800deb11d47f51757706610d7
2e33d88a1bc94b215764331c6616fb6dd664c808

[2015-01-20 18:41] ermueller opened #107 "Clean up issue list/New labels"
Hey everybody,

I just looked through the issue list and had (again) problems finding stuff. I looked for ways to sort out this problem and I thought we could use the labels (bug, enhancement, etc) more extensively to make it more readable and better organized.

It turns out:

We can even create new labels for the issues!
It's described in this guide:
https://help.github.com/articles/creating-and-

[2015-01-20 18:56] ermueller commented on #88
Also, I made the CTS stuff in the examples not run anymore, so I can at least R CMD check the other stuff properly.

[2015-01-20 19:21] schymane commented on #107
Yup, I agree we should invest the time tomorrow.

[2015-01-21 09:33] ermueller commented on #107
@meowcat , you would have to create the labels if that's ok. You're the only one who can, since it's your repo.

[2015-01-21 09:37] meowcat commented on #107
Would these labels port to the MassBank dev repository once we move over there? Which I suggest we do soon anyway.

[2015-01-21 11:20] sneumann commented on #88
"CTS stuff in the examples not run anymore"
Should be reverted, as it quickly catches CTS failures, so UCDavies gets emails earlier.

[2015-01-21 11:24] schymane commented on #88
Instead try warnings and see if we can get build warnings rather than build errors

[2015-01-21 11:26] sneumann commented on #101
This fix can be enabled and thoroughly tested with the "christmas dataset"

[2015-01-21 11:29] sneumann commented on #100
Erik fixed the error message explaining required columns in 8b9605e5c2111f28aef7ef18f264adbead16c9d2.
What needs to be added to manpage/vignette is still unclear.

[2015-01-21 11:31] schymane commented on #100
The vignette has ~1 paragraph explaining what the compound list should look like.
Can you add the most important details to the help for loadList? E.g., the required and optional columns. Copy/paste from vignette is good

[2015-01-21 11:33] sneumann commented on #34
The validation could be run on the Christmas dataset, and while at it new checks could be added

[2015-01-21 11:38] schymane commented on #34
e.g. spectra with only low I fragments (c.f. packing script).
Cross validation => look for compounds by InChI Keys and calculate similarity (may not help); compare base peak entry? Would also require to compare analytical conditions etc. Something maybe beyond validation => discussion in San Fran

[2015-01-21 11:45] sneumann commented on #72
So we now fail with a proper error message. Even better would be to handle the cause properly,
and continue with an (empty) spectrum.

For a proper unitTest, we'd need an example with peaklist import, one single peak that will get filtered at stage 5 (assigning formula to recalibrated peaks) or stage 6 (aggregating).

[2015-01-21 11:53] schymane commented on #72
Material for a unit test sent to Erik 21.1.2015

[2015-01-21 12:05] sneumann commented on #102
Move the "if (nrow(pplist) > 0) " check up just behind  "pplist <- ..."

[2015-01-21 12:06] schymane commented on #102
Add a warning to the user that no precursor was detected and recommend to use setting fillPrecursorScan: TRUE

[2015-01-21 12:12] schymane commented on #104
This is on hold until we have a data file @dwalke04 it would be great if you could contact us directly!
New label suggest: on hold

[2015-01-21 12:20] schymane commented on #82
We can either work around via xcmsRaw and get to waters via netCDF. Closing for now

[2015-01-21 12:20] #82 closed

[2015-01-21 12:22] #79 closed

[2015-01-21 12:22] #99 closed

[2015-01-21 12:23] #84 closed

[2015-01-21 12:25] schymane commented on #95
Leaving #90 as enhancement, this can be closed

[2015-01-21 12:25] #95 closed

[2015-01-21 12:26] schymane commented on #98
Looking for a test case in the "Christmas set"

[2015-01-21 12:27] schymane commented on #107
New label suggests:
"on hold"
"need test case"

[2015-01-21 12:28] schymane commented on #36
Michele, can we close this now?

[2015-01-21 12:31] schymane commented on #86
Question is whether we add new labels now, or port first, then add new labels

[2015-01-21 12:31] sneumann commented on #86
How to move a repo:
https://help.github.com/articles/transferring-a-repository/

[2015-01-21 12:33] schymane commented on #8
This should have been closed ages ago!

[2015-01-21 12:33] #8 closed

[2015-01-21 12:34] schymane commented on #28
Close this for now, we can add a new issue if we want new plots

[2015-01-21 12:34] #28 closed

[2015-01-21 12:37] schymane commented on #38
Erik, can you see if this has happened? This is related to the dataset from 7 April too.

[2015-01-21 12:40] schymane commented on #38
Original cause of issue is fixed with fillPrecursorScan. This is now about direct infusion data

[2015-01-21 12:45] schymane commented on #107
"need unit test"

[2015-01-21 12:52] uchem-massbank commented on #86
Erik needs to be a member of MassBank before we can transfer.
@sneumann: can you invite him?

[2015-01-22 12:44] meowcat commented on #86
The repo is now in the MassBank organization.
The old URLs should still work for pushing and pulling (according to documentation) but it's probably a good idea to link your local Git repos to the new url (MassBank instead of meowcat in the URL).

[2015-01-22 13:26] schymane commented on #107
I have revamped the labels, added a few extras
 - urgent => immediate attention
 - high priority => high on the to-do list, but not *immediate*
 - low priority => long term projects,
 - wontfix is now "beyond scope" to make it sound better.

Most other additions were in line with comments above. Erik, if you are happy with all that, feel free to close this issue, I have feedback from Steffen and M

[2015-01-22 13:33] #86 closed

[2015-01-26 13:07] meowcat commented on #36
I fixed at least two of the warning generating steps (0e6303 to 7f80a2d), Closing for now, reopen if still something comes up

[2015-01-26 13:07] #36 closed

[2015-01-27 09:14] ermueller commented on #107
The new labels are great and make my life a little bit easier. I'm very happy, thanks for taking the time to do this.

[2015-01-27 09:14] #107 closed

[2015-01-28 12:41] sneumann opened #109 "Create an alternative to CTS via local (R)OpenBabel"
Work towards making CTS optional, by calling obabel locally.
Add "queryCTS=TRUE" to mbWorkflow, and do local calls otherwise.
Also edit the CTS timeout error message to hint that "queryCTS=FALSE" might help.

[2015-01-28 13:03] schymane commented on #90
This doesn't seem to be terribly easy and different behaviour for different operating systems. Also the show-stopper right now is it doesn't seem to support InChI Keys => building up more functionality based on system calls for the moment to address #109

[2015-01-28 13:16] stanstrup commented on #90
Not to put my nose where it doesn't belong but it would seem that it supports inchikey *writing* the same way as babel:

[code]

[2015-01-28 13:17] meowcat commented on #90
Are you sure? From what I got now (@schmyane) the issue with the ChemmineOB package seems to be that Mac users would have to install OpenBabel by hand, but how is that worse than the current situation (where everyone has to install it by hand and set some directories in the config files)?

re InChI keys, not sure what exactly is the goal, but no non-database tool can do InChI key searches since th

[2015-01-28 13:20] uchem-massbank commented on #90
@meowcat do you have time to give ChemmineOB a try on windows?

[2015-01-28 13:35] meowcat commented on #90
[code]

[2015-01-28 13:36] meowcat commented on #90
OTOH, this fails:

[code]

[2015-01-28 15:21] stanstrup commented on #90
Broken on windows apparently: https://github.com/girke-lab/ChemmineOB/issues/9

[2015-01-28 15:28] schymane commented on #90
That’s a pity and also a show-stopper for the moment.
@ermueller: should we stick with system calls for #109 for the moment and investigate ChemmineOB at a later stage?

[2015-01-28 16:20] ermueller commented on #90
Yes, that seems like the best idea for now.

[2015-01-28 21:31] schymane commented on #109
Mandatory fields from the MassBank point of view:
CH$NAME
CH$SMILES <= assuming this is our starting point
CH$IUPAC <= the InChI (not InChI Key)
Other mandatory compound fields CH$FORMULA, CH$EXACT_MASS and CH$COMPOUND_CLASS should be filled in from somewhere else in RMB, not CTS.

All other compound fields are optional from the MassBank point of view, but still useful for us.
CH$LINK: CAS <= you

[2015-01-29 07:28] schymane opened #110 "CTS mirror server in EU"
Gert is a big fan of this idea:
- runs using jetty
- backend postreSQL database server v1.9
- database dump ~max 75 GB at this stage.

Biggest issue will be software/data version compatibility between the systems.
Potential servers Halle or Leipzig.

[2015-02-01 15:46] ermueller commented on #109
So, I've got this implemented more or less, currently testing if everything works fine with different datasets. Currently no IDs or

1)
 I'm on the edge about using chemspider or pubchem, since, like I said, it would be nice to do this without any need for a working internet connection. I also currently have a dataset with some names/SMILES-codes without anything in any database, which also crashe

[2015-02-02 08:43] schymane commented on #109
(1) If the SMILES and/or name isn't in a database, this shouldn't crash RMassBank, it should just result in a quite empty infolist result? We have run RMassBank in the past with transformation products that weren't yet in any database. However, for these cases we did always have a SMILES and a name. If either SMILES or Name missing results in a crash, this should be another issue, because that sho

[2015-02-02 09:53] tsufz commented on #109
add 1) / 2) SMILES and IUPAC are mandatory for MassBank and thus empty fields will not crash RMassBank, but records cannot be uploaded.

add 2) Yes, there is an open source parser: http://opsin.ch.cam.ac.uk/. Of course one could run locally Chemaxon or ACD suite if available. I would rather argue for a solution that is independent from any commercial software.

add 3) How will you hide the token i

[2015-02-02 09:57] tsufz commented on #110
There are some traffic problems (overload due to heavy usage of the Webinterface instead the batch and REST services). Diego considers to implement KNIME nodes and will add some code snippets and documentation to CTS site.

The overall traffic is not to big (~500 visits per month), but enough to knock out the server....

[2015-02-02 09:59] tsufz commented on #110
The server requirements are:
- Linux virtual machine
- 4 cores
- 8-16 GB RAM

Backup service not really necessary in order of mirroring the main server in USA?

[2015-02-02 11:20] ermueller commented on #109
Ok, I think I said something wrong here:
If the name is overly complex with all kinds of brackets and who knows what (IUPAC-like, I'd say) then CTS just times out because it doesn't quite know what to do.
If CTS can interpret the name but doesn't know anything, then yes, it just returns nothing.

Exactly. Nothing we can do about that, as far as I see it.

But if somebody knew how to get the token,

[2015-02-02 11:33] tsufz commented on #109
@ermueller
Yes, you are right. I does not work vice-versa. Sorry, I didn't check ti....

[2015-02-03 12:30] meowcat commented on #109
(copied from email)
Hi Erik @ermueller,

I and Emma just played around a bit and found that the PubChem REST PUG thing is actually quite cool and might substitute for CTS for many things.
You can access it with URL directly and get the output as different things, here for example JSON which is easy to handle with R.

Look for example at:

http://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/inchikey/

[2015-02-03 13:01] meowcat commented on #109
We looked a bit more and it seems that we can't get a ChemSpider ID from PubChem - the only way we found is to get the CSID list from Cactus and use the lowest one. I just updated the gist code to get that (and renamed inputSmiles to inputInChIKey, since I had messed that up :) ) It fails on two entries (flumioxazin and propyzamide) out of my 25, but it's the best we currently know outside of CTS.

[2015-02-03 13:25] tsufz commented on #109
I we have the InCHI, we can retrieve the CSID directly from CS without token:
http://www.chemspider.com/InChI.asmx?op=InChIToCSID

same with key:
http://www.chemspider.com/InChI.asmx?op=InChIKeyToCSID

I am curious why they don't ask for token in this case. I could ask them for clarification or if they plan to depreciate. It is a follow up of the recent email communication with Emma (they asked wh

[2015-02-03 13:28] schymane commented on #109
The InChI Services seem new, so I don’t think they will deprecate.
They are on a different page to their other web services, we discovered it just after sending the CACTUS mail.
We already have the code, Michele’s just polishing it up to catch the cases where the key is invalid or the result is empty.
We got 25 of 25 records back :-) and without a token.

From: Tobias Schulze [mailto:notifications

[2015-02-03 13:34] meowcat commented on #109
Yeah, we just also found the ChemSpider service here and it seems to work great. Updated the gist code again: https://gist.github.com/meowcat/9e9e66a5cd0bc90f08e1

Works for all 25 tested InChI keys.

@ermueller: In an email you had a long IUPAC-style name you couldn't get parsed... however not even ChemDraw can parse that one, I wonder if the name is correct? What would the molecule look like and

[2015-02-03 15:13] schymane opened #111 "Add SMILES check to loadList"
In answer to email from Erik just now:
Actually, this is something we've done "unofficially" in our code for ages at Step 1 of msmsWorkflow, but never built in to RMassBank, here's the snippet we've used - @ermueller feel free to use this or adjust as it suits you - you don't need to print the info as we did, maybe just use this to catch the errors and prompt the user to "Please check the SMILES f

[2015-02-03 15:16] ermueller commented on #109
Hi

wow, this is a lot of development, and it's pretty cool, too. Let me try to summarize:

1) Use Cactus (or babel) for Inchikey and Inchi
2) Use Pubchem for names and Pubchem CID
3) Use Chemspider for CSID
4) Use CTS for all other external databases (Chebi, CAS, HMDB, Kegg, Lipidmaps)

?

Should the function try to switch things around, in case one of these is down? "Automatic alternative"?

1.

[2015-02-03 15:47] meowcat commented on #109
We think it's a good idea. I would even take CAS from PubChem:
https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/inchikey/WIIZWVCIJKGZOK-RKDXNWHRSA-N/xrefs/RN/json

(and take the smallest, which I think is a good rule of thumb)

Chebi could also be taken from Pubchem synonyms list (the one prefixed with CHEBI: ). I just tested it with the 25 list and it actually works - it returns 12 unique CHEBI

[2015-02-03 22:54] ermueller commented on #109
Should I always prefer babel over Cactus if there is a babeldir supplied?

@meowcat
Yeah, I like that idea very much.
I'm just not sure on the priorities if different databases have differing results.

[2015-02-04 07:14] schymane commented on #109
Yes, why not?

1st priorities: ChemSpider ID from ChemSpider; PubChemID from PubChem.
Names: we can fill in at least 3 of those, so take three different ones, e.g. PubChem Title, IUPAC Name from one of the sources and e.g. dbname (the user-supplied name). As long as the IUPAC name does not land in first place! We need a short name to also be the "main" name where possible.
The CAS and ChEBI result

[2015-02-04 08:57] meowcat commented on #109
But how to implement the "priority" thing... maybe the results returned by each lookup function could be key -> c(value = x, priority = n) and the finalRecord filling code overwrites the current value with the new value if the priority tag is higher than the currently set one...

[2015-02-09 07:17] schymane opened #112 "Add M+NH4+ to "mode" settings"
Currently:
# ' @param mode The processing mode (determines which ion/adduct is searched):
# ' \code{"pH", "pNa", "pM", "mH", "mM", "mFA"} for different ions
# ' ([M+H]+, [M+Na]+, [M]+, [M-H]-, [M]-, [M+FA]-).

The most major adduct missing is [M+NH4]+, which can be pretty intense and would be very nice to have.
More generally, do we add the possibility to have a user-defined adduct?

[2015-02-18 08:18] schymane opened #113 "Find unit test data for gatherData and record creation"
Make sure we cover all identifiers we retrieve and want to write to records.
Use retrieval test cases to also test record creation - the 15 narcotics should cover most identifiers but need some additional to cover LipidMaps and HMDB.

[2015-02-19 10:49] schymane commented on #113
...with different datasets. Orbitrap (done), QEx (?done), peak lists (see mail 19.2.15), alternative formats (Waters netCDF from Robert / UJI; Bruker mzML microTOF from Athens?).
UJI testset may be almost ready, Athens needs to be processed....

[2015-02-19 11:15] tsufz commented on #113
Agilent QToF from Gdansk university?

[2015-03-03 10:28] schymane commented on #111
this works well in 1.9.5.1 from Erik, but checks *all* substances in the list, which is time consuming if the list is long. Option would be to do the check after people have uploaded their files/compound IDs, to only check the compound IDs needed in the current run.
Catches SMILES that are absent, but also those that cannot be parsed by CDK.

[2015-03-03 10:31] schymane commented on #98
Found a test in the "Christmas set" :-) Committed to the svn: 20141222_neg, r881.
msmsWorkflow: Step 8. Peak multiplicity filtering
msmsWorkflow: Done.
There were 28 warnings (use warnings() to see them)
Warnmeldungen:
1: In min(x, na.rm = na.rm) : no non-missing arguments to min; returning Inf
2: In max(x, na.rm = na.rm) : no non-missing arguments to max; returning -Inf
....

@ermueller use Compo

[2015-03-03 12:08] schymane commented on #111
OK, what this doesn't catch is if the SMILES is missing for a given compound ID...which gets back to the suggestion to check the SMILES after the user has provided the IDs...

[2015-03-11 09:15] schymane commented on #111
I'd like to add the "to close upon merging" label to this, but the only thing outstanding is catching the Compound IDs that are missing SMILES... - I guess this is also a quick check, right?

[2015-03-12 13:27] ermueller commented on #111
Yeah, I'll add that check and then add the "close upon merging"-label.

[2015-03-17 14:12] schymane commented on #109
So, I'm really happy with this :-) One teeny tiny bug that keeps recurring is that during the name check, capitalization seems to slip through, i.e.
Rifaximin, rifaximin
Salicyclic acid, Salicyclic Acid
and so on appear as two of the three names.
Since these are trivial repeats, I'm deleting them for the moment (first capitalized, where relevant second small is the preference).

In some very rare

[2015-03-17 16:06] schymane commented on #109
Not that we have an immediate need for it, but this looks neat, if we ever have to deal with systematic names: http://opsin.ch.cam.ac.uk/

[2015-03-19 14:35] schymane opened #114 "Fix mbWorkflow Step 1 error if absolutely no CAS numbers are present in Compound List"
This is the error that shouldn't happen but does :-)
If the CAS column is present in the compound list, but empty for all substances, we get e.g.:

But, if a CAS number is entered for any one of the substances in the list, it works fine.
More details in email sent to Erik today, 15:29.

[2015-03-23 10:28] ermueller commented on #114
Can you pull from my github branch bioc2014 to see if it works now?
I fixed it, but I don't actually see why the error should turn up later in the workflow and not in the beginning. I can also build the package if you like.

[2015-03-23 10:30] uchem-massbank commented on #114
If you can send me a built version I can test it. Thanks!

[2015-03-24 07:53] schymane opened #115 "Find workaround for ontoCAT by 2016"
Error in all 4 platforms, e.g. http://master.bioconductor.org/checkResults/devel/bioc-LATEST/RMassBank/zin2-checksrc.html we have
- this is package ‘RMassBank’ version ‘1.9.1’
- checking package namespace information ... OK
- checking package dependencies ... ERROR
  Package suggested but not available: ‘ontoCAT’

The suggested packages are required for a complete check.
Checking can be attempted

[2015-03-24 07:55] schymane commented on #88
Isn't this resolved? If so, add "to close on merging" label?

[2015-03-24 09:54] ermueller commented on #88
Yeh, this is basically resolved by fixing gatherData altogether.

[2015-03-24 10:02] ermueller commented on #115
I really think that just changing the environment variable is a pretty unclean solution to this, and this problem isn't really caused by our side of things.

If we theoretically had a package with ontoCAT as an import or depends, then we couldn't just change an environment variable, could we? Maybe we should ask the ontocat-guys or the bioc-guys what's up with that? It's rather strange that ontoCA

[2015-03-24 12:20] schymane commented on #115
Seems to be due to the ontoCAT package, contacted maintainers and BioD

[2015-03-24 12:33] schymane opened #116 "Add unit test data to RMassBankData"
...and bump version number so we have to depend on the later RMBData once we have unit tests in

[2015-03-24 12:35] schymane commented on #116
...and transfer RMassBankData to MassBank repo.
Once that's done, @ermueller can add the records

[2015-03-24 12:40] schymane commented on #72
Add workspace to RMB Data, see #116

[2015-03-24 12:42] schymane commented on #113
add records generated during vignette (narcotics) to RMB Data, see #116
Add other datasets later ...

[2015-03-24 12:46] schymane commented on #116
Add data relevant to original RMassBankData to this package.
For additional raw data, consider opening a new package, when time time comes

[2015-03-24 12:50] schymane commented on #111
done for msmsRead, to come for msmsWorkflow step=1, via msmsRead.

[2015-03-24 12:57] schymane commented on #90
We can reopen this issues when they fix the windows version

[2015-03-24 12:57] #90 closed

[2015-03-24 13:02] meowcat commented on #96
done

[2015-03-24 13:02] #96 closed

[2015-03-24 13:06] schymane commented on #52
Look into this after BioC release - it's a useability problem not a bug as this is user error

[2015-03-24 13:15] schymane opened #117 "Tidy up gather Data (after BioC)"
Remove CID: in front of the (few) PubChem IDs where it turns up (e.g. CID:123456 should be 123456)
Remove duplicate names e.g. "Atrazine" and "atrazine"

[2015-03-24 13:20] schymane commented on #115
ontoCAT has been deprecated. Suggest to use rols package:
http://www.bioconductor.org/packages/release/bioc/html/rols.html
But for the release, just disable the instrument checks for the moment and remove all references to ontoCAT.

[2015-03-24 13:27] schymane commented on #115
rols will not cover what we need, it's only biological.

[2015-03-24 13:30] schymane commented on #42
Talk about this after BioC release

[2015-03-24 13:31] schymane commented on #115
To ensure that your package is part of this release of Bioconductor you need to make sure that your package passes ''R CMD build'' and ''R CMD check''
- without error (by April 3, 2015) and
- without warning (by April 9, 2015).

[2015-03-26 13:09] schymane commented on #115
Latest on ontoCAT from Natalja:

So, we need to watch the build reports and make sure our errors disappear - if so, a workaround is less urgent

[2015-03-30 11:31] schymane commented on #115
We now have 1 yr to find a workaround for ontoCAT, renaming issue appropriately

[2015-04-01 08:41] schymane commented on #74
another closed issue coming back to haunt us?
I just ran into problems with loadInfolists and addPeaks with ;-separated csvs again - which worked fine if I saved the csvs as ,-separated.
InfoList:
Error in read.table( ....) - more columns than column names
addPeaks:
Error in round(spec_add_peaks$mzFound, 4) : non-numeric argument to mathematical function.

So, where did this fix go missing?

RMass

[2015-04-01 09:30] ermueller commented on #74
It's still in there, and it works when I do it.

Can you send me the infolist?

[2015-04-01 09:43] schymane commented on #74
I’ll send you the files by email, thx

[2015-04-01 15:02] schymane commented on #74
just to follow up
(a) Erik tried a fix but it resulted in a different error message, I emailed separately
[...I fixed a thing in addPeaks, which very likely resulted in "NAs" being read wrong ...]
(b) I can recreate exactly the same error on the 1.9.6 committed to BioC, so it's probably not a merging issue but rather a special case with strange data.
mbWorkflow: Step 4. Spectra compilation
Compili

[2015-04-13 11:26] #114 closed

[2015-04-13 11:28] #111 closed

[2015-04-13 11:29] #109 closed

[2015-04-13 11:30] #102 closed

[2015-04-13 11:30] #101 closed

[2015-04-13 11:31] #100 closed

[2015-04-13 11:32] ermueller commented on #98
Will reopen when new warning messages turn up.

[2015-04-13 11:32] #98 closed

[2015-04-13 11:33] #88 closed

[2015-04-13 11:46] ermueller commented on #74
Is fixed, but not yet pushed to my github. Sorry, didn't think straight when adding the label.

[2015-04-20 09:16] schymane opened #119 "Make "Precursor warning" more case-specific?"
It seems we are now getting the warning that was added in response to #102 in cases where the "fillPrecursorScan=FALSE" is not the correct cause. For example, I received the following when I processed a lot of files when the precursor was found in most cases, but not all (because we were fiddling around - but there are of course cases where the precursor is not detected at all).
Warning messages:

[2015-04-21 16:55] ermueller commented on #119
Well, we could check the cause, but I guess the cause in most cases would mostly be "because of the data", in one way or another, right? And that would be outside of anything we can do.

I'd rather use the better error message.

[2015-04-22 08:00] meowcat commented on #119
Hm the thing is, is this really an error? Or rather, what was the exact reason why the warning was implemented? It will warn you on every compound where no spectrum is found, right? Do we want this?

[2015-04-22 08:07] schymane commented on #119
It isn’t necessarily an error, you’re right.
Erik added this to help point people towards the case that we needed the fillPrecursorScan=TRUE. This would mean we miss EVERY substance. The downside is that we now get this warning for everything we miss. For the case I noticed, we only missed a few, which we’d expect in a normal run especially if we e.g. don’t know all substances. It’s not a bad thin

[2015-04-22 12:24] ermueller commented on #119
Yeah, that sounds good, printing the ID and mass. Should I do it this way?

[2015-04-22 12:25] schymane commented on #119
Yes from my side!

[2015-04-23 15:01] schymane opened #120 "add cachedEIC function to RMassBank"
.. just so we don't forget it's not in there yet!
See mail 16 April.

[2015-04-23 15:14] dutchjes commented on #120
This has been tested and works great. I tested it over 1308 EICs. Please add it! @meowcat

[2015-04-27 09:17] ermueller commented on #112
Forgot something in documentation, will fix asap.

[2015-06-03 06:19] schymane opened #121 "CACTUS backup: OpenBabel or PubChem"
*NOTE: most of this has been done by email already, this is to make it "official"
This is a new issue instead of resurrecting #109 or #90 which were similar...*

Current build errors likely due to CACTUS being down.
One workaround could be to use a web service to retrieve InChI Keys for SMILES instead of CACTUS when it's down.
Alternative: OpenBabel is on all Bioconductor build machines and we cou

[2015-06-18 14:53] schymane commented on #119
according to Erik fixed but not yet merged

[2015-06-18 14:56] schymane commented on #39
@ermueller This could be an interesting test case for fillPrecursorScan=TRUE, correct?
This was also that additional dataset we talked about today.

[2015-06-18 15:12] schymane opened #122 "Changes to fillPrecursorScan = TRUE plus ExtendPpmLimit option"
A short summary of a long chat with Erik:
a) fillPrecursorScan = TRUE - we are bumping into more and more cases where we "fail" because this setting is FALSE and things would work if it's true (Athens autoMSMS was the latest). We agreed to basically leave this setting in the ini files for backward compatability, but ignore it, i.e. if fillPrecursorScan = FALSE and mzR fails, we would overwrite the

[2015-06-18 15:14] schymane opened #123 "Retrieve MSMS by Scan Number"
Related to #122 but different enough for a new issue, Erik had the idea to add the option to retrieve by scan number rather than RT, if available. It could be useful and neat, but so far not so many real use cases. Thoughts?

[2015-06-18 15:18] schymane commented on #121
This is done, right?
Erik, do you want to add the "close upon merging" labels to everything that's been done (also other issues - seems like a few should be finished...). We can also count the "merging" as merging to the RMassBank github now, right?

[2015-06-18 15:25] schymane commented on #42
Erik and I also discussed this today, a summary:
Michele and I both feel that MetFrag *in* RMassBank is out of the scope, certainly for the moment. More fundamental things that need to be addressed first to enable RMassBank to even create tentative/unknown spectra suitable for upload to MassBank. Assuming the *user* knows why they want the spectra and how they identified it we need the right comme

[2015-06-18 15:27] schymane opened #124 "Fragment Annotation with MetFrag"
Erik and I had some thoughts on this too, where the structure is *known*
We'll have to try sort out some rules like annotate this peak if the formula matches the RMassBank formula AND the structure is within the parent - Erik will try some examples

[2015-06-18 15:28] schymane opened #125 "Look into new BioC/github connections"
...just so this doesn't get forgotton

[2015-06-19 12:56] schymane opened #126 "Check settings are loaded in msmsRead"
A small bug: if one uses msmsRead for step 1 and forgets to load the settings, you get what appears to be an unrelated error:

0%Error in mzlimits[[1]] : subscript out of bounds

If useRtLimit = TRUE, it dies at rtLimit instead ...
iirc, we have a catch and prompt for this in msmsWorkflow step=1, can a similar catch be build into msmsRead?
If I load the settings this goes away but I get other prob

[2015-06-24 13:33] tsufz commented on #38
We stopped to do direct infusion analysis in order of the problems to receive MS with newer RMB versions (worked quite well with 0.1 ;-)), but were also quite dirty and sometimes fancy...

[2015-06-24 13:38] tsufz commented on #110
Needs to be discussed during the workshop next week, right?

[2015-07-07 07:58] schymane opened #127 "mzR scan out of bounds error & seqNum"
Christoph Moschet's Agilent TOF data returned "scan out of bounds" errors using mzR.
The acquisitionNum (which is used in the mzR workflow) was huge for these files, if Erik uses seqNum instead only for the direct retrieval of the peaks, the error goes away and we get records which appear reasonably consistent with the screenshot Christoph sent us. If Erik implements this globally it seems to work

[2015-07-13 13:16] meowcat commented on #122
Unsure how much of this is still relevant:

@ 1) basically to autodetect if the fillPrecursorScan is needed is a good idea I think. Maybe a warning or message to the user could be put in place but even that is debatable :)

@ 2) I am not so convinced.
a) I don't think it is good practice if the program starts to override the user's setting. Then what do we have the setting for?
b) I don't think th

[2015-07-13 13:19] meowcat commented on #123
I personally would not do this, because I don't think that's what RMassBank should do... If the user has to do so much work and search out the scan number he wants, then we have failed providing them with a useful software :) Also if introduced it could potentially clutter the options too much...

[2015-07-13 13:23] meowcat commented on #127
I am aware that there are these two IDs and I never got to investigate which is which, and which is better to use... (For Orbitrap they are always the same I think.) I believe if *seqNum* works then it is probably the better / right choice. Also if consistency is gained by always using *seqNum* (also as an identifier later) instead of *acquisitionNum* that would probably be a good thing (but not u

[2015-07-13 13:24] meowcat commented on #38
closed for now. Can be reopened in case the necessity would arise

[2015-07-13 13:24] #38 closed

[2015-07-14 15:05] schymane opened #128 "Change license default in settings to CC-BY or CC?"
Feedback from the hackathon: CC-BY-SA is quite difficult (SA makes things tricky).
Should we change our default to CC or CC-BY?

[2015-07-14 19:49] sneumann commented on #128
CC-Zero is essentially PublicDomain,
CC-BY can be fulfilled by saying sth. like "created with data from MassBank"
I'd opt for CC-BY as default.

[2015-07-21 07:28] tsufz commented on #128
Why makes what tricky? Some examples?

[2015-07-21 07:33] uchem-massbank commented on #128
See e.g. http://opencontent.org/blog/archives/347

From: Tobias Schulze [mailto:notifications@github.com]
Sent: Tuesday, 21 July 2015 9:29 AM
To: MassBank/RMassBank
Subject: Re: [RMassBank] Change license default in settings to CC-BY or CC? (#128)

Why makes what tricky? Some examples?

—
Reply to this email directly or view it on GitHub<https://github.com/MassBank/RMassBank/issues/128#issuecommen

[2015-07-21 07:37] schymane commented on #128
And http://oaspa.org/why-cc-by/

From: uchem-massbank [mailto:notifications@github.com]
Sent: Tuesday, 21 July 2015 9:33 AM
To: MassBank/RMassBank
Cc: Schymanski, Emma
Subject: Re: [RMassBank] Change license default in settings to CC-BY or CC? (#128)

See e.g. http://opencontent.org/blog/archives/347

From: Tobias Schulze [mailto:notifications@github.com]
Sent: Tuesday, 21 July 2015 9:29 AM
To: Ma

[2015-07-21 07:40] tsufz commented on #128
well, I agree with CC BY

[2015-07-24 06:37] tsufz commented on #128
Txs. Interestings blogs. I will talk to Masanori to get a general
decision also from MassBank consortium and who is performing the
relaunch of the records.

I can do for the UFZ hosted records as I will renew the database next week.

Am 21.07.2015 um 09:37 schrieb schymane:

[2015-07-28 12:22] meowcat opened #129 "Refactoring: XCMS-based and other "additional" reader functions"
Hi @ermueller,
I finally proceeded with all the refactoring I wanted to do and a new structure for the msmsWorkspace and the spectra contained therein. However up to now I have not rewritten the XCMS-based functions in leMsMsRaw.R.

They basically will need to be changed such that they now produce a RmbSpectraSet object. I found it not as complicated as it initially looked, you can refer to the co

[2015-07-28 12:24] meowcat commented on #119
Merged in the refactoring branch. Note though that I made the cpdID parameter in findMsMsHR.mass optional because we need the function a lot for cases where we actually go by mass and have no compound ID. Also reflected this in the doc. Will close once refactoring is merged into master.

[2015-07-28 12:24] meowcat commented on #120
Is in refactoring branch or maybe also in master already, so I close

[2015-07-28 12:24] #120 closed

[2015-07-28 12:25] meowcat commented on #94
done in refactoring branch

[2015-07-28 12:25] #94 closed

[2015-07-28 12:28] meowcat commented on #47
Check out the refactoring branch. It currently depends on MSnbase. If we really want to isolate out the Spectrum class from there, we can do it... I am currently happy with the MSnbase dependency but we can sort this out once we see if we are happy with the refactoring or not.

[2015-07-28 12:28] #47 closed

[2015-07-28 12:32] tsufz commented on #128
All MassBank EU hosted data are changed to CC BY license model. Except
the literature spectra.

Am 24.07.2015 um 08:37 schrieb Tobias Schulze:

--
Dr. Tobias Schulze

Wissenschaftler / Senior Scientist
Department Wirkungsorientierte Analytik / Effect-Directed Analysis

Helmholtz-Zentrum für Umweltforschung GmbH - UFZ
Helmholtz Centre for Environmental Research - UFZ
Permoserstraße 15 / 04318 Leipz

[2015-07-29 08:56] ermueller commented on #129
I can do it, no problem. Is the "refactoring" branch the "official" branch now? If yes, could you put it into master?

[2015-07-30 11:54] meowcat commented on #129
I intended to merge it into master once it is fully functional (including the XCMS functions) - if you guys prefer, I can also already do it now. Note - I already merged all your BioC2014 changes in.

[2015-07-30 16:26] ermueller commented on #129
I'll merge the xcms functions and then we can push into master. That sounds much "cleaner" now that you say it.

[2015-08-27 14:51] schymane opened #130 "PubChem CID label missing?"
Latest infolist entries appear to be missing the CID: in front of the PubChem number, which leads to MassBank linking the SID instead of CID.
When I tried to reproduce this on the RMB_1.9.6 with the demo data I got an empty infolist instead (so something went seriously wrong there) - can someone check if current infolists contain the CID: at the beginning of the PubChem entries or not? If NOT, thi

[2015-09-02 11:29] ermueller commented on #121
This has been long finished, forgot to close.

[2015-09-02 11:29] #121 closed

[2015-09-02 11:30] ermueller commented on #126
This is solved with the refactor merge michele did, forgot to close

[2015-09-02 11:30] #126 closed

[2015-09-02 11:33] ermueller commented on #130
Is fixed in my bioc2014 branch in 6dcb8de .
I'll clean up my branches some time later, since it isn't 2014 anymore... I'm just really really scared I'd break something in git.

[2015-09-02 11:34] ermueller commented on #129
I'm still finding things that need to be fixed... This will still take a little bit.

[2015-09-02 11:36] ermueller commented on #130
Wait:
https://github.com/MassBank/RMassBank/issues/117
Now I'm kind of confused.

[2015-09-02 11:47] ermueller commented on #117
Duplicate names were removed, but this issues conflicts with #130

Names were all caps for the last few versions, but that is fixed now.

[2015-09-07 06:47] uchem-massbank commented on #130
Hmm, so am I. I can’t recall how #117 came about but we need the “CID: “ at the front of all PubChem IDs otherwise MassBank does an automatic link to the SID instead of the CID and the identifier links are all completely wrong.
e.g. from an old infolist entry, where we have the CID:
http://massbank.ufz.de/MassBank/jsp/Dispatcher.jsp?type=disp&id=EQ290003&site=1
whereas here is one of the new ones:

[2015-09-23 08:47] sneumann commented on #125
The BioC-svn-github bridge that automagically syncs git<->svn
is unfortunately no longer. It was replaced by the "standard" git-svn way,
as described in http://bioconductor.org/developers/how-to/git-mirrors/

[2015-09-23 17:58] schymane opened #132 "Duplicate isotope-annotated peaks"
Erik has a more extensive email with the details, this issue is just for the record.
e.g.:AU117802:
  295.1533 C15[13]CH18N6+ 1 295.1626 -31.74
  295.1533 C15[13]CH18N6+ 1 295.1626 -31.74

[2015-09-24 08:48] schymane opened #133 "Random compound list capitalization"
All the records from one of Nikiforos' mixes had COMPOUND NAMES IN CAPITALS for no apparent reason, although they were not written as such in the compound list or infolist. Erik has the data, again this is for the record.

[2015-10-01 07:10] ermueller commented on #132
I found the error, but this led to me finding some other small inconsistencies in the checkIsotopes function. For example, some isotope peaks have altogether different formulas than the monoisotopic ones. Still trying to find out why.

However, this also brings good news with it, since me breaking up the function gave me some ideas on how to make the annotation more consistent altogether. :)

[2015-10-01 07:22] ermueller commented on #133
I somehow slipped up with the build version I sent Nikiforos, because this error has been fixed already and was only in RMassBank for a few hours. I double checked, just to be sure, but it doesn't happen anymore.

[2015-10-05 01:21] ermueller commented on #132
Fixed it in 8f7a0ef4c01b9cff06db5714029e8849b5d82877

The isotope annotatin is also slowly but steadily getting better with every small idea :)

[2015-10-15 07:16] ermueller commented on #129
Hi Everyone, this is now finished!

Did you get my long progress mail? Tobias didn't get it, so I'm slightly concerned that the uni mailserver is having problems. I'll resend it if that is the case :)

[2015-10-15 09:52] meowcat commented on #129
Hi Erik,

awesome! I'm looking forward to test running it :)

I didn't get a mail from you, so maybe it did really get lost in the depths of the Intertubes...

[2015-11-03 14:18] schymane opened #134 "make getCSID fully accessible"
Is there a good reason why it only works as RMassBank:::getCSID(InChIKey) and not just getCSID(InChIKey)? The function seems fine to me, limited functionality is really confusing to me.

[2015-12-04 09:17] meowcat opened #135 "Use case. Implement quickly!"
use case:
- input file
- give me your features (mz / rt)
- i fish out the MS2 for it and export them as MSP or MGF

[2015-12-04 09:30] meowcat commented on #135
MGF export is in MSnbase. Just use that (in a streamlined way)

[2015-12-16 23:35] ermueller commented on #72
Unit test has been added a while ago,but now unit tests automatically happen while R CMD check runs

[2015-12-16 23:41] ermueller commented on #128
Fixedin my remote repo

[2015-12-16 23:49] ermueller commented on #58
Just for the record, I'm still kind of unhappy with how my [current solution](https://github.com/ermueller/RMassBank/blob/master/R/Isotopic_Annotation.R) handles this. It works 90% of the time, but some isotope peaks seem "obvious" but get thrown out or not even detected in the first place for some reason or another. I also want to remove all the arguments to that function, since you could reasona

[2015-12-17 08:37] sneumann commented on #135
Excellent, MGF is what some identification tools might agree upon
as input format, since they all have similar, but slightly different formats today.
We would try MGF export for CASMI 2016 challenges.

[2015-12-17 09:10] sneumann opened #136 "Add SPLASHing to record generation"
Hi, to help the adoption of the SPLASH,
so we can either 1) use the R package splashR
from https://github.com/berlinguyinca/spectra-hash/tree/master/splashR
or 2) do the dirty way and copy https://github.com/berlinguyinca/spectra-hash/blob/master/splashR/R/getSplash.R
into RMassBank/R. 1) Adds a dependency that is not (yet) in BioC,
2) adds a (low) maintenance overhead in case of changes to getSpl

[2015-12-18 09:02] schymane commented on #136
Great, I agree with all that esp. re option (2) and COMMENT field.
What about retro-fitting current MassBank records?
Can we use Erik’s parser to add SPLASH comment fields to existing records and update all MassBank?
Ideally massbank.jp and massbank.eu.

Another thought: if these are a CH$LINK field, we can even make this hyperlink to MoNA records, similar to:
CH$LINK: PUBCHEM CID:343616<http://pu

[2015-12-18 09:38] sneumann commented on #136
Hi Erik, could you try to read and write all of http://www.massbank.jp/SVN/OpenData/record
and for each file check with e.g. ````diff```` or ````svn diff````that really only one line has changed ?
Please script this, as we might have more iterations later when the manuscript is accepted/modified.

Hi Emma, yes, COMMENT was just a straw man. Linking out would be great. But why only Mona ? Why not G

[2015-12-18 09:49] schymane commented on #136
https://www.google.ch/search?q=splash10-1zuc000000-87d07ddd2ed24b9598d7 works for me.
PK$LINK doesn’t exist and I doubt there’ll be another MassBank record format?
As far as I’m aware the CH$LINK entries are the only ones we can hyperlink.

[2015-12-18 10:11] sneumann commented on #136
While checking how to add that linking to CH$LINK, I found that we have
````MS\$RELATED_MS: PREVIOUS_SPECTRUM', 'Dispatcher.jsp?type=disp&id=%s````

in https://github.com/MassBank/MassBank-web/blob/81d0039a1af66c031db3cc1dadeea828c4eecf09/modules/apache/htdocs/MassBank/cgi-bin/Disp.cgi#L54 and https://github.com/MassBank/MassBank-web/blob/81d0039a1af66c031db3cc1dadeea828c4eecf09/modules/apache/htd

[2015-12-18 10:15] schymane commented on #136
Sounds good. It’s not a compulsory field, so should get through validation without any trouble.

[2015-12-18 12:55] sneumann commented on #136
Done in ae608736dadec8fcc2691f9f3a0ebab3fed13b27
What is also cool is that with MassBank/MassBank-web@62a679ff2f13aa3ea35bed1bec7750fcef015212 MassBank
can now display and link to a google search (see status at the bottom in screenshot).

![screenshot from 2015-12-18 13 51 34](https://cloud.githubusercontent.com/assets/195385/11897255/7c2519fc-a58e-11e5-86f6-48883dda2228.png)

[2015-12-18 12:57] ermueller commented on #136
and for each file check with e.g. diff or svn diffthat really only one line has changed ?

Will do that.

[2015-12-18 14:31] meowcat opened #138 "MGF, MSP export: general discussions"
Hi,

as we all want to include MSP and MGF export, I think we need to declare more clearly what we want to do and how.

As a note, there is some support for MGF export in MSnbase, which RMassBank depends on anyway:
https://github.com/lgatto/MSnbase/blob/master/R/readWriteMgfData.R
(Works for MS2 out of the box, not for MS1, but it's an easy hack.)
Also MSP exists in more than one implementation, o

[2015-12-18 14:31] meowcat commented on #138
@sneumann @ermueller @schymane

[2015-12-18 14:33] meowcat commented on #138
https://github.com/lgatto/MSnbase/issues/73 apparently fixes output of MS1 records.

[2015-12-18 14:57] meowcat commented on #138
Find attached an example of a semi-information-rich MSP spectrum that was generated by Steve Stein when he converted our MassBank records to MSP. This metadata can be read by the NIST MS software, including the annotations.
[ketoprofen.zip](https://github.com/MassBank/RMassBank/files/66723/ketoprofen.zip)

I myself will communicated with Gert about how we should put metadata into MSP spectra in a

[2015-12-18 20:03] tsufz commented on #136
IMHO, PK$LINK is not touched by the validator. We have already not documented links in the this section, e.g. the InChIkey.

Am 18.12.2015 um 10:49 schrieb schymane:

[2015-12-18 20:06] tsufz commented on #136
I will add the dispatcher settings of MB.eu to the repo.

[2015-12-18 20:08] tsufz commented on #136
Use with caution, the UFZ records are not updated properly. They still include the CC BY SA license.

[2015-12-19 11:23] ermueller commented on #136
That is in CH$LINK, isn't it?

[2015-12-19 11:50] sneumann commented on #136
Hi,

I use MS$RELATED_MS which is also part of the specification.

Yours Steffen

---
I blame Android for the brevity and typos

---- emueller schrieb ----

IMHO, PK$LINK is not touched by the validator. We have already not documented links in the this section, e.g. the InChIkey.

That is in CH$LINK, isn't it?

—
Reply to this email directly or view it on GitHub<https://github.com/MassBank/RMassBa

[2015-12-19 12:38] tsufz commented on #136
yes

[2015-12-19 12:40] tsufz commented on #136
I am not sure if the dispatcher is touching this field as well or only CH$LINK?

[2015-12-19 14:08] uchem-massbank commented on #136
If someone can send an example record with both fields we can upload and just try it out!
Easy enough to delete one record again...can add to one of the tentative spectra databases.

[2015-12-19 15:30] sneumann commented on #136
Hi,
Just check the Screenshot in the github issue I sent around in the first mail,  the link is there.
Gruß Steffen

---
I blame Android for the brevity and typos

---- uchem-massbank schrieb ----

If someone can send an example record with both fields we can upload and just try it out!
Easy enough to delete one record again...can add to one of the tentative spectra databases.

—
Reply to this ema

[2015-12-19 16:30] ermueller commented on #136
Where in the specification is MS$RELATED_MS?
[I can't find it](www.massbank.jp/manuals/MassBankRecord_en.pdf)

That isn't in v1, is it?

[2015-12-19 20:56] uchem-massbank commented on #136
I agree with Erik, these ideas were discussed after that first mail?
For an upload to work we need the various fields present in one example record, preferably delivered as a recdata.zip for easy upload, and the dispatcher needs to be updated to see if we can link any or all of the fields.
Once all criteria are met I'm happy to try an upload...
________________________________________
From: emuell

[2015-12-19 21:00] schymane commented on #136
Oh, hangon, I misunderstood.
Was the related Ms field just to define the merged spectra, and hence a special case?
________________________________________
From: uchem-massbank [notifications@github.com]
Sent: Saturday, 19 December 2015 9:56 PM
To: MassBank/RMassBank
Cc: Schymanski, Emma
Subject: Re: [RMassBank] Add SPLASHing to record generation (#136)

I agree with Erik, these ideas were discuss

[2015-12-19 22:02] ermueller commented on #136
Just for completeness sake:
I'm currently writing a function that adds whatever kind of line you want to the appropriate section of a record (according to "COMMENT", "CH", "AC" or "MS" - just in the case that something similar to this crops up in the future. Also, we'll be able to use it for this.

[2015-12-20 15:35] ermueller commented on #136
So, I added the Splashes to the Opendata files, it works very well :) I did not push to the repo, because we're still discussing things here and I don't have the password anyways.

So, can I just send one of these records (as a zip) to you @uchem-massbank @meowcat @schymane ? I'm not sure since they aren't "ours" per se.

One thing to note:
The whole record stuff resulted in a few records' line fe

[2015-12-20 16:17] tsufz commented on #136
Would be nice to get them as well!

We never tried to update the repo by committing.

The sync service between massbank.eu and massbank.jp is based on a svn service. So far we understand that, the
massbank.eu commits the local DBs to massbank.jp and clones those from massbank.jp to local DBs. However, always a sql
comment is delivered such that the worker could update the databases.

Therefore, a

[2015-12-20 22:42] schymane commented on #136
Yes sure, send to Emma or Tobias, either of us can try ;)

________________________________________
From: emueller [notifications@github.com]
Sent: Sunday, 20 December 2015 4:35 PM
To: MassBank/RMassBank
Cc: Schymanski, Emma
Subject: Re: [RMassBank] Add SPLASHing to record generation (#136)

So, I added the Splashes to the Opendata files, it works very well :) I did not push to the repo, because w

[2015-12-21 12:38] meowcat commented on #138
Another preexisting MSP export for R: https://github.com/rwehrens/metaMS/blob/master/R/msp.R

[2015-12-28 17:56] schymane commented on #134
I have a random request for this one: can I go backwards and get an InChIKey from a CSID?
CTS seems to be missing a disproportionately high number of CSIDs.
getCtsKey(6467, from="ChemSpider", to="InChIKey")
NULL
vs: http://www.chemspider.com/Chemical-Structure.6467.html
There's a good reason :-)

[2015-12-29 11:43] schymane commented on #134
OK, I've got it but a token is required so let's not build it in...so this issue can be closed on merging still.

[2015-12-30 14:31] schymane opened #139 "fix namespace issues in devel version"
Error in loadNamespace(i, c(lib.loc, .libPaths()), versionCheck = vI[[i]]) :
  es gibt kein Paket namens ‘MSnbase’
In addition: Warning message:
Paket ‘RMassBank’ wurde unter R Version 3.3.0 erstellt
Error: Laden von Paket oder Namensraum für ‘RMassBank’ fehlgeschlagen

Error in loadNamespace(i, c(lib.loc, .libPaths()), versionCheck = vI[[i]]) :
  es gibt kein Paket namens ‘ProtGenerics’
In additi

[2015-12-30 14:36] schymane commented on #139
Error in loadNamespace(i, c(lib.loc, .libPaths()), versionCheck = vI[[i]]) :
  es gibt kein Paket namens ‘impute’
In addition: Warning messages:
1: Paket ‘RMassBank’ wurde unter R Version 3.3.0 erstellt
2: In ext@test(object) : bytecode version mismatch; using eval
3: vorhergehender Import durch ‘mzR::peaks’ während des Ladens von ‘MSnbase’ ersetzt
Error: Laden von Paket oder Namensraum für ‘RMass

[2015-12-30 14:37] schymane commented on #139
Error in loadNamespace(j <- i[[1L]], c(lib.loc, .libPaths()), versionCheck = vI[[j]]) :
  es gibt kein Paket namens ‘MALDIquant’
In addition: Warning messages:
1: Paket ‘RMassBank’ wurde unter R Version 3.3.0 erstellt
2: vorhergehender Import durch ‘mzR::peaks’ während des Ladens von ‘MSnbase’ ersetzt
3: vorhergehender Import durch ‘ggplot2::arrow’ während des Ladens von ‘MSnbase’ ersetzt
4: vorhe

[2015-12-30 14:38] schymane commented on #139
and now a new error....
JEEZ that was worth it:

Error : Objekt ‘isEmpty’ ist nicht von 'namespace:S4Vectors' exportiert
In addition: Warning messages:
1: Paket ‘RMassBank’ wurde unter R Version 3.3.0 erstellt
2: vorhergehender Import durch ‘mzR::peaks’ während des Ladens von ‘MSnbase’ ersetzt
3: vorhergehender Import durch ‘ggplot2::arrow’ während des Ladens von ‘MSnbase’ ersetzt
4: vorhergehende

[2015-12-30 15:01] sneumann commented on #139
Hi,
Did you install msnbase with bioclite()?
That should take care of the dependencies.
Yours Steffen

---
I blame Android for the brevity and typos

[2015-12-30 15:55] schymane commented on #139
BiocLite didn’t work either. Don’t ask me why, I don’t know.

[2016-01-03 14:57] meowcat commented on #139
Hm... It works on my computer, where i did a fresh install of R-devel (keeping my old package library) and completely updated Bioconductor to Bioc-devel and all R(CRAN) packages to the newest version. The move to R-3.3 apparently had quite a few behaviour changes so that new Bioc packages are apparently often incompatible to old ones, so maybe your packages are not all from the new Bioc?

But that

[2016-01-03 15:38] ermueller commented on #139
We have 3 basic solutions, afaik:

1. What you said (Cleanest solution, but has the drawback that later additions using functions from MSnBase would need to be imported)

2. Be exact in code with what package the functions with multiple definitions come from - i.e. using :: appropriately. (Still a pretty clean solution, less of a hassle, but more prone to error in the future if you're not careful)

[2016-01-03 19:31] sneumann commented on #139
Hi, maybe @lgatto has some recommendations how to minimize
the required dependencies ? Yours, Steffen

[2016-01-04 10:16] schymane commented on #139
So, for the record, upgrade to the latest R-devel and starting with a clean library (not an old package library) was the only solution to stop BioC (and rJava) bellyaches. All other attempts ended in warnings and errors.

R Under development (unstable) (2016-01-03 r69847)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1
locale:
[1] LC_COLLATE=Germa

[2016-01-04 11:21] ermueller commented on #139
I tried it with a clean R 3.2 and it worked. It probably has to do with (like Michele said) some Bioc packages being from devel and others not.

I just found out about this:

    biocValid()

checks whether all bioc packages are from the same release. I think we should make a note of that, in case something like this turns up again...

[2016-01-04 12:12] ermueller commented on #139
There definitely are some update quirks with biocLite. This is probably something inside

https://bioconductor.org/biocLite.R

and it occurs when you have an R devel version installed alongside with a release version and already have downloaded bioc packages with the release version. The script doesn't recognize R as a current version and then something goes wrong.

For the record: I uninstalled a

[2016-01-04 12:17] uchem-massbank commented on #139
I deinstalled all previous versions of R first and still had problems until we used the clean library, so maybe it’s the old packages that are at fault and not the parallel R versions? But it certainly was a nightmare because on Dec 31 nothing worked, not even biocLite and it was our uchem-massbank R which had been working for us without problems until then... this was the R we had until this morn

[2016-01-04 15:27] schymane opened #140 "Missing relative intensities in isotope-annotated records"
A dataset from Nikiforos passed MassBank validation but failed to upload - cause: missing relative intensities in the peaklist for 6 of 733 files. The peaks affected are mostly, but NOT all isotopes and one was nasty (an isotope, certainly an incorrect peak, much higher intensity than any others).
ACCESSION: AU226005
  150.0667 C9H10O2+ 1 150.0675 -5.78
  150.0667 419020
ACCESSION: AU161902
  272.

[2016-01-04 15:37] meowcat commented on #140
If these should really be failpeaks that were added back, it might be an issue with where the relative intensities are recalculated? Don't know.

Anyway, were these done with the devel or with the old version?

[2016-01-04 15:46] uchem-massbank commented on #140
MS$DATA_PROCESSING: WHOLE RMassBank 2.0.3
One of Erik’s github versions with the isotope labelling somewhere in between no and full refactoring. I think before - @ermueller can correct me.

[2016-01-04 15:53] ermueller commented on #140
Yes, that's correct. Although I have no idea how this affects rel. int. stuff...

In any case, try again with the devel version and if anything goes wrong then I can take a closer look?

[2016-01-04 15:55] schymane commented on #140
I think we need his *_RF.RData before we can figure out what went wrong where, I sent him an email already…I only have the records.

[2016-01-05 10:43] tsufz opened #141 "MS$RELATED_MS usage"
We may consider to use the MS$RELATED_MS field in future to link internally to related records, i.e. records with other NCE.

[2016-01-05 13:23] schymane opened #142 "Improve isotope detection rules"
Feedback from Nikiforos:
http://users.uoa.gr/~nalygizakis/isotopes_issue_2ndtry/
and email Tuesday, 5 January 2016 1:23 PM

[2016-01-05 13:23] schymane commented on #140
Missing relative intensities caused by manual intervention.
This will become a new issue to improve the isotope annotation... #142

[2016-01-05 13:23] #140 closed

[2016-01-05 14:30] schymane commented on #142
Case AU160004 (Example 1 in email)
  192.0676 C13H8N2+ 2 192.0682 -3.2
  193.0704 C5H12ClN5O+ 1 193.0725 -10.64 <= this should be a 13C peak
  227.0366 C13H8ClN2+ 2 227.0371 -2.01
  228.0402 C12[13]CH8ClN2+ 1 228.041 -3.47
  229.0334 C13H8ClNO+ 2 229.0289 19.55 <= this should be a 37Cl peak C13H8[37]ClN2+
  296.0948 C17H15ClN3+ 1 296.0949 -0.49 - all the isotope peaks (listed below) were missing

[2016-01-05 14:32] schymane commented on #142
Case AU161902 (Example 2 in email)
  116.997 C4H4ClNO+ 1 116.9976 -5.19
  146.0106 C4H5ClN3O+ 1 146.0116 -6.56
  147.0123 C3[13]CH5ClN3O+ 1 147.0137 -9.52 <= this peak was missing
  148.0074 C4H5[37]ClN3O+ 1 148.0087 -8.78 <= this peak was missing

[2016-01-05 14:35] schymane commented on #142
Case AU203602 (http://users.uoa.gr/~nalygizakis/isotopes_issue_2ndtry/case_AU203602/)
  182.1171 C10H16NO2+ 1 182.1176 -2.41
  183.1203 C14H15+ 1 183.1168 18.7 <= wrong annotation, should be C9[13]CH16NO2+
  304.1545 C17H22NO4+ 1 304.1543 0.66
  305.1576 C16[13]CH22NO4+ 1 305.1576 0 <= this peak was missing entirely
  306.1603 C15[13]C2H22NO4+ 1 306.1601 0.65 <= this was wrongly annotated as C16H2

[2016-01-05 15:30] schymane commented on #142
and another thought from Michele:
Wrt isotope correctness even if the PPM is higher, one reason to fix that would be to calculate a prior probability of observing the isotope (from natural abundances).
This can be used in two ways:
* to choose the isotope annotation over the better-ppm original annotation
* to reject an original annotation in favour of one with higher PPM error but with more isoto

[2016-01-05 15:56] schymane commented on #141
This field isn't defined in the record specifications, this instead recommends to use the comment fields to link related spectra. It'd be possible to do but a bit complicated to be consistent, I'd say low priority. A good spectral search function would be more useful.

[2016-01-06 12:04] ermueller commented on #42
So, this is theoretically finished, but it needs cleanup and stuff like that. Docs are already in there, but this is all subject to change, since I already typed up a list for myself on where to clean up some code.

You'll all get a mail today with everything, I'll just test this a bit more and then type up some instructions.

Also, add a vignette for tentatives/unknowns? I feel that we have to. B

[2016-01-06 12:06] schymane commented on #42
Great!
I agree that we need a vignette and that it should be a separate issue. Look forward to testing it ;)

[2016-01-06 12:44] meowcat opened #143 "RmbSpectrum2: extensibility?"
Hi,

I am currently in a situation where I would want additional fields in RmbSpectrum2 (practically, I would want a "noise" field in it. But there could be others that other people could want in different situations).

What should I do?
- make a custom class for my case which doesn't go into RMassBank
- make an extensible custom class RmbSpectrum2Ext with an additional data.frame where ALL possib

[2016-01-06 21:55] sneumann commented on #143
Hi, without knowing the details, 1) for the prototype and then 3) for the polished design
sounds best. We don't expect RMB2 to be set in stone. Happy to chat about it by skype to get the details.

[2016-01-06 23:29] ermueller commented on #143
I'd definitely rule out 2 - A functionality like that would be for advanced users anyways. If they go beyond the level of "using RMB classes as intended currently", then it'll probably also be no big deal for them to quickly write up a class that inherits the RmbSpectrum2 class themselves. :)

Probably do 1., but you definitely could do 3. if you feel that it'd be useful to others in the future.

[2016-01-06 23:34] ermueller commented on #142
It already does the probability calculation in terms of intensity - but you have a point about the ppm, currently it's still working with "best ppm".

[2016-01-07 10:04] ermueller commented on #42
I hope you all read this, since my uni mailserver half-crashed 5 minutes ago:

I forgot the attachment in my mail, but you can install the package from git from my master branch.
https://github.com/ermueller/RMassBank

[2016-01-07 10:09] sneumann opened #144 "msmsWorkflow: Step 3. Aggregate all spectra: Error: attempt to set 'colnames' on an object with less than two dimensions"
Hi, I am currently trying Erik's d2a8695e3940b2512205c9e98bf9e07846784433
with the CASMI data and "unknown". The data is acquired with MS1+MS2 (data-dependent)
and the two found peak below (1: peaks: 3655, 2: peaks: 4278) are the (noisy) MS2 spectra,
so I'll need a threshold later.

RIght now I am stuck at "Step 3. Aggregate all spectra: Error: attempt to set 'colnames' on an object with less than

[2016-01-07 13:05] sneumann commented on #144
I guess the issue is triggered here;
https://github.com/ermueller/RMassBank/blob/master/R/leMsMs.r#L1030

[2016-01-07 13:33] ermueller commented on #144
There was a warning in there:

See, the thing with the CASMI data is that the MS2 spectra have different m/z isolation - even if they follow the same MS1. There are actually 4 MS2 after every MS1, but the first 3 have different isolation m/z's and the 3rd and 4th are the same.

1: 387.94
2: 389.94
3: 391.94
4: 391.94

I could send you the settings, but it seems like the ipb halle mailserver is dow

[2016-01-07 14:00] schymane opened #145 "Merge several recdata/moldata dirs into one"
Simple function: take several dirs and merge into one. The code is probably lying around somewhere ... this is more so I don't forget ... again...

[2016-01-07 16:01] schymane commented on #42
Minor feedback to your email point 3: @ermueller
a) If you want to process unknowns you need an additional column "m/z" with your target m/z.
=> Michele and I would be very happy if you take "mz" instead of "m/z" to avoid ugly conversion issues downstream.

[2016-01-07 16:20] schymane commented on #145
@meowcat wouldn't a simple solution to the overwriting of the list.tsv just be to open the file with option append instead of opening a new file and overwriting? Would that also solve the problem?

[2016-01-07 16:22] ermueller commented on #42
No problem, I'll rework that. Can both be valid? :)

Also, I'll probably autodetect what you can do with a certain compound list and give the user an output when the list is loaded. Something like
"This compoundlist can be used for the following retrieval methods: standard, tentative"

Also, I'll save that somewhere internally and make workflow retrieval methods unable if the compoundlist loaded i

[2016-01-07 16:27] schymane commented on #42
I’m just trying to wrap my head around your way of building it, because I envisaged doing it all together.
Two conceptually challenging bits:
We’ll have to transfer the recalibration to the tentatives and unknowns from the standard workflow
We have the problem that we now have several runs for one dataset and this is a teeny tiny problem at the record generation stage because the list file is over

[2016-01-07 16:50] ermueller commented on #42
1) Transfer recalibration for unknowns (without annotation)? How would you calculate (and adjust) dppm for peaks if there are no formulas? Recalibration should work for tentatives.

2) Several runs for one dataset? I'm not sure I understand. Different in what respect? I can def program a multiprocessing in for pretty much every option, as long as the resulting records would have a different access

[2016-01-07 18:01] schymane commented on #42
Yeah so I was envisaging that you read out from the compound list what the case is and just do what you can (smiles = normal workflow, no smiles but formula = tentative, no smiles+no formula= unknown. No smiles, no formula, no mz = error). Because I have these all mixed together in my one compound list and each one has a unique ID, so there are no accession clashes.
Whether they are actually proce

[2016-01-07 19:44] ermueller commented on #42
If we're defining explicitely:

You could do the level numbers thing or you could write "tentative" or "unknown" in the last column of a compound list. This has the advantage that in a level 3 run where SMILES is present BUT tentative a COMMENT could be auto-added that says "Tentative spectrum".

Minor detail: If it's not the level numbers but "known", "tentative" or "unknown" (easier to understan

[2016-01-07 20:59] tsufz commented on #42
I also like the idea to tag the entries with the known, tentative and
unknown tags. Might is possible to use both? Levels and tags? The levels
are more advanced, but the tags are a 'quick and dirty' thing. Don't
overload the users with requirements.

I agree with Erik to process in parallel if possible. I dunno what are
the performance differences of separate and parallel processing. But
from user

[2016-01-07 21:09] tsufz commented on #141
Yeah, but the comment field requires a secondary tag to redirect to the correct dispatcher.

[2016-01-07 21:12] schymane commented on #42
I already have the levels in my compound list and also already that level 3 case you mention :).
I see two possibilities: you leave the user free to type what they want, then the records are a mess because it's just text.
Or we specify exact words and levels and build the real comment behind the scenes, so the user could enter either 3 or tentative, for example. We'd have confirmed or reference st

[2016-01-07 21:14] tsufz opened #146 "Test xcms and mzR workflow on Q-Exactive GC data"
I measured a mix of some non-polars with DDA (w and w/o inclusionlist). I will send the spectra to Erik as soon I processed the compounds list. Maybe end of January. The spectra are EI (70 eV) like with HCD fragmentation at levels from NCE 5 (lowest possible) to NCE 50 or so. With NCE 80 they are almost destroyed ;-).

[2016-01-07 21:14] uchem-massbank commented on #42
Column name 'Confidence'?
________________________________________
From: schymane [notifications@github.com]
Sent: Thursday, 7 January 2016 10:12 PM
To: MassBank/RMassBank
Cc: massbank
Subject: Re: [RMassBank] Processing of tentatives/unknowns (#42)

I already have the levels in my compound list and also already that level 3 case you mention :).
I see two possibilities: you leave the user free to

[2016-01-07 21:18] tsufz commented on #110
Hi, are there any proposals from Olivers side? I guess, there was some time to talk about during your recent workshop?

[2016-01-07 21:23] schymane commented on #110
We decided with Gert that there are more pressing issues for the moment, esp. wrt MoNA. So this is on ice
________________________________________
From: Tobias Schulze [notifications@github.com]
Sent: Thursday, 7 January 2016 10:18 PM
To: MassBank/RMassBank
Cc: Schymanski, Emma
Subject: Re: [RMassBank] CTS mirror server in EU (#110)

Hi, are there any proposals from Olivers side? I guess, there wa

[2016-01-08 10:02] #129 closed

[2016-01-08 10:04] meowcat commented on #42
Do you think I can pull this branch to the main repo already?

[2016-01-08 10:25] schymane commented on #42
@meowcat I suspect it will change but if it makes your life easier for now, I vote yes.
@ermueller I just emailed you a "translation table" csv for level, keyword and resulting comment, hope you get it but let me know if your email is still playing up...

[2016-01-08 10:49] schymane commented on #42
w <- msmsRead(w, filetable="E:/UchemSpectra/Processed/AndreaTPs_ErikRMB/AndreaTPs_FileList_2014_10_tentatives.csv", mode=RMB_mode, readMethod = "mzR",retrieval="tentative")

$CYP1.mzML
[1] TRUE
$CYP1.mzML
[1] TRUE
....

Yay :)

[2016-01-08 15:09] ermueller commented on #42
Thanks for the csv! I can definitely work with that.

@meowcat @uchem-massbank
Please don't pull yet, I'll rework some stuff. Don't want "nonfinal" things in the main repo. It'll probably be finished next week if I don't hit any major roadblocks. :)

[2016-01-08 15:12] uchem-massbank commented on #42
No probs! I’ve got my first set of tentative records using your workflow (much better calibration than for the knowns, because I had too few “knowns” => this really adds to the argument to do all together) and I’m about to try the first unknown. Pretty happy so far ;)

[2016-01-08 15:22] ermueller commented on #42
Wait, but @schymane said:

So, now I'm kinda confused at what exactly to do with tentatives in recalibration. You mean level 4 (formula only), correct? I mean, there definitely is the possibility that someone knows the formula for sure, but just not the structure, so why not use it in recal? On the other hand, if the formula turns out to be wrong that could be mighty bad for recal.

Introduce 4a a

[2016-01-08 15:27] uchem-massbank commented on #42
My email account is playing tricks on my identity, sorry – half the time it answers as uchem-mb ;)
So – the rule with the recalibration is as long as we have a formula (or better still smiles) we can recalibrate. Irrespective of whether the structure is tentative or not. So, if it’s not Level 5, let’s use it in the recalibration. We really need this.
No to the multiple level 4s – level 4 is define

[2016-01-08 15:34] schymane commented on #42
@ermueller RE: your email:

w <- msmsRead(w,mode="pH",files=w@files,readMethod="mzR",cpdids=c(1,2,3),retrieval="tentative")
w <- msmsWorkflow(w, mode="pH", steps=2:8,archivename="TEST", retrieval="tentative")
mb <- newMbWorkspace(w)
mb <- mbWorkflow(mb, 1:2, retrieval="tentative")
mb <- loadInfolist(mb,"./infolist.csv")
mb <- mbWorkflow(mb, 3:8, retrieval="tentative")

This seems to actually work

[2016-01-09 06:03] schymane commented on #42
@ermueller @meowcat I solved the error in the unknown file so you can ignore the email from yesterday - in this case retrieval="unknown" is essential at all steps, unlike retrieval="tentative" which I only needed for msmsRead. So now I have the records of the unknown too ;) and the recalibration code in the vignette works. Look forward to the next version!

[2016-01-11 09:52] #136 closed

[2016-01-11 10:36] meowcat commented on #138
@ermueller @sneumann Look at the branch s4power. Among different S4 functionality additions there's also implementation of writeMgfData support for RmbSpectraSet class.
```writeMgfData(w@spectra[[22]], con="cbdz-me.mgf")``` for example, writes the parent and all children spectra into an MGF file. No filtering etc currently, which is a bit ugly for the parent spectrum in particular; but the new ```

[2016-01-11 10:37] meowcat commented on #143
In the current s4power branch I added support for a RmbSpectrum2Ext class, I find it so useful that I propose to merge it into RmbSpectrum2.

[2016-01-11 14:30] meowcat commented on #42
From looking at the code today when merging, it seemed to me that actually, the way the "standard" / "tentative" / "unknown" arguments are used is a bit redundant with the actual specifications in the compoundlist - the argument would not actually be needed when processing, since the entry in the compoundlist already gives it away whether a compound is a known, tentative or unknown identification.

[2016-01-11 14:36] uchem-massbank commented on #42
I had assumed that this would be read from the compound list in the future version rather than defined explicitly, this would also make much more sense to me. But I guess Erik knows best what he is doing :-)

[2016-01-11 17:43] ermueller commented on #42
Yes, I would remove these arguments from the functions. :) It wouldn't make any sense to doubly specify that stuff.

[2016-01-15 08:03] sneumann opened #147 "RmbSettingsTemplate(): systematic shift as default"
Hi,

as naive user I would not expect a systematic rtShift as default.
I suggest to set this to 0 in RmbSettingsTemplate(). Any objections ?
[code]
Yours, Steffen

[2016-01-15 08:09] schymane commented on #147
I agree to set it to zero, we should have done that ages ago. You seem to be missing a . in the 0.3 though? Strange.
Also reset the licence to CC BY if this has not already been done?

[2016-01-19 12:25] tsufz opened #148 "function(files)"
The function searches for // to recognise the EOF. If more than one // are in the file (eg.
PUBLICATION: Beisken S et al (2014) Scientific Data, 1:140029, DOI:10.1038/sdata.2014.29. http://www.ebi.ac.uk/metabolights/MTBLS38) in ML000101 then it failes because it only searches for the first occurrence.

This is important for the splash function, it gets:

.addSplashToRecord("d:/MassBank/dum_160119/

[2016-01-19 12:42] ermueller commented on #148
Did you get my mail? The fix for this is already in my repo :) It now takes the last occurrence of "//".

[2016-01-19 12:44] uchem-massbank commented on #148
That’s the first mail I got from you today…

[2016-01-19 12:45] ermueller commented on #148
Really? I wrote 2 mails today, one because getSplash() didn't work, and one because of the "//" stuff

[2016-01-19 12:48] schymane commented on #148
Unfortunately yes – only had mails from Tobi and Steffen so far today – didn’t even land in junk or anything.

[2016-01-19 12:49] sneumann commented on #148
Same here. Uni Mail playing tricks :-1:

[2016-01-19 12:54] ermueller commented on #148
The mails are in my outbox, but the mailserver is doing bloody nothing to actually send them. Well, the first one should have been sent to @sneumann at least but nothing to anybody else. What the heck?

[2016-01-20 14:06] ermueller commented on #42
You all got a mail. It's finished! - I hope.

I'm sorry, @meowcat, I just realized you weren't a recipient, because I forgot to add you. I just hit "reply all" and wrote in there on the big mail back-and-forth from yesterday. The new stuff is in my repo as well.

[2016-01-20 14:09] schymane commented on #42
Great :-) Can’t wait to try it out. Just one question:
- Molfiles for formula and unknown result in empty files
Empty files, or no files? I wonder if empty files will create issues with MassBank upload…

[2016-01-20 14:11] ermueller commented on #42
Empty files. I can change that, too?

[2016-01-20 14:13] schymane commented on #42
Yes, would be much better to have no files at all and no entry in list.tsv…

[2016-01-20 15:05] ermueller commented on #42
Did that, it's in my repo now with no molfiles at all and no entry in list.tsv

[2016-01-20 15:07] schymane commented on #42
Cool! Btw, do you know how to build from github including the vignette?

[2016-01-20 15:11] tsufz commented on #42
library(devtools)
install_github("ermueller/RMassBank")

[2016-01-20 15:14] schymane commented on #42
..and if I do that it appears the default is not to include the vignette…hence my question…

[2016-01-20 15:25] tsufz commented on #42
Maybe install_github("ermueller/RMassBank", build_vignettes = TRUE)

build_vignettes = F is default setting:

http://stackoverflow.com/questions/25821473/building-r-package-from-github-how-to-disable-building-vignettes

[2016-01-20 15:58] schymane commented on #42
* creating vignettes ...Warning: running command '"C:/PROGRA~1/R/R-32~1.0/bin/x64/Rscript" --vanilla --default-packages= -e "tools::buildVignettes(dir = '.', tangle = TRUE)"' had status 1
ERROR

[omitted lots of stuff in the middle here]

Error: processing vignette 'RMassBankXCMS.Rnw' failed with diagnostics:

 chunk 9

Error : .onLoad failed in loadNamespace() for 'CAMERA', details:

  call: .set

[2016-01-20 15:59] ermueller commented on #144
Can we close this?

[2016-01-20 16:00] tsufz commented on #42
Of course, you need a basic TEX on your computer (if windows) to compile
the PDF. You may use TEXLive:

http://www.tug.org/texlive/acquire-netinstall.html

Use custom install and select the basic scheme (plain+LATEX)

Good luck!

[2016-01-20 16:04] schymane commented on #144
Think so, it was an error in the settings?
Or is there a catch that can/should be built in?

[2016-01-20 16:48] ermueller commented on #42
Is that a TEX problem? Looks to me like a problem with CAMERA...

[2016-01-20 17:16] schymane commented on #42
I thought the same ... the "normal" vignette compiles first and didn't give an error, which kinda rules out tex as the issue. Plus I have it anyway.
Can you try on your system? I had issues with rtools and packages in the lead up to that error as well, but seemed to be fixed.
The package installed OK without vignette.

[2016-01-20 18:42] ermueller commented on #42
It works just fine when I do it. Huh, that's strange... You do have the newest CAMERA and xcms, right? That's the only thing I can think of.

[2016-01-20 18:59] schymane commented on #42
well, since I had issues with a number of other packages prior to that it could well be an out-of-date CAMERA. Can try tomorrow and will let you know.

[2016-01-21 07:40] schymane commented on #42
The problem is certainly CAMERA but I can’t fix it whatever I try.

Error: processing vignette 'RMassBankXCMS.Rnw' failed with diagnostics:
chunk 9
Error : .onLoad failed in loadNamespace() for 'CAMERA', details:
  call: .setCAMERAOptions(pkgname)
  error: 4 arguments passed to .Internal(nchar) which requires 3
Execution halted
Error: Command failed (1)

[…]

Error : .onLoad failed in loadNamespac

[2016-01-21 07:45] tsufz commented on #42
I had problems with the Rcpp version. You may reinstall the 0.12.1 version:

packageurl <-
"http://cran.r-project.org/src/contrib/Archive/Rcpp/Rcpp_0.12.1.tar.gz"
install.packages(packageurl, repos=NULL, type="source")

[2016-01-21 08:12] ermueller commented on #42
Oh god, R installing problems.

Some version problem? I dunno why, you're definitely installing CAMERA for R 3.2

remove
'C:/DATA/R/R/win-library/3.2/CAMERA/'

just completely delete that whole folder, since some file is corrupt.

Another thing:

You don't have complete access to that folder? I think an installation will fail as long as you do that. My oh my, this mess gives me flashbacks. I had t

[2016-01-21 08:34] meowcat commented on #42
That CAMERA error is what I had when I tried to install (github) RMassBank-refactored on R 3.2. Which prompted me to upgrade completely to R 3.3 and Bioconductor-devel. I don't think there is another solution, we can't backport everything to 3.2...

[2016-01-21 08:37] tsufz commented on #42
Hi, the problem wit Rcpp and mzR also persists. mzR 2.40 is compiled
with Rcpp 0.12.1, but 0.12.3 is required for RMassBank. Would be nice to
get a mzR version compiled with Rcpp 0.12.3 during installation to get
rid of the problems.

[2016-01-21 08:37] schymane commented on #42
So, I have permission to that folder (in principle at least...) and CAMERA is not in the library in the folder I do not have permission to access (don't get me started on our admin rights policy...)
So, I deleted the CAMERA folder and did:

Bioconductor version 3.2 (BiocInstaller 1.20.1), ?biocLite for help

BioC_mirror: https://bioconductor.org
Using Bioconductor 3.2 (BiocInstaller 1.20.1), R 3.2

[2016-01-21 08:38] schymane commented on #42
Sounds to me like @sneumann needs to look at why CAMERA doesn't work properly for 3.2...

[2016-01-21 08:40] schymane commented on #42
The problem or the warning?
The warning is annoying, but not fatal, I was not aware of it causing problems/errors?
________________________________
From: Tobias Schulze [notifications@github.com]
Sent: Thursday, 21 January 2016 9:37 AM
To: MassBank/RMassBank
Cc: Schymanski, Emma
Subject: Re: [RMassBank] Processing of tentatives/unknowns (#42)

Hi, the problem wit Rcpp and mzR also persists. mzR 2.

[2016-01-21 11:37] ermueller commented on #42
Yeah, the warning is just kind of there for me. Never had any actual problems or errors.

[2016-01-21 12:26] #147 closed

[2016-01-21 12:36] meowcat commented on #42
Hi Erik,

really cool. I am just running a few tests (not everything perfect yet but I want to examine the user error component first :) )

One suggestion, what about changing findMz:
[code]
etc? so you could take out the retrieval argument from many more places.

I merged everything into master here already.

[2016-01-21 12:46] meowcat commented on #42
**wrt using neutral or charged masses in the compoundlist mz column,** this is a bit of a question of definition.
Technically, findMz should return the mass according to the "mode" set ("pH", "mH" etc) so using the neutral mass in the compoundlist would be more consistent. However, I don't know what @schymane thinks about this, since "in our heads" we typically think of the m/z and not of the unch

[2016-01-21 12:47] meowcat commented on #42
Also, findFormula() could do findLevel by itself without needing the argument.

[2016-01-21 12:51] sneumann commented on #42
I can confirm the installation issue on Windows with biocLite(CAMERA).
The issue during installation with biocLite() seems to be specific to R-3.2.0,
as mentioned here https://stackoverflow.com/questions/30955508/r-cannot-load-package-forecast-due-to-namespace-error/30956549#30956549,
and with a technical explanation in this comment>
http://stackoverflow.com/questions/32912268/error-in-r-data-tabl

[2016-01-21 12:55] schymane commented on #42
Yes, good point. The Level 5 mass is indeed the charged one (“the exact mass of interest”) and therefore would not need the mode correction – which is counter-intuitive to the mode setting I agree. But if we change to the neutral mass, users will have to “guess” the adduct state to input a neutral mass that will mean that RMassBank can calculate back to the exact mass they were interested in in th

[2016-01-21 13:03] meowcat opened #149 "Installation on R-3.2, issues with CAMERA"
I am moving some comments from the unknown/tentative threads here because they are unrelated to the problem there...

[2016-01-21 13:04] meowcat commented on #149
schymane wrote:

Cool! Btw, do you know how to build from github including the vignette?

[2016-01-21 13:04] meowcat commented on #149
tsufz wrote:

library(devtools)
install_github("ermueller/RMassBank")

[2016-01-21 13:05] meowcat commented on #149
schymane wrote:

..and if I do that it appears the default is not to include the vignette…hence my question…

[2016-01-21 13:05] meowcat commented on #149
tsufz wrote:

Maybe install_github("ermueller/RMassBank", build_vignettes = TRUE)

build_vignettes = F is default setting:

http://stackoverflow.com/questions/25821473/building-r-package-from-github-how-to-disable-building-vignettes

[2016-01-21 13:05] meowcat commented on #149
schymane wrote:

* creating vignettes ...Warning: running command '"C:/PROGRA~1/R/R-32~1.0/bin/x64/Rscript" --vanilla --default-packages= -e "tools::buildVignettes(dir = '.', tangle = TRUE)"' had status 1
ERROR

[omitted lots of stuff in the middle here]

Error: processing vignette 'RMassBankXCMS.Rnw' failed with diagnostics:

 chunk 9

Error : .onLoad failed in loadNamespace() for 'CAMERA', detai

[2016-01-21 13:06] meowcat commented on #149
tsufz wrote:

Of course, you need a basic TEX on your computer (if windows) to compile
the PDF. You may use TEXLive:

http://www.tug.org/texlive/acquire-netinstall.html

Use custom install and select the basic scheme (plain+LATEX)

Good luck!

[2016-01-21 13:06] meowcat commented on #149
ermueller wrote:

Is that a TEX problem? Looks to me like a problem with CAMERA...

[2016-01-21 13:07] meowcat commented on #149
schymane wrote:

I thought the same ... the "normal" vignette compiles first and didn't give an error, which kinda rules out tex as the issue. Plus I have it anyway.
Can you try on your system? I had issues with rtools and packages in the lead up to that error as well, but seemed to be fixed.
The package installed OK without vignette.

[2016-01-21 13:07] meowcat commented on #149
ermueller wrote:

It works just fine when I do it. Huh, that's strange... You do have the newest CAMERA and xcms, right? That's the only thing I can think of.

[2016-01-21 13:08] meowcat commented on #149
schymane wrote:

well, since I had issues with a number of other packages prior to that it could well be an out-of-date CAMERA. Can try tomorrow and will let you know.

[2016-01-21 13:09] meowcat commented on #149
schymane wrote:

The problem is certainly CAMERA but I can’t fix it whatever I try.

Error: processing vignette 'RMassBankXCMS.Rnw' failed with diagnostics:
chunk 9
Error : .onLoad failed in loadNamespace() for 'CAMERA', details:
  call: .setCAMERAOptions(pkgname)
  error: 4 arguments passed to .Internal(nchar) which requires 3
Execution halted
Error: Command failed (1)

[…]

Error : .onLoad faile

[2016-01-21 13:09] meowcat commented on #149
tsufz wrote:

I had problems with the Rcpp version. You may reinstall the 0.12.1 version:

packageurl <-
"http://cran.r-project.org/src/contrib/Archive/Rcpp/Rcpp_0.12.1.tar.gz"
install.packages(packageurl, repos=NULL, type="source")

[2016-01-21 13:10] meowcat commented on #149
ermueller wrote:

Oh god, R installing problems.

Some version problem? I dunno why, you're definitely installing CAMERA for R 3.2

remove
'C:/DATA/R/R/win-library/3.2/CAMERA/'

just completely delete that whole folder, since some file is corrupt.

Another thing:

You don't have complete access to that folder? I think an installation will fail as long as you do that. My oh my, this mess gives me f

[2016-01-21 13:10] meowcat commented on #149
meowcat wrote:

That CAMERA error is what I had when I tried to install (github) RMassBank-refactored on R 3.2. Which prompted me to upgrade completely to R 3.3 and Bioconductor-devel. I don't think there is another solution, we can't backport everything to 3.2...

[2016-01-21 13:10] meowcat commented on #149
tsufz wrote:

Hi, the problem wit Rcpp and mzR also persists. mzR 2.40 is compiled
with Rcpp 0.12.1, but 0.12.3 is required for RMassBank. Would be nice to
get a mzR version compiled with Rcpp 0.12.3 during installation to get
rid of the problems.

[2016-01-21 13:10] meowcat commented on #149
schymane wrote:

So, I have permission to that folder (in principle at least...) and CAMERA is not in the library in the folder I do not have permission to access (don't get me started on our admin rights policy...)
So, I deleted the CAMERA folder and did:

Bioconductor version 3.2 (BiocInstaller 1.20.1), ?biocLite for help

BioC_mirror: https://bioconductor.org
Using Bioconductor 3.2 (BiocInstall

[2016-01-21 13:11] meowcat commented on #149
schymane wrote:

Sounds to me like @sneumann needs to look at why CAMERA doesn't work properly for 3.2...

[2016-01-21 13:11] meowcat commented on #149
schymane wrote:

The problem or the warning?
The warning is annoying, but not fatal, I was not aware of it causing problems/errors?
________________________________
From: Tobias Schulze [notifications@github.com]
Sent: Thursday, 21 January 2016 9:37 AM
To: MassBank/RMassBank
Cc: Schymanski, Emma
Subject: Re: [RMassBank] Processing of tentatives/unknowns (#42)

Hi, the problem wit Rcpp and mzR also

[2016-01-21 13:11] meowcat commented on #149
ermueller wrote:

Yeah, the warning is just kind of there for me. Never had any actual problems or errors.

[2016-01-21 13:12] meowcat commented on #149
sneumann wrote:

I can confirm the installation issue on Windows with biocLite(CAMERA).
The issue during installation with biocLite() seems to be specific to R-3.2.0,
as mentioned here https://stackoverflow.com/questions/30955508/r-cannot-load-package-forecast-due-to-namespace-error/30956549#30956549,
and with a technical explanation in this comment:
http://stackoverflow.com/questions/32912268/err

[2016-01-21 13:14] meowcat commented on #42
@everyone: I branched off all the issues with installation that are unrelated to this question so this stays a bit more focused... #149

[2016-01-21 13:24] meowcat commented on #42
after a bit of discussion with @schymane in the office:

on one point you are right about the mass of interest often being the m/z, on the other hand this depends on the workflow (are you using a nontarget list, are you recording spectra of tentatively identified compounds etc.) For example,  I have an MS/MS method that records 9 positive and 9 negative MS2 for every compound in the file. Here it

[2016-01-21 13:43] schymane commented on #42
What about mz and neutral_mass – then there is no room for doubt?

[2016-01-21 13:53] meowcat commented on #42
fixed a bug in mbworkflow step 6 (in this repo)

[2016-01-21 13:58] ermueller commented on #42
Yeah, mz or "m/z" and neutral_mass sound great.

Currently I'm calculating the mass with findMass by doing this:
[code]
and then calling

[code]

or is that bad?

Also @meowcat
yes, I will remove the retrieval parameter for these functions, I dunno what I was thinking. Didn't see the forest for the trees there.

[2016-01-21 14:23] ermueller commented on #148
I'll close this, since it is the main repo now.

[2016-01-21 14:23] #148 closed

[2016-01-21 15:04] meowcat commented on #42
One could just try inside findMz:
[code]

[2016-01-21 16:17] ermueller commented on #42
That doesn't work for "mM"(Error), or "mH"(Just returns 1.0000X when it should return -1.0000X)

[2016-01-21 16:18] ermueller commented on #42
Oh and pM either. But I could just handle these cases in an "if".

[2016-01-22 09:36] meowcat commented on #42
Hm but this means my function is working incorrectly. I will fix this :)

[2016-01-22 11:03] meowcat commented on #42
Try the fix in master branch d05725f

[2016-01-28 14:40] sneumann opened #150 "Drastic slowdown in step 2"
Hi, I haven't timed it, but we perceive a drastic performance decrease in Step 2
with CASMI data from Waters Instruments. Performance was fine this morning,
then I pulled from RMassBank master and Erik today and we'll die from caffeine poisoning :-)
The changes that came in are below, Erik guessed it could be in formulaCalculator.R
in Step2.
Yours, Steffen

[code]

[2016-01-28 15:01] sneumann opened #151 "Step 4 (Recalibrate) with "unknown/Level=5": rcdata[, c("mzFound", "dppm", "mzCalc")] -> undefined columns selected"
Hi,
Erik and I got an Error in Step 4 (Recalibrate) with "unknown/Level=5": [rcdata, , c("mzFound", "dppm", "mzCalc")] -> undefined columns selected with this morning's RMB from MassBank/RMassBank
in a workspace where no peaks were left after step 2. This needs at least an error message.
@ermueller: The data and Skript are in balzer:/vol/data_extern/CASMI2016/
Yours, Steffen

[code]

The traceback

[2016-01-28 15:10] sneumann commented on #151
...  and recdata does not have all required columns:

[code]

[2016-01-28 15:10] meowcat commented on #150
Hi,

there should not have been any changes in how Step 2 performs because of these changes. Are you sure you used the same settings for both runs?

[2016-01-28 15:18] meowcat commented on #151
[code]

Because apparently something is off, nothing is annotated and therefore the aggregation table ends up empty...

[2016-01-28 15:23] meowcat commented on #143
@sneumann @schymane @ermueller This is working now, including updates from old workspaces. Do you object to merging it into the main branch?

[2016-01-28 15:25] schymane commented on #143
No objections from me.

[2016-01-28 15:27] sneumann commented on #150
Right, settings were changed.

[2016-01-28 15:27] #150 closed

[2016-01-28 15:30] meowcat commented on #151
Ah but if you don't recalibrate anything anyway, you can just run workflow steps 1:3 and then feed the result into newMbWorkspace.

[2016-01-28 16:17] ermueller commented on #151
I'll still fix this, just to avoid confusion. Maybe I'll just ignore steps 4:8 if all compounds are Level 5? Would you say that that's a "clean" approach @meowcat? It'd certainly be faster.

[2016-01-29 09:37] meowcat commented on #151
Yeah, maybe with a warning that they were not executed because all compounds were tentative... Good idea.

[2016-01-29 09:43] schymane commented on #151
…warn because all compounds were “unknown”? Since it’s a Level 5 Unknown problem?
Tentatives with formulas would/should still work.

[2016-01-29 10:02] meowcat commented on #151
yes, of course. sorry

[2016-02-04 15:09] schymane opened #152 "Minor bug in compound list import"
If the first entry of the compound list doesn't contain a retention time in column RT, this gives an error:
w <- msmsRead(w,readMethod = "mzR",mode=RMB_mode, filetable = "fileList.csv")
   0%Error in rt + getOption("RMassBank")$rtShift :
  non-numeric argument to binary operator

If the entry is changed to zero instead of empty, RT is read correctly as numeric and the error is gone.
Don't know if

[2016-02-04 23:04] sneumann commented on #138
Hi, the s4power branch is missing a few fixes @ermueller added recently,
currently the Waters CASMI challenges cause
[code]
I think the "No filtering etc" is fairly important, the MGF should contain the same peaks
as the compiled MB record.
Yours, Steffen

[2016-02-05 10:00] meowcat commented on #138
as the compiled MB record.

Yes, in the end. The current implementation is a very rudimentary first shot. I propose to modify the data structure in the mbWorkflow part a bit such that it becomes easier to export records in different formats ("finished" records into MSP and MGF, but also "raw" records). More on that in an upcoming issue or email.

Also, I want to merge the branch s4power as per #14

[2016-02-05 10:56] meowcat opened #153 "mbWorkflow data structure [request for comments]"
I would like to propose a change in the data structure in mbWorkflow.

Currently, in step 4, when the compiled records are generated, all metadata are combined with the spectrum peak list to generate a tree-like MassBank record.
- input data: a list of `RmbSpectraSet` objects (compounds) containing n `@children (RmbSpectrum2)` each
- output data: a 2-level tree of records (list in a list), where t

[2016-02-05 11:04] meowcat commented on #153
wrt backwards compatibility, we probably don't have to worry about that at all, because nobody ever stored / loaded ```mbWorkspace``` type objects.

[2016-02-05 11:20] sneumann commented on #153
+1 for the proposal, which looks like making things much simpler.
What is the timing ? BioC release is in early April, i.e. ~8 weeks
from now. Wouldn't be bad to have this in before ?

[2016-02-05 12:20] meowcat commented on #153
As soon as I merge the S4power branch I can start on this, I guess...

[2016-02-05 13:11] schymane commented on #153
Sounds like a good idea to me ;)

[2016-02-05 13:16] ermueller commented on #153
I really like this idea, too

[2016-02-05 13:33] ermueller commented on #152
It was a missing "as.numeric()" in the findRt function. Coercing variables while loading the compound list would do the same thing, but is more complicated. Since the compound list is meant to be accessed by the "findX" functions, this should be ok, right?

[2016-02-05 13:34] ermueller commented on #152
Oh yeah, it's in 3998a43f51949e264a4721480e73a8814504c131

[2016-02-05 13:35] uchem-massbank commented on #152
Sounds about right to me, thanks ;)

[2016-02-05 15:11] schymane opened #154 "Error in msmsWorkflow Step 2"
msmsWorkflow: Step 2. First analysis pre recalibration
|   0%Error in `[.data.frame`(childPeaks, , colnames(childPeaksOmitted), drop = FALSE) :
  undefined columns selected

Reproducible with whole dataset or the first subset, all other datasets today have worked fine.
@ermueller @meowcat will have separate email with w and workspace. Good ideas welcome.

locale:
[1] LC_COLLATE=English_Australia.1

[2016-02-05 16:21] schymane opened #155 "Enhancement: Option to extract MS1 as well?"
Something to consider - should we add the option to also extract the (full?) MS1 scan along with each known? I.e. the precursor scan, complete with isotope/adduct signals?
Just a thought.

[2016-02-05 16:58] ermueller commented on #154
Was a rather rare occurrence that apparently has never happened before, huh.
The fix is in b54985373dc94cce8d80d25e45404c524a49b58d :)

Please note: 8 of the compounds have this problem:
1: In analyzeMsMs(spec, mode = mode, detail = TRUE, run = "preliminary",  :
  The spectra count of the substance 8052 (2 spectra) doesn't match the provided spectra list (1 spectra).
2: In analyzeMsMs(spec, mode =

[2016-02-05 17:44] schymane commented on #154
what was the reason? It wasn't the 2 spectra not 1, right?
I will check the raw files, Martin did 4 scans data-dependent after each MS1 with inclusion list and in the raw files I looked at no masses were repeated so I only tried to extract one, or I'd have got a warning the other way.
Maybe if there aren't many masses on the list (some were only small runs) they are repeated. Can let you know.
Tha

[2016-02-05 18:02] ermueller commented on #154
No, it was a data.frame where a column hasn't been added because of several unlucky circumstances. (And this was the one combination nobody thought of)

But on the other hand, maybe this is just a problem which relates to the R version since there were quite a few behavioural changes in 3.3. I honestly don't know, but it works now.

Took me a while to find out what goes wrong where.

[2016-02-07 18:38] schymane commented on #154
I'm still using R3.2.0 - but whatever the cause, the fix worked :-)
No problems getting through the whole dataset but an additional few substances with 2 spectra...
But this in itself is an interesting phenomenon: the acquisition was data dependent, 4 MS2 scans after each MS1 and once one mass is triggered, it's usually excluded. So here's what happened:
For 8052 there are two scans, 197.10 and 19

[2016-02-08 08:07] schymane opened #156 "Error in msmsWorkflow Step 4 (recalibrate) - with knowns"
Error in unlist(ms1peaks[, tonum]) :
  error in evaluating the argument 'x' in selecting a method for function 'unlist': Error in `[.data.frame`(ms1peaks, , tonum) : undefined columns selected
warnings()
[... 1 to 36 are no spectra retrieved, I expected that]
37: In .Method(..., deparse.level = deparse.level) :
  number of columns of result is not a multiple of vector length (arg 1)

It could be t

[2016-02-08 08:56] schymane opened #157 "Increase accuracy of retention time?"
AC$CHROMATOGRAPHY: RETENTION_TIME is currently accurate to 1 decimal place - I'd suggest we increase that to at least two decimal places, one is certainly not enough any more.
Any thoughts?

[2016-02-08 12:51] sneumann commented on #157
Can be changed here:
https://github.com/ermueller/RMassBank/blob/master/R/createMassBank.R#L1257

I'll edit and send @ermueller a pull request.
Yours,
Helau,
Steffen

[2016-02-08 14:21] meowcat commented on #155
The MS1 scan is actually extracted; just not used anywhere. (RmbSpectraSet @parent slot). But I have also had the thought that maybe we should do something with it.

[2016-02-08 15:28] #157 closed

[2016-02-09 13:03] schymane opened #158 "Dealing with formulas/SMILES containing non-standard elements"
Formula=C2H2DN3
Works fine if Level=5 (unknown) when RMB takes the mz instead of the formula.
So - is this specific to D, or is this any non-standard element? Or should it be [2H] or something?

To take this further, is this specific to loadList? Can we even process formulas (or even SMILES) with non-standard elements, or is our current functionality recognising the isotopes of "normal" substances

[2016-02-10 09:58] ermueller commented on #158
It *technically* works with smiles:
[code]

but we're not using "get.exact.mass" because we convert everything to cdkFormula since we need that for the annotation.

[code]

And cdkFormula class can technically hold isotopic information, but I think this was meant to be implemented in the future, because it currently doesn't get used (afaik?):

[code]

So I tried my hand at using Java because the J

[2016-02-10 13:29] meowcat opened #159 "SMILES into RmbSpectraSet?"
Hi,

As I am working on #153 (which is almost done), I find it more and more strange that RmbSpectraSet doesn't have a slot for a SMILES or anything. Can I add one?

[2016-02-10 14:20] schymane commented on #159
Yes, please do!

[2016-02-10 15:45] meowcat opened #160 "AAA in global environment"
Hi @ermueller,
in https://github.com/MassBank/RMassBank/blob/master/R/createMassBank.R#L1691
`.GlobalEnv$AAA <- mbrecord`

Do you still need this or can I remove it? Otherwise can we try to find a better solution?

[2016-02-10 16:11] ermueller commented on #160
Whoops, that was a debug variable since recover only returned gibberish concerning a bug. Yes, you can remove that.

[2016-02-10 16:13] uchem-massbank commented on #160
Ah I was wondering where this AAA came from! :-)

[2016-02-10 17:32] meowcat commented on #160
Another question, in zzz.R we have utils::globalVariables(c("cpdID", "isotopes","mzCalc"))

Is this needed / where is it used?

[2016-02-10 21:00] ermueller commented on #160
There is a weird quirk where NOTEs saying "seems like this doesn't exist" will turn up in R CMD check when a variable has been altered by anything but certain kinds of assignment.

The variables are pseudo-set globally so that the NOTEs don't turn up in the R CMD check anymore. Just cosmetic, but it's the officially sanctioned solution to that problem.

[2016-02-12 11:08] ermueller commented on #156
I isolated the problem:
When recalibrating we need the m/z of the MS1-Peak of the compound that gets fragmented and we find this by doing:

[code]
The problem here lies therein that there are two peaks within the specified ppm inside the MS1 Spectrum. Valid peaks would go from
`156.9941` to `156.9988`
and we have 2 peaks inside the MS1 Spectrum that fit that description:
`156.9955` and `156.9983`

[2016-02-12 13:41] uchem-massbank commented on #156
I’d say lowest ppm – no guarantee that the most intense one is the one we want, whereas we can hope that the measured mass is closest to the one the users put in their compound list / the one calculated from the SMILES. The latter (mass in the compound list) can always be adjusted by the user if the wrong one was chosen, whereas the most intense can’t be …

[2016-02-12 20:13] ermueller commented on #156
The fix for this is in 95bc68b61ae4dd86c15975aa5baf083207cb7da8 :)

[2016-02-18 14:04] schymane commented on #53
I found a case where I get repeated peaks and can put it down to a very poor recalibration because I don't have enough points. The problem disappears if I take the recalibration from another mode or if I recalibrate.identity. @ermueller and @meowcat have some files. I don't know if this is the cause in all cases? Do we need a warning on the recalibration if it's crazy like this (because if people

[2016-02-18 14:38] schymane commented on #53
From @meowcat
I examined the error, it has a really curious cause: out of apparently pure coincidence, the recalibration curve maps three masses directly onto each other!

One might catch this for example with
if(any(abs(drecal) > 100) warning("crap recalibration"))
in recalibrateSingleSpec. (which would warn on recalibrating anything by >100 ppm. In this specific case the mass was recalibrated by

[2016-02-19 18:06] nalygizakis commented on #142
Good afternoon everyone.
I have injected some standard compounds in the QTOF and I want to process the data with RMassBank. I was wondering whether there was any progress with isotope annotation.
Thanks

[2016-02-20 06:28] schymane commented on #142
Hi Nikiforos,
I would suggest you install the latest version using install_github from the main repository and process with that. If you see any isotope patterns that are not captured, we can use the archive (saved at step 8) as a test dataset to see why peaks are missing. Does that sound ok to you? Please keep @ermueller in the loop
________________________________________
From: Nikiforos Alygiza

[2016-02-20 15:08] ermueller commented on #142
Hi, I didn't push any changes yet until now, because it isn't working out as well as I wished. While I can get more peaks to appear and to be better annotated than before, it's still far from perfect :( There are peaks where some approaches mutually exclude each other, so I'm currently just working on hunches about what might work to solve this problem, and I'm trying to find resources - but ab in

[2016-02-20 16:52] nalygizakis commented on #142
Thank you both for answering. I gave it a try with erik's package (ermueller/RMassBank) and worked for me better than the "official" repository ("MassBank/RMassBank"). Well, I donot know how far from perfect you are, but I will test it and let you know about the results in the future. Thanks for your efforts.

[2016-03-01 20:04] tsufz opened #161 "Minor bug in SPLASH field generation"
In record http://massbank.eu/MassBank/jsp/Dispatcher.jsp?type=disp&id=AU223101&site=33, the SPLASH is wrongly parsed with a leading 'SPLASH' before the #

PK$SPLASH: SPLASH splash10-0z00000000-444235979dda46ec1590

The correct format is:
PK$SPLASH: splash10-0z00000000-444235979dda46ec1590

As Nikiforos used a clone from Erik, the problem is maybe related to https://github.com/ermueller/RMassBank/b

[2016-03-02 07:52] schymane commented on #161
This is also happening in the master branch of this version...not just Erik's version.
MS$DATA_PROCESSING: WHOLE RMassBank 1.99.9
PK$SPLASH: SPLASH splash10-20z0000000-87b7a821054e89de3f7b

[2016-03-02 14:26] ermueller commented on #161
Fixed in 4142038a98dc04e3c5161d3e525edd0892e7fe08

[2016-03-07 09:27] ermueller opened #162 "RMassBank doesn't install with updated bioc"
Hi,

so I wanted to test and R CMD check everything after adjusting the new Isotope annotation function #142 (yes, it's basically finished, but now I can't test integrity) so I updated everything to the newest bioc-Devel.

The problem currently occurring is this (and I tried with an unchanged RMassBank from this repo):
While installing I get an error message

[code]

and if I try after downgrading

[2016-03-07 12:51] nalygizakis commented on #142
@ermueller Your isotope detecting script worked efficiently for me. In almost all the cases, obvious isotopic peaks were traced and annotated correctly. Maybe you (and the rest developers of the package) should think of integrating this in the workflow.

[2016-03-07 12:57] ermueller commented on #142
I reworked it again and it now finds all peaks that were missing in the cases described in this issue.
It should find even more peaks and annotate them better now.

However, I can't currently upload it to github or build the package currently, because of issue #162 but we'll get around to fixing that (hopefully soon).

[2016-03-08 08:20] ermueller commented on #162
Ok, this was a mistake on my part somehow (I don't know what exactly, but...) - I reinstalled everything and now it works. I'll update the docs for the isotopic annotation and then I'll push it.

[2016-03-08 08:20] #162 closed

[2016-03-08 14:59] ermueller commented on #142
I fixed the problem and the new (better) isotope annotation is in 7a11f9accdf84906d2d5d4eeb7987a80b6a61bb4 in my repo :) I'll send a pull request.

[2016-07-05 12:31] schymane opened #165 "Empty molfiles!"
RMassBank is happily generating a whole lot of empty molfiles - each file contains one empty line, plus a $$$$ line, that's it. First reported from external feedback 2 weeks ago, but on my machine this is current and also goes back to at least Feb 4th 2016.
From uchem-massbank: Files from Andrea in January have structures in the molfiles, those in February (18th) also do not contain structures.
On

[2016-07-15 20:06] stanstrup commented on #90
A heads up. There is now a way to get inchi and inchikeys with ChemmineR.
https://github.com/girke-lab/ChemmineOB/issues/9#issuecomment-233048702

[2016-10-05 07:46] schymane commented on #127
I've just rediscovered this error in a new set of Agilent files
w <- msmsRead(w,filetable = fileList, readMethod = "mzR", mode="pH")
|   0%Index whichScan out of bounds [1 ... 2310].

Since we have the fix already - can we add a "switch" in the settings to choose between using seqNum and acquisitionNum, if we aren't sure yet if it's a global fix?

sessionInfo(): RMassBank_1.99.10

[2016-10-05 08:09] schymane commented on #127
On second thoughts... a TRUE/FALSE option in msmsRead would be better than changing the settings file...

[2016-10-05 14:31] sneumann opened #166 "Error: “Spectrum2” instead of the required “RmbSpectrum2”"
http://bioconductor.org/checkResults/devel/bioc-LATEST/RMassBank/malbec1-buildsrc.html
[code]
@meowcat , did MSnBase change anything here ?
Yours, Steffen

[2016-10-06 06:32] sneumann commented on #127
Quick workaround: `perl -i -pe 's/(<scan num=\")[0-9]*\"(.*)/"$1" . ++$n . "\""/ge'  file.mzXML`
will renumber the Agilent file inplace to have consecutive `scan num` starting from 1. This will NOT renumber references like "parent scan=XXX" (haven't seen those in the file I had) and only works for mzXML.

[2016-10-06 07:45] meowcat commented on #127
The paradigm since some time is that (at least for the MSMS workflow, not sure about MB workflow) settings file entries are (almost?) always also arguments to single functions. See e.g. ?findMsMsHR. So we should do this the same way probably. So it would go as an option to findMsMsHR and as an option in the settings file (but, currently, not as a "eigenständige" option to msmsRead, since it actual

[2016-10-06 08:35] uchem-massbank commented on #127
I’m all for consistency – it’d fit well under the fillPrecursorScan setting ;)
The TRUE/FALSE switch was easier for me to build into a findEIC.seqNum() function without recompiling the whole package, but I also didn’t manage to catch all the cases it seems – I got partial results but it still spewed out error messages at me. Steffen seems to have had more success with a brute force fix of the mzXM

[2016-10-07 03:43] uchem-massbank commented on #166
This needs a fix ASAP, we still have a build error and release is coming up
https://bioconductor.org/checkResults/3.4/bioc-LATEST/RMassBank/tokay1-buildsrc.html

________________________________________
From: sneumann [notifications@github.com]
Sent: Wednesday, 5 October 2016 4:31 PM
To: MassBank/RMassBank
Subject: [MassBank/RMassBank] Error: �Spectrum2� instead of the required �RmbSpectrum2� (#16

[2016-10-12 10:43] stanstrup commented on #166
Any workaround for this in the meantime?
I was finally getting back to trying this...

[2016-10-12 11:11] uchem-massbank commented on #166
This has been discussed intensely on bioc-devel.
Current status is to check the next BioC build to see if Laurent’s fix to MSnbase worked. If so, you’ll need MSnbase 1.99.6.
Older versions of RMassBank (with older versions of MSnbase) should work without problems, we’re still using RMB at the moment... I’m on RMassBank_1.99.10 & MSnbase_1.18.1 – haven’t updated either for a while ;)

[2016-10-12 12:29] stanstrup commented on #166
Thanks!
Seems the fix is not on BioC but pulling MSnbase from github worked.

[2016-10-13 08:54] stanstrup opened #167 "gatherData: Is inchi supposed to me in the IUPAC field?"
`CH$IUPAC` is populated by the inchi. Is that intended or a bug?

[code]

[2016-10-13 09:01] meowcat commented on #167
This is, curiously enough, how the MassBank record format is defined (InChI being the "IUPAC International Chemical Identifier").

[2016-10-13 09:01] #167 closed

[2016-10-13 09:01] sneumann commented on #167
Hi, yes this is intentional, following the MassBank record format http://www.massbank.jp/en/manual.html
[code]

[2016-10-13 19:33] sneumann commented on #166
Is fixed now also on BioC on Linux and Windows, after some fix by the MSnbase team.

[2016-10-13 19:33] #166 closed

[2016-10-24 06:23] schymane commented on #165
We still have empty molfiles @ermueller are you looking into this, or do we need to here?

[2016-10-24 06:28] schymane opened #168 "Vendor-exported centroided data causes R to crash at msmsRead"
Vittorio reported problems with vendor-exported mzML files (Bruker, unless I am mistaken) and mzR/Rcpp, which caused R to crash as soon as he started msmsRead. This happened after a software upgrade; previous vendor exports worked fine. pwiz-exported mzMLs did not experience this problem.
Not sure if we require any actions on our side, rather just flagging the issue so we can track it.

[2016-10-24 06:31] schymane opened #169 "ini encoding causing problems (?windows 10 issue)"
Vittorio and also Erik Emke had problems with ini files not working - I am not sure exactly how they generated them, but if they modified existing ini files, these worked fine. Visually their non-functioning files had no errors. Seems to be an encoding issue; Vittorio is using windows 10 and thinks this may be the problem.

[2016-10-24 08:15] tsufz commented on #169
We may implement an automated guessing of the encoding: see  2
down vote

The package readr, https://cran.r-project.org/web/packages/readr/readr.pdf, includes a function called guess_encoding that calculates the probability of a file of being encoded in several encodings:
guess_encoding("your_file", n_max = 1000) (source: http://stackoverflow.com/questions/4806823/how-to-detect-the-right-encoding-

[2016-10-24 10:43] ermueller commented on #165
I'm on it, but I need to fix another thing first, the unit tests I created currently **crash** R on my PC and I'm trying to find out why that is. I'll give an update when I fixed that and can look into the molfiles.

[2016-10-24 11:48] ermueller commented on #169
The guessing is very wonky with that function from readr, and I wager it could go terribly wrong if some of the freetext stuff is filled out in certain strange ways... I advise against using that.

@schymane Can you please find out how the files were generated? Can you get your hands on one of these files, maybe? Either ASCII or UTF-8 should both be fine for yaml to read, so the encoding would be

[2016-10-24 11:56] schymane commented on #169
Here is the error that Erik Emke reported, we traced that back to the ini too.

[...]

[...]

R version 3.3.1 (2016-06-21)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

locale:
[1] LC_COLLATE=English_United Kingdom.1252  LC_CTYPE=English_United Kingdom.1252
[3] LC_MONETARY=English_United Kingdom.1252 LC_NUMERIC=C
[5] LC_TIME=English_United King

[2016-10-24 12:04] ermueller commented on #169
Hm, that sadly doesn't help much :/

Are you able to ask for the "mysettings_KWR.ini" file?

Weirdly enough, the settings template file just gets copied from the repo, so I also don't quite understand how the encoding could even be changed, unless you created a file completely from scratch.

[2016-10-24 12:04] schymane commented on #169
I just sent you everything :-)

[2016-10-24 12:05] schymane commented on #169
But - Erik had problems and seems to have Win7 - not sure if Vittorio had the same error or different, I have only description. Last update from Erik E was that he has a whole new laptop etc so his sessionInfo() will change totally...

[2016-10-24 12:15] ermueller commented on #169
I can read the ini file with yaml just fine

[code]

works as it should, so it's not a problem of reading the settings but something specific within RMassBank...

PS:
Can you also send me the Compound List?

[2016-10-24 12:22] schymane commented on #169
CmpdList sent ... it shouldn't be a problem within RMB, the line that generated the error for Erik E is the     fillPrecursorScan: FALSE entry which is the last item of the settings file. I used identical settings in a file I created and had no dramas. He can't need that setting, he has Orbi data and it doesn't apply - he has precursor scans - i.e. the data was fine.
If I load his file I get the s

[2016-10-24 14:46] schymane commented on #169
From Erik M: In Eriks file, the last line is not indented - fillPrecursorScan should be a suboption of "findMsMsRawSettings", i.e. there MUST be 4 spaces in front of it to denote that.
It's not an EOF problem, but an indenting problem for yaml. This could easily happen accidentally when editing the settings file, because if you don't know yaml you might think these 4 spaces are unimportant.

Until

[2016-10-24 14:46] #169 closed

[2016-10-24 14:52] schymane opened #170 "Checking settings"
Issue #169 was caused by a wrongly indented setting for fillPrecursorScan. We currently have a settings check (I thought?), but this fell through. The setting should be in $findMsMsRawSettings$fillPrecursorScan and not $fillPrecursorScan
@ermueller suggested
"I could write a fix that automatically aligns the indents correctly when reading the settings file, and I'm 99% sure it would work? Caveat:

[2016-10-25 18:13] schymane commented on #169
I feel the same. I have asked Vittorio and found another Win10 user as a back-up if Vittorio doesn’t get back to me soon…I’ll let you know.

[2016-10-25 18:21] schymane commented on #169
I am not quite sure if this will help. I have asked Vittorio to clarify how he generated his settings file, if he used e.g. RmbSettingsTemplate() and then could not modify this file to create a readable settings file for RMB, this seems to be to be an internal problem and we shouldn’t need guesswork. It’s different to the other csv issues we’ve had; this is the ini file…

[2016-10-31 14:30] stanstrup commented on #142
I started trying to make a simply MB record browser to inspect results. Using the example data (http://msbi.ipb-halle.de/download/MetShot_RMassBank_Dublin2016.zip) from Michael Witting I found an isotope peak that is removed for some reason.
RMassBank is still a bit of a black box to me so I haven't figured out why it is removed.

I have attached the output from msmsWorkflow (w) and mbWorkflow (mb

[2016-10-31 14:53] schymane commented on #142
@ermueller do you have time to follow up on this?
@stanstrup what do your resulting MassBank records look like - are the isotopes annotated as isotopes in the subformula annotation? Are you using the isotope detection workflow? What are your settings?

[2016-10-31 15:01] stanstrup commented on #142
Hmm. I was using the normal 1-8 step workflow. I just now found `checkIsotopes` which solves the issue. Thanks.
I think it would be nice if this was in the vignette somewhere. When I saw the function at first I thought this was an internal function used in the workflow.

Should this be an option for the step-wise workflow? To me it is a strange design to have the step-wise design, but then have ad

[2016-10-31 15:08] uchem-massbank commented on #142
It’s not in the standard vignette because it was not a part of our original workflow. It may be in one of the nonstandard ones because this is where Erik added most of his work (we have a few vignettes, see the BioC site http://bioconductor.org/packages/release/bioc/html/RMassBank.html).
It could eventually be added to the standard one but at the moment it hasn’t been tested enough for me to be co

[2016-11-01 08:35] stanstrup commented on #155
I think this could be highly useful.
1) For spectral matching to MS1 peaklist with adducts and all. Especially when the adducts are so strong an MS2 can be difficult to get.
2) Generating library of unknowns

Is there fore now a way to get a MB record of the MS1 slot?

[2016-11-01 08:46] schymane commented on #155
We can extract MS1 using RMB (it’s in the workspace etc), but not yet in the official workflow and thus not yet to form official records. The MS1 clean-up and annotation to the standard of the MS2 currently implemented in RMB is not trivial … we are working on it but raw MS1 is generally of limited use (very noisy) and cleaned-up requires some form of pre-interpretation. I would not like to see ra

[2016-11-01 09:42] meowcat commented on #155
Correction: we not only can extract it, it is indeed always **extracted**, only not **exported** into a MassBank record.

If one loads MSnbase explicitely, the as.data.frame cast works on the @parent object anyway, btw.

[code]
Note for RmbSpectrum2 objects as.data.frame also works, but only returns mz and intensity (to give a result compatible with base MSnbase) - there is also getData for RmbSpe

[2016-11-01 09:46] meowcat commented on #155
While I haven't looked at it explicitely, it should be possible to get a "clean" MS1 (isotopes, adducts, in source fragments) if we peak pick the raw file and run RAMClustR over it.

I don't know how often this will fail though. Would need to be tested.

[2016-11-01 10:06] schymane commented on #155
That’s one idea, the other is with nontarget, but I’ve not done that in the RMB context, only in the sample context when I already have peak picking etc. Also to be tested :-)

[2016-11-01 10:32] tsufz commented on #155
I think MS1 spectra are also helpful to integrate better with other software such as MZmine. The users often process MS1 data in the first step and use MS2 for identification / confirmation. If we can help the people with MS1 spectra, it would be a great step forward in order to foster justification of MB at all.

[2016-11-01 13:49] meowcat commented on #42
Digging up this old one. I am using tentative processing routinely. But we still don't have the "neutral_mass" option, right? Or is it in a branch I don't have? I would need it urgently...

[2016-11-01 14:04] schymane commented on #42
@meowcat is now building in the option to treat the mass as either neutral or charged … we just talked about it

[2016-11-01 14:43] meowcat commented on #42
As @schymane said, I am fixing this (currently in the S4power branch) with an option in the settings file, which is also a parameter to the findMz function:
[code]

[2016-11-01 15:36] meowcat opened #171 "parseMassBank - retain?"
Hi, particularly @ermueller
In 8d1d9178ad1bce0a2aa2001720ea4d5c1464d80b I added a function parseMbRecord which uses pretty much exactly the parseMassBank code, but returns a RmbSpectrum2 object instead of a mbWorkflow-formatted record. It is not yet polished (e.g. it will probably be an S4 method instead of a function.)

In S4power I have reworked the way MassBank records are generated, such that

[2016-11-01 20:46] sneumann commented on #171
Hi, I'd be all for in-place updating `parseMassBank()`, and fix the calling code.
Yours, Steffen

[2016-11-02 09:07] meowcat commented on #171
Hi,

I know the validation / unit testing uses the parser. Is there any other calling code? @schymane, any legacy scripts that are still in use that call parseMassBank?

[2016-11-02 15:13] uchem-massbank commented on #171
I have some scripts that use it but I also have the feeling that this will be solved much more elegantly with your upgrades. There is no current work that would be broken as far as I am aware, the work in the legacy scripts is done, the “new” work not started yet…

[2016-11-15 11:50] stanstrup opened #172 "msmsRead fails"
Hi,

I am trying to process some old MS/MS runs but running into an error I cant seem to pin down. It seems to come down to it looking for a RT at some point, not finding it, returning an empty object and failing.

I have attached the raw file and the script to reproduce the error.

[code]

[code]

[error_hunt.zip](https://github.com/MassBank/RMassBank/files/591827/error_hunt.zip)

[2016-11-15 12:41] meowcat commented on #172
Hi,

I just checked. While I don't know yet what the error is, two things

* you use mzData. I have last used that format years ago and never tested RMassBank with it anymore - we use mzML and mzXML. I don't know if the mzData parser for mzR is bad or if the data is not in the file, but when you open the file by hand with mzR and look at the header, there are no info about collision energy etc.
[c

[2016-11-16 12:44] stanstrup commented on #172
Hi,

thanks for looking into it.
I did notice the collision energy thing but when I tried to bug-hunt it seemed irrelevant since the  collision energy was just set to 0. In this case there was only 1 energy used so it didn't seem to make a difference. I now reconverted to mzML and it has the collision energy but the result is the same. I have attached the new file.

[2012-07-11-033_lockmass_rem.zi

[2016-11-29 07:59] schymane opened #173 "PubChem has moved to https => commit to BioC"
I committed to github
https://github.com/MassBank/RMassBank/commit/eb10244cc0c7281e9a3cb945d5635fb176558842
But this needs to go through to BioC - devel and release.

http://bioconductor.org/checkResults/release/bioc-LATEST/RMassBank/malbec1-checksrc.html
getPcId("MKXZASYAUGDDCJ-NJAFHUGGSA-N")
Error in fromJSON(data) : unexpected character '<'
Calls: getPcId -> fromJSON
The "<" comes from the "mov

[2016-11-29 09:56] #165 closed

[2016-11-29 11:13] meowcat commented on #172
Hi,

sorry for the low responsiveness; I tend to be busy with other stuff currently...

Multiple things here:

* mzR will still not work because there are no precursor scans... this is either "future features" or "will not fix", to be decided. A fix would effectively be a new or additional logic of how to look for the spectra.
* xcms workflow had a bug for the "standard" case where the number of c

[2016-12-23 12:00] sneumann opened #174 "Vignette broken "No MS1 data found in Glucolesquerellin_2184_1.mzData""
Hi, the xcms vignette is broken with message:

http://bioconductor.org/checkResults/devel/bioc-LATEST/RMassBank/malbec2-buildsrc.html
[code]
@jotsetung and @sneumann are looking into this.

[2016-12-23 12:24] jotsetung commented on #174
Seems the file does not contain any MS1 data and that crashes the new code in `xcms`. Will fix.

[2016-12-23 13:05] sneumann commented on #174
Hi,  Yes,  this is an MS2 scans only file.

---
I blame Android for the brevity and typos

[2016-12-23 13:53] sneumann commented on #174
Fixed in https://github.com/sneumann/xcms/commit/6dec3689c906b8557ebfe3bee91c1592e22852a2

[2016-12-31 13:05] sneumann commented on #174
Still leaving a new problem running `R CMD Sweave RMassBankXCMS.Rnw` :
[code]

[2016-12-31 13:10] sneumann commented on #174
Turns out that `R version 3.2.3 (2015-12-10)` is too old:
[code]
and should not happen on R-devel.

[2017-01-02 07:50] schymane commented on #174
Does this mean the problem is solved – or still in progress?
We seem to still have errors (Build Report 31/12)
http://bioconductor.org/checkResults/devel/bioc-LATEST/RMassBank/malbec2-buildsrc.html

[2017-01-02 07:55] sneumann commented on #174
There is a fix in xcms on github,
And I failed to use the git-svn and commit to Bioconductor. We are working on it. Yours Steffen

---
I blame Android for the brevity and typos

[2017-01-19 12:20] schymane commented on #173
@meowcat did this 9th Dec.

[2017-01-19 12:20] #173 closed

[2017-01-19 12:26] schymane opened #175 "loadList should check for Level entries in compound list"
A compound list without Level entries passes loadList checks but breaks msmsRead with a cryptic message:
w <- msmsRead(w,readMethod = "mzR",mode=RMB_mode, filetable = "targets_normal_pos_fileList_trim.csv")
   0%Error in if (level %in% c("0", "1", "1a", "1b", "1c", "2", "2a", "2b",  :
  argument is of length zero

Either we need to catch the error and print a better message, or catch this in loadL

[2017-02-23 07:58] schymane opened #176 "AC$CHROMATOGRAPHY: SOLVENT C entry needed"
We can only deal with two solvents (A and B) in settings, additional solvents have to be added post record generation. Need to expand settings to deal with this ... (I've just come across this again and have the workaround, posting this now so we don't forget it...).
@meowcat should we just restrict to "solvent C" or deal with as many entries as necessary? Are there any realistic cases we'd expect

[2017-02-23 09:17] schymane commented on #176
The hacked fix is here:
https://github.com/MassBank/MassBankAdministrationScripts/blob/master/R%20projects/MBrecordToFile/addInfoToRecord.R
e.g.

[2017-06-06 11:27] tsufz opened #177 "Include filetable workflow in vignette"
The vignette should contain also the filetable workflow.

[2017-06-06 17:13] schymane commented on #177
Did you check whether it is in the non-standard workflow vignette? There are a few different ones…

[2017-06-28 12:11] schymane opened #178 "Dealing with CEs that change with compound ID"
Currently it's really, really awkward to deal with the case that we have several substances measured e.g. once each, but at different collision energies. Either I have to put an unspecific entry in the settings file, or I have to choose one and patch things manually at the end. If the "patch" is forgotten, the spectra are misannotated.
I have also had to have way too many ugly patches in the past

[2017-06-28 21:12] schymane opened #179 "Seg Fault on BioC Linux devel and release"
We seem to have a seg fault happening (MSnbase, xcms?) only on Linux on BioC:
http://bioconductor.org/checkResults/devel/bioc-LATEST/RMassBank/malbec1-buildsrc.html
http://bioconductor.org/checkResults/release/bioc-LATEST/RMassBank/malbec2-buildsrc.html
It seems to me to be part of the xcms workflow but not 100% clear.

Any ideas? @ermueller @sneumann

[2017-06-29 14:18] schymane opened #180 "mention recalibrate.identity somewhere obvious in our documentation"
This option is not at all obvious from our standard documentation but I don't have time to fix it now, posting this so I don't forget...either fix in settings file or vignette or both...

# recalibrate MS1:
# separately (separate)
# with common curve (common)
# do not recalibrate (none)
recalibrateMS1: common
# Window width to look for MS1 peaks to recalibrate (in ppm)
recalibrateMS1Window: 15

#

[2017-06-30 12:08] schymane opened #181 "crazy recalibration"
I think this is likely a data error (i.e. that Warning 1 and 30 caused the problem; although I have had missing spectra often and never seen such a crazy recalibration plot) ... but for the record in case we observe again:

![image](https://user-images.githubusercontent.com/4070141/27734819-f7902e0c-5d9c-11e7-9f2f-84e248e40e40.png)

There were 30 warnings (use warnings() to see them)

Warnmeldunge

[2017-06-30 12:17] schymane commented on #181
Sadly not ... fixing warnings (1) and (30) above merely changed the number of warnings ... now "only" 25 ...
Looks like one substance has a major problem, but ppm 1e8?!
The 25 warnings are similar to the above warnings 2-29, plot also:

![image](https://user-images.githubusercontent.com/4070141/27735219-b6af57bc-5d9e-11e7-886a-8ebb670b762b.png)

[2017-06-30 12:39] schymane commented on #181
OK, this is likely because it's a mixed batch of Level 3, 4 and 5. Changing 2 Level 4s (formulas) to Level 5 (exact mass) doesn't fix the problem and generates more warnings.
One earlier mixed batch with only one Level 5 and lots of Level 3 worked fine. Potentially the mix of exact mass, formulas and SMILES? Quick fix is recalibrate.identity .. same crazy plot but no warnings. I guess one of the m

[2017-06-30 12:39] #181 closed

[2017-06-30 13:53] schymane commented on #180
plus add reminder to change this in the settings file (or add a check)
    ms_dataprocessing:
        RECALIBRATE: none

[2017-07-02 07:33] schymane commented on #179
The latest update: (also for https://github.com/sneumann/xcms/issues/193)
malbec2 is now happy:
http://bioconductor.org/checkResults/release/bioc-LATEST/RMassBank/
But malbec1 still has error:
http://bioconductor.org/checkResults/devel/bioc-LATEST/RMassBank/

[2017-07-08 09:45] schymane commented on #179
Latest build reports indicate no errors anymore, looks like it solved itself.
Closes https://github.com/sneumann/xcms/issues/193

[2017-07-08 09:45] #179 closed

[2017-08-12 18:07] tsufz opened #182 "Read collision energies not from mysettings.ini but from specific list"
It would be helpful if the collision energies could be read from a specific file connected with the compound IDs. In some cases, the setting in mysettings.ini is too general and fine granulated settings are necessary. This would be a great advantage to process data with very specific settings and average collision energies such as 60.71 from multi-stepped experiments running the normal work flow w

[2017-08-12 18:09] tsufz commented on #182
okay is related to #178.

[2017-08-12 18:09] #182 closed

[2017-08-12 18:13] tsufz commented on #178
I like (1) as it allows a fine granulated setting of CEs. I have for example a case like 60.71 as an average of a multi-stepped experiment :-(

[2017-08-12 18:17] tsufz commented on #178
Regarding (4), we should approach the Pwiz people. This is also the easiest way to reach the vendors, because they know each other.

[2017-08-12 21:03] tsufz opened #183 "Deprecate Molfiles"
In addition: Warning message:
In createMolfile(as.numeric(c[[1]][["COMMENT"]][[getOption("RMassBank")$annotations$internal_id_fieldname]])) :
  NAs introduced by coercion

Is this related to #175 ? Issue #175 should be documented better. Where to set the levels?

Molfile generation is a deprecated feature in my opinion and thus should be optional step. Could be implemented with a switch in mbworkf

[2017-08-13 08:42] tsufz commented on #183
Okay, was my own stupidity as I forgot to set the babel dir.... aargh... However, molfiles should be deprecated or optional. The deletion of molfiles is an additional step I would like to avoid.

It would be also appreciated if:
1) An existing recdata folder can be overwritten by yes / no.
2) An existing recdata folder can be owerwritten by an override via a switch.

The background is that is is a

[2017-08-13 08:44] tsufz commented on #176
So far, MB cannot handle a third entry. Needs to be fixed in the DB issues "#9".

[2017-08-13 08:47] tsufz commented on #176
We have also those cases, because we use a third solvent to clean the columns properly.

[2017-08-13 11:59] sneumann commented on #176
Hi @tsufz , can you point to where MB can't handle a third one ?
The docs don't say `AC$CHROMATOGRAPHY: SOLVENT C` is forbidden.
[code]

[2017-08-13 14:13] schymane commented on #176
The reason I first flagged this as an issue was because RMassBank didn't handle it as a setting, I am not aware of any restriction on the MassBank side and in fact have uploaded spectra with these three solvent entries in Eawag additional ... unless I am mistaken?
________________________________________
From: sneumann [notifications@github.com]
Sent: Sunday, 13 August 2017 1:59 PM
To: MassBank/RM

[2017-08-15 09:27] meowcat commented on #178
Wrt 4), CEs are in mzMLs and mzXMLs already, and readable by mzR (at least from Thermo data; see below). It used to be an issue when RMassBank was in its early stages but is not a problem anymore. An exception to this are the  "strange" ones arising from QExactive stepped CE (like @tsufz 's 60.71). They are of course still in the file, but aren't really useful as something to put in the record.

T

[2017-08-15 09:33] meowcat commented on #176
In RMassBank, IMO we should just change the settings from `lc_solvent_a` and `lc_solvent_b` to `lc_solvent` and make a named list for as many solvents as anyone wants to use. It's permitted in YAML if i'm not brutally mistaken.

[2017-11-12 15:01] schymane opened #184 "SMILES containing metals (As) fail Step 2 but pass Compound List check"
loadList, pre-screening and Step 1 worked fine on a compound list containing:

But at Step 2 (First analysis pre recalibration) a very uninformative error:

Presumably the dbe count can't deal with the metal.

fails similarly.

Processing proceeds normally after removing these compounds from the list.

[2017-11-12 16:51] schymane commented on #183
If we deprecate mol files, will we result in inconsistencies between what massbank.jp and massbank.eu need? MassBank.jp will still require mol file uploads, so if we no longer generate them, this will be worse than just generating them but not using them? One could set a switch, for instance.

[2017-11-12 18:27] tsufz commented on #183
No need to deprecate molfile generation at this point, just a reminder to keep it in mind.

[2017-11-29 10:10] Treutler opened #185 "Add 'NIST msp' to input choices"
I would like to create MassBank records from *.msp spectral libraries as this format is exported by raw-data-processing software like MS-DIAL.
For this, I would add the option 'msp' to parameter 'readMethod' in function 'msmsRead' and implement the corresponding functionality in file 'leMsmsRaw.R'.

[2017-11-29 10:28] Treutler opened #186 "Get feedback why spectra/peaks are gone"
When I started using RMassBank, my biggest problem was to find out why spectra/peaks are not exported to MassBank records. There are many reasons such as (i) the precursor ion of some compound is completely missing in the data, (ii) the precursor ion is outside of the rt-window, (iii) the mass error is larger then the specified PPM, multiplicityFilter, ppmFine, specOkLimit, and probably many more.

[2017-11-30 09:24] meowcat commented on #185
Hi Hendrik,

MSP input and output are really really high on my priority list. I have done some preliminary work, unfortunately I have not so much time to work on RMassBank right now.

I want to add the functionality, but not via msmsRead, rather as a "parsing" functionality that can read in MSP, MGF or MassBank spectra. I actually have more changes pending that make going from MassBank to MSP/MGF

[2017-11-30 11:35] Treutler commented on #185
Hi meowcat,

I would like to use RMassBank as follows: We (i) measure some standards, we (ii) process the raw data to msp, and RMassBank should (iii) select the standards-spectra from msp given the compound-list (and ignore the remaining spectra in the msp file) and (iv) export the standards-spectra to MassBank format and msp format.

I implemented the functionality to (iii) select the standards-s

[2017-11-30 12:24] meowcat commented on #185
Hi Hendrik,

We can work on that; one question though: why do you not process the raw data directly with RMassBank?

[2017-11-30 12:28] Treutler commented on #185
We work with SWATH-MS/MS data and as far as I know this kind of data is not supported by xcms/CAMERA (in particular the deconvolution of SWATH-MS/MS spectra). We do the raw-data processing using MS-DIAL instead and export the spectra to msp.

[2017-11-30 14:32] meowcat opened #187 "process M2+"
for Yvonne. Only replace search for parent. Other people interested?

[2017-12-01 12:21] meowcat commented on #185
Oh. Yeah I have actually started to implement a SWATH deconvolution in RMassBank but I don't think it's really working well yet.

What do you currently use to parse MSP? Can it deal with both the "conventional MSP format" ```mz int, mz int, mz int``` or also with the "hi-res format"
[code]
etc?

I am currently only working on the latter, but to me it is important also

* to parse all the possible

[2017-12-14 09:07] sneumann opened #188 "Write CH$LINK in alphabetical order"
Hi, the [MassBank specification](https://github.com/MassBank/MassBank-web/blob/master/Documentation/MassBankRecordFormat.md#table-1--massbank-record-format-summary-not-updated)
requires alphabetical order for e.g. `CH$LINK`s:
`Note 1. Within each tag, data fields should be arranged by the alphabetical order of subtag names.`
Rene's validator is now checking for that, and Michael's [pull request](h

[2017-12-14 09:46] meowcat commented on #188
Hi,
disregard the current Master branch as far as MassBank record creation goes; this is basically handled entirely differently now. Most of it but not all is in the S4power branch. I will tend to this but not immediately...

[2018-01-24 19:57] sneumann opened #189 "ontoCAT deprecation"
Hi, after some attempts, ontoCAT (in our `Suggests:`) will really
be deprecated in BioC 3.7 this year due to request from its maintainer.
A possible replacement might be https://bioconductor.org/packages/release/bioc/html/rols.html
Maybe @ermueller could check that out ? Yours, Steffen

[2018-03-19 07:37] sneumann commented on #189
This is a duplicate of #115 . Yours, Steffen

[2018-03-19 07:37] #189 closed

[2018-03-19 07:37] sneumann commented on #115
So, it's 2018 and ontoCAT removal is imminent, we should disable code relying on ontoCAT. Yours, Steffen

[2018-04-16 16:55] schymane opened #192 "ChemSpider API direct documentation links / future migration"
ChemSpider have taken down documentation of their current API, the old pages can be found here:
MassSpecAPI – http://www.chemspider.com/MassSpecAPI.asmx
Search - http://www.chemspider.com/Search.asmx
InChI - http://www.chemspider.com/InChI.asmx
Spectra - http://www.chemspider.com/Spectra.asmx

New APIs are being developed but they appear to still be maintaining the old ones for now according to th

[2018-04-17 13:08] schymane commented on #192
Is anyone interested in working with ChemSpider to investigate the new API? @sneumann anyone from your side? Potential implications for MetFrag even greater @c-ruttkies

[2018-04-19 07:42] meowcat commented on #192
Hi @schymane,
thanks for catching that. I just checked, seems like the one command used in RMB is "InChIKeyToCSID". My suggestion is to wait for a while. Maybe there will be some R package springing up that deals with it for us.

The new API requires a personal API key - I don't know if for all requests, but at least for the InChI key to CSID conversion  - so I'm not sure we could "include" one wi

[2018-04-24 13:52] tsufz commented on #192
Hi, We should start discussion with RCS. Obviously, they want to protect their API services in order of a better marketing for commercial usages. However, there should be a way to get this information without a key. This will stop any contributions by companies as they will not pay just to get data for the processing of MassBank records...

[2018-04-24 13:55] schymane commented on #192
Are you volunteering to take a lead role in discussions @tsufz? They have approached us to talk, I would add you into the conversation.

[2018-04-24 13:55] tsufz commented on #192
I got an email today, legacy API will be deprecated end of 2018.

[2018-04-24 13:59] tsufz commented on #192
Yes, but not before end of May or so.

[2018-04-24 14:09] schymane commented on #192
Done. @sneumann you've been volunteered too :-) blame me *ducks*

[2018-04-27 09:25] schymane opened #193 "Bizarre compound/peaks mismatch in CASMI2016 data prepared with RMB"
Issue of mismatching peaks and compound info for 4 records/3 compounds in CASMI2016 data - TBD if this affects more records. Prepared using RMB, looks like (on first glance) a strange mismatch between msWorkflow and mbWorkflow. More details:
https://github.com/MassBank/MassBank-data/issues/9

[2018-04-30 07:58] meowcat commented on #193
Hey Emma,

this is not very good - however, in order to debug this in a meaningful way, I'd need the entire processing data for the CASMI records, i.e. mz(X)ML files, script, settings, input tables etc . Do we have that?

[2018-05-01 18:48] schymane commented on #193
Yes I have this info but need to do the trace back my side to find the correct raw data etc before I can say more (it's complicated as it was compiled from several mixes). I'll keep you posted as soon as I know
more (been on the road...)

[2018-06-12 09:30] tsufz opened #194 "Create project tags"
See https://github.com/MassBank/MassBank-web/issues/88 for details

[2018-06-13 13:03] tsufz opened #195 "Integrate webchem functions for meta data retrieval"
There is a new package called webchem. It provides some cool functions to retrieve data from different sources where Cactus and CTS fail.

See https://github.com/ropensci/webchem

[2018-06-14 06:37] schymane commented on #115
I'm reopening this because something is wrong and BioC are threatening to deprecate us now if we don't fix ... @sneumann @meowcat can you please look into it?
"The package has been failing since 05/16/18; If no action is taken over the next few weeks we will begin the deprecation process for your package."

http://bioconductor.org/checkResults/3.8/bioc-LATEST/RMassBank/malbec1-checksrc.html

* che

[2018-06-14 06:58] sneumann commented on #115
Hi, I excised the code relying on ontoCat a while ago:
https://github.com/MassBank/RMassBank/pull/190/files
So probably this has not yet been pushed to BioC ?
Yours, Steffen

[2018-06-14 07:03] schymane commented on #115
Ahha. Perhaps one has to be careful with commit messages closing issues then:
`Remove code depending on ontoCAT. Closes #115`
Because removing the code is part of the issue but the issue cannot be closed until it is pushed to BioC. But once closed it fell off the radar.
Who will take care of that @meowcat @sneumann?

[2018-06-22 09:47] schymane opened #196 "Update documentation for BiocManager changes"
Dear bioc-devs,
A month ago we notified you about our "next generation" changes to BiocInstaller.
Thanks to all beta testers and those who provided feedback and suggestions for a new package name.
I am pleased to inform you that BiocManager is now on CRAN:
https://cran.r-project.org/web/packages/BiocManager/index.html
As mentioned in our last email, you can now install BiocManager using:
[code]

A

[2018-06-28 07:00] schymane commented on #188
I am closing this for now because it was agreed to remove this requirement from the specifications ...

[2018-06-28 07:00] #188 closed

[2018-06-28 07:08] schymane commented on #187
I had commented this in an earlier issue on NH4+ ... with a side comment whether we could add user defined adducts.
https://github.com/MassBank/RMassBank/issues/112

More philosophically ... I keep running into the general issue where I could/do prescreen for the most intense adduct, then it would be cool to just process RMassBank and define the adduct species to extract actually in the compound l

[2018-06-28 07:10] schymane commented on #184
Closed with https://github.com/MassBank/RMassBank/commit/6cada572c0c884b6f1261561605407dd6034438e

[2018-06-28 07:10] #184 closed

[2018-06-28 07:12] schymane commented on #158
I think this has been solved with upgrades to CDK ... my recent problems with non-standard elements came from our internal code not dealing with them, not the CDK. CDK2.0 now deals with isotopes etc well. Closing for now.

[2018-06-28 07:12] #158 closed

[2018-06-28 07:14] schymane commented on #183
We should revisit this deprecation, it's a quite time-consuming part of the workflow now for extensive lists where no-one actually has a use for the molfiles anymore ... massbank.jp is no longer accepting records and with the move to MassBank-data we no longer need them ...
Is the simplest option just to do a switch on/off in the settings and set default to NOT generating molfiles?

[2018-06-28 07:21] schymane opened #197 "Debug Level 5 Unknown Mass behaviour"
I'm just flagging this as an issue to follow up on, as I experienced unexpected behaviour when trying to add an exact (monoisotopic, neutral) mass to my compound list and adjust this for mode. Need to debug and document differences between compound list with entry mz and mass vs exactMass etc ... because some use cases we'll have the ion where we don't know the adduct species (from e.g. nontarget

[2018-06-28 16:36] schymane commented on #112
It seems something isn't quite right for pNH4 yet:

msmsWorkflow: Step 7. Reanalyze fail peaks for N2 + O
  |                                                                                                                                                                                          |

[2018-06-28 16:46] schymane commented on #112
I've added what should be the missing code and will test ...

[2018-06-28 17:01] schymane commented on #112
This should probably have been closed long ago, latest error fixed with https://github.com/MassBank/RMassBank/commit/b027f652baa61e21e38a943d9b5c7cdbc34417b7

[2018-06-28 17:01] #112 closed

[2018-06-30 08:31] sneumann commented on #196
Hm, where are we mentioning `biocLite`/`BiocInstaller` ? I could not find anything with `find RMassBank -type f | xargs grep -i biocLite` and the section "Installation and loading" in `RMassBank.Rnw` only mentions "available from Bioconductor". Lets wait if another message comes through, or if this is a false positive by BioC people. Yours, Steffen

[2018-07-10 20:43] sneumann opened #198 "getCtsKey: Error: $ operator is invalid for atomic vectors"
On all architectures we have a CHECK error in the CTS checks:
[code]
http://bioconductor.org/checkResults/devel/bioc-LATEST/RMassBank/malbec1-checksrc.html

[2018-07-11 03:16] schymane commented on #198
Is CTS actually working? When I land on the webpage a see an error and can't go further (from phone). That's the usual cause of sudden errors...

[2018-07-11 07:18] meowcat commented on #198
It works like half, when I use it manually...

[2018-07-11 07:19] tsufz commented on #198
http://cts.fiehnlab.ucdavis.edu/ works

[2018-07-11 07:22] schymane commented on #198
When I visit the website I see a “Error 500 When calling /rest/toValues” message which indicates to me that something is wrong somewhere.
Real issue: the error message does not really indicate the problem. By now I know that if we have an atomic vector error, it means CTS is down. Maybe we need to catch this in a slightly more elegant manner and print an error message that is appropriate – or buil

[2018-07-11 07:38] meowcat commented on #198
I'm not sure CTS being down is actually the issue, since the vignettes seem to build? The error is actually in the examples, not the vignette. Also CTS works every second time I try it. I'll look into it.

[2018-07-11 08:31] meowcat commented on #198
The error is indeed with CTS being flaky.

[code]

[2018-07-11 08:34] schymane commented on #198
Yes this is what I suspected. I suggest (a) we try to catch the error and change it to a warning and (b) redirect it to generating an InChIKey another way if CTS fails. We have enough fallbacks now. You could try to just make it re-query CTS but it’s clear it’s a CTS performance issue again and this will not always work [I have reported it to CTS btw through bitbucket]

[2018-07-11 09:41] meowcat commented on #198
As a sidenote, we might want to migrate to webchem or such instead of keeping our own CTS querying tools up to date (or not so up to date)... https://github.com/ropensci/webchem

[2018-07-11 09:46] schymane commented on #198
This CTS issue we’ve had from the beginning iirc. We never caught this nicely.
We can consider migration but it’s likely more work, I’m not volunteering at this stage but we already flagged it … https://github.com/MassBank/RMassBank/issues/195

[2018-07-11 10:59] meowcat commented on #198
Just to throw it out there, as far as the tests/examples go it would also be an idea to cache the responses with https://github.com/ropensci/vcr / https://github.com/ropensci/webmockr, so that the tests only check the behaviour of the R function and not of the webservice. I think we'd have to move to crul instead of curl for that. Not something I do today or tomorrow but in the future possibly yes

[2018-07-19 13:01] meowcat commented on #198
Hi,

Apparently I waited the error out and now it builds successfully. Was there any feedback from CTS?

[2018-07-19 14:00] schymane commented on #198
I didn’t get any direct reply from them :-(

[2018-07-24 07:55] tsufz commented on #192
Will be end of November 2018:
http://link.rsc.org/rsps/m/xSq8Cm8ovjN8-Elm0eYB3Sey61zutqNIUUaMcyc14sQ

[2018-07-25 08:28] schymane opened #199 "msmsWorkflow fails at Step 2 with most recent rcdks"
The latest rcdks come with very verbose messages and (currently doing RMassBank on unfamiliar files) I get failure at
w <- msmsWorkflow(w, steps=c(2), mode=RMB_mode, archivename=archive_name)
which is almost certainly due to rcdk - when I replace with an old version of rcdk I can run without issues. The warnings were terribly ugly, culminating in an uninformative error and now long gone as I had t

[2018-07-26 11:36] Treutler opened #200 "SP$SAMPLE @ RMassBank?"
Hi,

is there any possibility in RMassBank to include SP$SAMPLE fields into MassBank records?
If not, how is this usually done?

In addition: Which subtags are commonly used? In the record format specification there are no subtags specified, but there are examples trying to do this, e.g.
https://massbank.eu/MassBank/jsp/RecordDisplay.jsp?id=ETS00011&dsn=Eawag_Addn

Any suggestions welcome.

Best r

[2018-07-26 14:39] sneumann commented on #199
Hi, I can confirm problem with rcdk-3.4.9. Haven't checked in detail, but running
`R CMD check RMassBank` I get
[code]
and later
[code]
so I guess `get.exact.mass` is the actual culprit. And indeed the example
from the manpage does not work:
[code]
Yours,
Steffen

[code]

[2018-07-27 12:42] Treutler opened #201 "Precursor mz/rt search in raw data"
I observed that there is a code branch which completely ignores the precursor m/z while searching for the right MS/MS spectrum:
https://github.com/MassBank/RMassBank/blob/master/R/leMsmsRaw.R#L512

Is this intended in case the wrong adduct was specified? However, this can lead to wrongly selected MS/MS spectra which are treated and exported as usual. I have the feeling that this is dangerous.

Any

[2018-07-27 12:46] schymane commented on #201
If I recall correctly we had to have a workaround for cases where MS1 and MS2 are in separate files (happens on some instruments), so the MS2 to access is guided differently. Should only be used in the correct context. May also be useful to deal with DIA data where the precursor is not exact. Please don’t remove any of these special options … there is a reason for most things Michele did :-)

[2018-07-27 12:54] Treutler commented on #201
Maybe the best way to deal with this is to add the optional option to prevent this. At least in my case I observe that this leads to the selection of completely wrong MS/MS spectra without any warning and I only noticed it because I am working on more verbose console messages.

[2018-07-27 13:09] meowcat commented on #201
@schymane: I didn't do it, that was Erik, it's the XCMS workflow :)

[2018-07-27 13:13] schymane commented on #201
Ahha sorry @meowcat I didn’t click the link.
Would indeed be good if additional checks are added to the xcms workflow if needed to avoid bad results. I misunderstood and thought it may have been the Bruker (?) workaround … I have little experience with the xcms workflow.

[2018-08-27 15:36] tsufz opened #202 "Omit CDK messages"
Hi, I get lots of cdk messages such as  [main] Info org.openscience.cdk.formula.MassToFormulaTool. Would it be possible to omit those messages?

[2018-08-30 08:15] tsufz opened #203 "Annotation"
Would be great to add comments to annonations by the settings file.

[2018-09-09 23:23] tsufz opened #204 "Change IONISATION and ION_MODE"
MassBank validation complains on the wrong order of the fields

RMB writes
AC$MASS_SPECTROMETRY: IONIZATION ESI
AC$MASS_SPECTROMETRY: ION_MODE POSITIVE

The validator wants:
AC$MASS_SPECTROMETRY: ION_MODE POSITIVE
AC$MASS_SPECTROMETRY: IONIZATION ESI

[2018-09-10 17:32] tsufz commented on #194
closed with 812c4c7d10ca94425947724ad6f813f875eac5eb

[2018-09-10 17:33] tsufz commented on #194
Sorry, wrong repository. Project tags are specified with 812c4c7d10ca94425947724ad6f813f875eac5eb.

[2018-09-11 12:49] tsufz commented on #176
The 2.4.6 Subtag: SOLVENT specification has no restrictions on the number of solvents. It is iterative.

[2018-09-11 12:57] tsufz commented on #204
fixed in https://github.com/MassBank/RMassBank/pull/205/commits/175d3bb0da91c4cf6e2478562481639d7ee1ac92

[2018-09-20 08:17] kamakamadaun commented on #82
To update this. Newer versions of Proteowizard should work. It is unclear if the lockmassrefiner needs to be used. It apparently depends on the version of masslynx installed and what was used to generate the data. it is a big mess.